section.wrapper-main-banners
    section#main-banner.slider
      div
          img.img-responsive(src='./img/banner5.jpg')
          //- .carousel-caption
          //-   | Lorem ipsum dolor sit amet, consectetur adipi
      div
          img.img-responsive(src='./img/banner6.jpg')
          //- .carousel-caption
          //-   | Lorem ipsum dolor adipisicing elit. Quos quibusda          
      div
          img.img-responsive(src='./img/banner7.jpg')
          //- .carousel-caption
          //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quibusda