section.wrapper-dm-products   
    .container
        .row
            section#carousel-dm-products.slider
                div.col-sm-12
                    .dm-products.dm-products--opacity(style="background-image:url(./img/dm1.jpg) ")
                        .dm-products__wrapper-info
                            .dm-products__info
                                .dm-products__title
                                    h3
                                        | Europa Mundo
                                .dm-products__link 
                                    a(href="",target="_blank") Descubre más
                    
                div.col-sm-12
                    .dm-products.dm-products--opacity(style="background-image:url(./img/dm2.jpg) ")
                        .dm-products__wrapper-info
                            .dm-products__info
                                .dm-products__title
                                    h3
                                        | Alamo
                                .dm-products__link 
                                    a(href="",target="_blank") Descubre más
                div.col-sm-12
                    .dm-products.dm-products--opacity(style="background-image:url(./img/dm3.jpg) ") 
                        .dm-products__wrapper-info
                            .dm-products__info
                                .dm-products__title
                                    h3
                                        | Espectáculos y excursiones
                                .dm-products__link 
                                    a(href="",target="_blank") Descubre más
                div.col-sm-12
                    .dm-products.dm-products--opacity(style="background-image:url(./img/dm4.jpg) ") 
                        .dm-products__wrapper-info
                            .dm-products__info.dm-products__info--text-right
                                .dm-products__title
                                    h3
                                        | Disney
                                .dm-products__link 
                                    a(href="",target="_blank") Descubre más
                div.col-sm-12
                    .dm-products.dm-products--opacity(style="background-image:url(./img/dm5.jpg) ") 
                        .dm-products__wrapper-info
                            .dm-products__info
                                .dm-products__title
                                    h3
                                        | Alamo
                                .dm-products__link 
                                    a(href="",target="_blank") Descubre más
                div.col-sm-12
                    .dm-products.dm-products--opacity(style="background-image:url(./img/dm6.jpg) ") 
                        .dm-products__wrapper-info
                            .dm-products__info
                                .dm-products__title
                                    h3
                                        | Espectáculos y excursiones
                                .dm-products__link 
                                    a(href="",target="_blank")  Descubre más
