section.wrapper-our-services
    .container
        .wrapper-our-services__title
            h2 Nuestros 
                span
                    | Servicios
        .wrapper-our-services__items
            .row
                section#carousel-dm-services.slider
                    .col-xs-6.col-sm-3
                        .our-services
                            .our-services__img
                                .divImag
                                    img(src="./img/Iconos-Web-agil-online.png", class="")
                                .our-services__title.our-services__title--plomo
                                    .our-services__icon.our-services__icon--sombrero
                                    .our-services__title-h
                                        h3 Agil Online 
                            .our-services__info
                                .our-services__info-p
                                    p
                                        | Te brindamos herramientas en línea para vender y llegar a más mercados. Además, podrás medir, controlar y planificar dentro de tu empresa.
                                .our-services__button
                                    a.Button.Button--rojo(href="#") ¡Me interesa!
                    .col-xs-6.col-sm-3
                        .our-services
                            .our-services__img
                                .divImag
                                     img(src="./img/Iconos-Web-incentivos.png", class="")
                                .our-services__title.our-services__title--rojo
                                    .our-services__icon.our-services__icon--hand
                                    .our-services__title-h
                                        h3 Incentivos
                            .our-services__info
                                .our-services__info-p
                                    p
                                        | ¡Recompénsate y prémiate por tus ventas! Encuentra aquí incentivos y premios por tu venta.
                                .our-services__button
                                    a.Button.Button--plomo(href="#") ¡Me gusta!
                    .col-xs-6.col-sm-3
                        .our-services
                            .our-services__img
                                .divImag
                                    img(src="./img/Iconos-Web-agil-academy.png", class="")
                                .our-services__title.our-services__title--plomo
                                    .our-services__icon.our-services__icon--sombrero
                                    .our-services__title-h
                                        h3 Agil Academy   
                            .our-services__info
                                .our-services__info-p
                                    p
                                        | Nos encargaremos de brindarte las capacitaciones adecuadas a tus necesidades. Inscríbete y gerencia tu aprendizaje.
                                .our-services__button
                                    a.Button.Button--rojo(href="#") ¡Lo necesito!
                    .col-xs-6.col-sm-3
                        .our-services
                            .our-services__img
                                .divImag
                                    img(src="./img/Iconos-Web-asesoria.png", class="")
                                .our-services__title.our-services__title--rojo
                                    .our-services__icon.our-services__icon--partner
                                    .our-services__title-h
                                        h3 Asesoría                            
                            .our-services__info
                                .our-services__info-p
                                    p
                                        | Como servicio premium, contamos con un equipo de profesionales para asesorarte según el modelo de tu negocio.
                                .our-services__button
                                    a.Button.Button--plomo(href="#") ¡Lo quiero! 
                    .col-xs-6.col-sm-3
                        .our-services
                            .our-services__img
                                .divImag
                                    img(src="./img/Iconos-Web-agil-tools.png", class="")
                                .our-services__title.our-services__title--plomo
                                    .our-services__icon.our-services__icon--partner
                                    .our-services__title-h
                                        h3 Agil Tools                            
                            .our-services__info
                                .our-services__info-p
                                    p
                                        | Encuentra todas las noticias y herramientas para aumentar tus ventas. Noticias, cursos e itinerarios para que estés actualizado con las tendencias del turismo.
                                .our-services__button
                                    a.Button.Button--rojo(href="#") ¡Lo quiero! 


                                                                                     