section.wrapper-our-products
    .container
        .wrapper-our-products__title
            h2 Conoce nuestros 
                span
                    | Productos    
        //-.wrapper-our-products__items
            .row
                .col-sm-4.our-products
                    .our-products__img
                        i.icon-flight
                    .our-products__title
                        h3 Vuelos
                    .our-products__info
                        p
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, aliquam harum vel rem ratione aut debitis commodi reiciendis eum a error sint ipsum ea nesciunt itaque voluptate possimus voluptatum! Architecto.
                .col-sm-4.our-products
                    .our-products__img
                        i.icon-h-sigh
                    .our-products__title
                        h3 Hoteles
                    .our-products__info
                        p
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, aliquam harum vel rem ratione aut debitis commodi reiciendis eum a error sint ipsum ea nesciunt itaque voluptate possimus voluptatum! Architecto.
                .col-sm-4.our-products
                    .our-products__img
                        i.icon-suitcase
                    .our-products__title
                        h3 Vuelo + Hotel
                    .our-products__info
                        p
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, aliquam harum vel rem ratione aut debitis commodi reiciendis eum a error sint ipsum ea nesciunt itaque voluptate possimus voluptatum! Architecto.