section.wrapper-sales
    .container
        .row
            .col-xs-6.col-sm-3
                .sales-post.sales-post__opacity(style="background-image:url(./img/sales1.jpg) ")
                    .sales-post__icon-heart
                        i.icon-heart
                    .sales-post__info
                        .sales-post__title-post
                            .sales-post__title
                                h2 Cancun
                            .sales-post__country
                                h3 México
                        .sales-post__info-small
                            span Tarifa promedio
                        .sales-post__price
                            .sales-post__price-cant
                                span 1,599
                            .sales-post__price-corruncy
                                span usd
                        .sales-post__button 
                            button.btn
                                i.icon-search
                                | Buscar
            .col-xs-6.col-sm-3
                .sales-post.sales-post__opacity(style="background-image:url(./img/sales2.jpg) ")
                    .sales-post__icon-heart.sales-post__icon-heart--active
                        i.icon-heart
                    .sales-post__info
                        .sales-post__title-post
                            .sales-post__title
                                h2 Arequipa
                            .sales-post__country
                                h3 Perú
                        .sales-post__info-small
                            span Tarifa promedio
                        .sales-post__price
                            .sales-post__price-cant
                                span 90
                            .sales-post__price-corruncy
                                span usd
                        .sales-post__button 
                            button.btn
                                i.icon-search
                                | Buscar
            .col-xs-6.col-sm-3
                .sales-post.sales-post__opacity(style="background-image:url(./img/sales3.jpg) ")
                    .sales-post__icon-heart
                        i.icon-heart
                    .sales-post__info 
                        .sales-post__title-post                       
                            .sales-post__title
                                h2 Cuzco
                            .sales-post__country
                                h3 Perú
                        .sales-post__info-small
                            span Tarifa promedio
                        .sales-post__price
                            .sales-post__price-cant
                                span 50
                            .sales-post__price-corruncy
                                span usd
                        .sales-post__button 
                            button.btn
                                i.icon-search
                                | Buscar
            .col-xs-6.col-sm-3
                .sales-post.sales-post__opacity(style="background-image:url(./img/sales4.jpg) ")
                    .sales-post__icon-heart
                        i.icon-heart
                    .sales-post__info
                        .sales-post__title-post
                            .sales-post__title
                                h2 Barcelona
                            .sales-post__country
                                h3 España
                        .sales-post__info-small
                            span Tarifa promedio
                        .sales-post__price
                            .sales-post__price-cant
                                span 3,752
                            .sales-post__price-corruncy
                                span usd
                        .sales-post__button 
                            button.btn
                                i.icon-search
                                | Buscar
