.form-group
  .col-sm-12
    .content-comunicados
      table#com_table_data.table-agil
        thead
            tr
                th.table-agil---center
                    label Fecha de publicación
                th.table-agil---center
                    label Descripción 
                th.table-agil---center
                    label                                                                    
        tbody

         