.form-group
  .filter-comunicados
    .row
      .col-sm-4.Input--with-icon
        input.Input.form-control(id='aerolineas', autocomplete='off', placeholder="Escribe el nombre de la aerolínea",list="json-aerolineas")
        datalist(id="json-aerolineas")          
        i.icon-search  
