.wrapper-form-comunicados
  include ../includes/_breadcrumb.pug 
  .container
    h1.Title-section Comunicados
      i.icon-question-circle-o(data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?")
    .form-comunicados 
        //-form(id="form-comunicados",class="form-horizontal form form--label-left")   
        include ./_filtros.pug
        include ./_content_list.pug  
 


          
        