.wrapper-form-register
  .container
    h2.Title-section ¡Hola!
    .form-register 
      p
        | Bienvenido a Ágil, ingresa tus datos
         
      form(action="#",id="form-register",class="form-horizontal form form--label-left",method="post")   
        .row     
          .col-sm-6.form-agency  
            include ./_form_agency.pug
          .col-sm-6.form-user
            include ./_form_user.pug
          .col-sm-12.text-center
            p 
              | (*) Datos obligatorios para el registro. 
          .col-sm-12
            p           
          .col-sm-12.text-center
            p
              | Al crear una cuenta aceptas nuestra 
              a(href="https://www.nmviajes.com/politicas-privacidad", target="_blank") política de privacidad
          .col-sm-12
            button.Button.Button--oscuro.form-register--button-center(type='submit') Registrarse