h3
  | Datos de la agencia 
  i.icon-flight
.form-group
  label.col-sm-4.control-label(for='type_document_agency') Tipo de doc. :
    span.red-error *
  .col-sm-3 
    .Select(data-rule-required="true", data-msg-required="")
      select#type_document_agency(name='type_document_agency')
        option(value="0", data-title="Seleccione...") Seleccione...
        option(value="1", data-title="RUC") RUC  
        option(value="2", data-title="SDN") SDN
  .col-sm-5
    input.Input.form-control(type='text',name='input_nro_documento_agency',id='input_nro_documento_agency',placeholder="Nro. de documento",autocomplete='off',data-rule-required="true", data-msg-required=" ", disabled="disabled")
.form-group
  label.col-sm-4.control-label(for='name_agency') Agencia : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id='name_agency',type='text',name='name_agency',autocomplete='off',data-rule-required="true", data-msg-required=" ",maxlength ="100")   
.form-group
  label.col-sm-4.control-label(for='address_agency') Dirección : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id='address_agency',type='text',name='address_agency',autocomplete='off',data-rule-required="true", data-msg-required=" ",maxlength ="200")      
.form-group
  label.col-sm-4.control-label(for='agency_country') País : 
    span.red-error *
  .col-sm-5
    .Select(data-rule-required="true", data-msg-required="")
      select#agency_country(name='agency_country',)
        option(value="0", data-title="Seleccione...") Seleccione...
        option(value="1", data-title="Perú") Perú  
        option(value="2", data-title="Chile") Chile  
        option(value="3", data-title="Argentina") Argentina  
        option(value="4", data-title="Brasil") Brasil       
.form-group
  label.col-sm-4.control-label(for='agency_city') Ciudad : 
    span.red-error *
  .col-sm-5  
    .Select(data-rule-required="true", data-msg-required="")
      select#agency_city(name='agency_city')
        option(value="0", data-title="Seleccione...") Seleccione...
        option(value="1", data-title="Lima") Lima  
        option(value="2", data-title="Arequipa") Arequipa  
        option(value="3", data-title="Cuzco") Cuzco  
        option(value="4", data-title="Tacna") Tacna      
.form-group
  label.col-sm-4.control-label(for='agency_district') Distrito : 
    span.red-error *
  .col-sm-5 
    .Select(data-rule-required="true", data-msg-required="")
      select#agency_district(name='agency_district')
        option(value="0", data-title="Seleccione...") Seleccione...
        option(value="1", data-title="Lima") Miraflores  
        option(value="2", data-title="San Borja") San Broja  
        option(value="3", data-title="Lima") Lima  
        option(value="4", data-title="San Juan de Miraflores") San Juan de Miraflores          
.form-group
  label.col-sm-4.control-label(for='agency_incentive') Incentivo : 
    span.red-error *
  .col-sm-8  
    .Select(data-rule-required="true", data-msg-required="")
      select#agency_incentive(name='agency_incentive')
        option(value="0", data-title="Seleccione...") Seleccione...
        option(value="1", data-title="Tarjeta Mágica") Sin Incentivo
        option(value="2", data-title="Factura") Factura 
        option(value="3", data-title="Tarjeta Mágica") Tarjeta Mágica  
        option(value="4", data-title="RH") RH
