h3
  | Datos del usuario 
  i.icon-user

.form-group
  label.col-sm-4.control-label(for='email_user') Email : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id='email_user',type='text',name='email_user',autocomplete='off',data-rule-required="true", data-msg-required=" ")
.form-group
  label.col-sm-4.control-label(for='names') Nombres : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id='names',type='text',name='names',autocomplete='off',data-rule-required="true", data-msg-required=" ",maxlength ="50")
.form-group
  label.col-sm-4.control-label(for='lastname_f') Apellido Paterno : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id='lastname_f',type='text',name='lastname_f',autocomplete='off',data-rule-required="true", data-msg-required=" ",maxlength ="30")   
.form-group
  label.col-sm-4.control-label(for='lastname_m') Apellido Materno : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id ='lastname_m',type='text',name='lastname_m',autocomplete='off',data-rule-required="true", data-msg-required=" ",maxlength ="30")
.form-group
  label.col-sm-4.control-label(for='birth_date') F. de Nacimiento : 
    span.red-error *
  .col-sm-7.Input--with-icon
    input.Input.form-control.datepicker(id='birth_date',type='text',name='birth_date',autocomplete='off',data-rule-required="true", data-msg-required=" ", placeholder="__/__/____")  
    i.icon-calendar-1
.form-group
  label.col-sm-4.control-label(for='input_nro_document_user') Tipo de doc. : 
    span.red-error *
  .col-sm-5
    .Select(data-rule-required="true", data-msg-required="")
      select#type_document_user(name='type_document_user')
        option(value="0", data-title="Seleccione...") Seleccione...
        option(value="1", data-title="DNI") DNI  
        option(value="2", data-title="Carnet de extranjería") Carnet de extranjería
        option(value="3", data-title="Pasaporte") Pasaporte        
  .col-sm-3   
    input.Input.form-control(type='text',id='input_nro_document_user',name='input_nro_document_user',autocomplete='off',data-rule-required="true", data-msg-required=" ",disabled="disabled",placeholder="Nro. de doc.")   
.form-group
  label.col-sm-4.control-label(for='job ') Cargo : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id='job',type='text',name='job',autocomplete='off',data-rule-required="true", data-msg-required=" ",maxlength ="100")  
.form-group
  label.col-sm-4.control-label(for='address_user ') Domicilio : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(id='address_user',type='text',name='address_user',autocomplete='off',data-rule-required="true", data-msg-required=" ",maxlength ="200")                        
.form-group
  label.col-sm-4.control-label(for='country') País : 
    span.red-error *
  .col-sm-5  
    .Select(data-rule-required="true", data-msg-required="")
      select#user_country(name='user_country',)
        option(value="0", data-title="Seleccione...") Seleccione...        
        option(value="1", data-title="Perú") Perú  
        option(value="2", data-title="Chile") Chile  
        option(value="3", data-title="Argentina") Argentina  
        option(value="4", data-title="Brasil") Brasil         
.form-group
  label.col-sm-4.control-label(for='city') Ciudad : 
    span.red-error *
  .col-sm-5
    .Select(data-rule-required="true", data-msg-required="")
      select#user_city(name='user_city')
        option(value="0", data-title="Seleccione...") Seleccione...              
        option(value="1", data-title="Lima") Lima  
        option(value="2", data-title="Arequipa") Arequipa  
        option(value="3", data-title="Cuzco") Cuzco  
        option(value="4", data-title="Tacna") Tacna       
.form-group
  label.col-sm-4.control-label(for='district') Distrito : 
    span.red-error *
  .col-sm-5
    .Select(data-rule-required="true", data-msg-required="")
      select#user_district(name='user_district')
        option(value="0", data-title="Seleccione...") Seleccione...              
        option(value="1", data-title="Lima") Miraflores  
        option(value="2", data-title="San Borja") San Broja  
        option(value="3", data-title="Lima") Lima  
        option(value="4", data-title="San Juan de Miraflores") San Juan de Miraflores         
.form-group
  label.col-sm-4.control-label(for='number_mobile ') Móvil : 
    span.red-error *
  .col-sm-8
    input.Input.form-control(type='text',id='number_mobile',name='number_mobile',autocomplete='off',data-rule-required="true", data-msg-required=" ",data-rule-minlength="9",data-msg-minlength="Ingresa mínimo 9 dígitos", maxlength="15")  

