.search_modreporte-adminitrativo
    .col-lg-12
        .modulo-alert
            i.icon-attention-alt Si ingresa el número de comprobante, no se tomarán en cuenta los demás campos para filtrar en el reporte.
    br
    br
    .panel-body
        .form-horizontal
            .form-group
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    label.control-label(for='Sub_codigo') Sub código:
                .col-xs-12.col-sm-12.col-md-12.col-lg-3
                    .Select
                        select.form-control#sub_codigo(name='sub_codigo', placeholder="Seleccione")
                            option(value="Sucursal_Lima_Centro", data-title="Sucursal_Lima_Centro") Sucursal Lima Centro  
                            option(value="Sucursal_MiraFlores", data-title="Sucursal_MiraFlores") Sucursal Miraflores 
            .form-group.perido-rango
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.textoPeriodo Periodo
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.input-range
                    .col-xs-12.col-sm-12.col-md-12.col-lg-1
                    .col-xs-12.col-sm-12.col-md-12.col-lg-1.textoDesde
                        label.control-label(for='periodo_ini') 
                        | Desde:
                    .col-xs-12.col-sm-12.col-md-12.col-lg-2.Input--with-icon-calender
                        input.Input.Input--large.form-control.datepicker(type='text',name='periodo_ini',id='periodo_ini',autocomplete='off',data-years-last="4",placeholder="__/__/____")
                        i.icon-calendar-1
                    .col-xs-12.col-sm-12.col-md-12.col-lg-1.textoHasta
                        label.control-label(for='periodo_fin')
                        | Hasta:
                    .col-xs-12.col-sm-12.col-md-12.col-lg-2.Input--with-icon-calender
                        input.Input.Input--large.form-control.datepicker(type='text',name='periodo_fin',id='periodo_fin',autocomplete='off',data-years-last="4",placeholder="__/__/____")
                        i.icon-calendar-1
            .form-group
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    label.control-label(for='nro_comprobante') N° de Comprobante:
                .col-xs-12.col-sm-12.col-md-12.col-lg-3
                    input.Input.form-control(type='text',name='nro_comprobante',id='nro_comprobante',autocomplete='off') 
            .form-group
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    label.control-label(for='line_aerea') Línea aérea:
                .col-xs-12.col-sm-12.col-md-12.col-lg-3
                    input.Input.form-control(type='text',name='line_aerea',id='line_aerea', autocomplete='off')
            .form-group
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    label.control-label(for='pasajero') Pasajero:
                .col-xs-12.col-sm-12.col-md-12.col-lg-3
                    input.Input.form-control(type='text',name='pasajero',id='pasajero',autocomplete='off')
            .form-group
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    label.control-label(for='forma_pago') Forma de pago:
                .col-xs-12.col-sm-12.col-md-12.col-lg-3
                    .Select
                        select.form-control#forma_pago(name='forma_pago', placeholder="Seleccione")
                            option(value="Cash", data-title="Cash") Cash  
                            option(value="UATP", data-title="UATP") UATP   
                            option(value="UATP_Cash", data-title="UATP_Cash") UATP + Cash   
            .form-group
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    label.control-label(for='intinerario') Itinerario:
                .col-xs-12.col-sm-12.col-md-12.col-lg-3
                    input.Input.form-control(type='text',name='intinerario',id='intinerario',autocomplete='off')
            .form-group
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    label.control-label(for='counter') Counter:
                .col-xs-12.col-sm-12.col-md-12.col-lg-3
                    input.Input.form-control(type='text',name='counter',id='counter',autocomplete='off')
            .col-lg-12.form-group(align="center")
                .col-xs-12.col-sm-12.col-md-12.col-lg-5
                .col-xs-12.col-sm-12.col-md-12.col-lg-2
                    button.Button.Button--oscuro#btnConsulta(type='button') Consultar
                .col-xs-12.col-sm-12.col-md-12.col-lg-5



