.panel-body
    .form-cuadro-estadistico
        .form-group
            .row
                .col-sm-6
                    .cuadro-estadistico.deuda
                        .panel.panel-default
                            .panel-body
                                .col.form-group.title-form-estad__deuda
                                    label.control-label.intelo_sb Deuda:
                                    label.control-label.intelo_r#value_deuda $427.00
                                .progress
                                    .progress-bar.progress__deuda(role="progressbar", aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                                .col-sm-12.form-group.detalle_tab
                                    .col-sm-6.venta-comison
                                        table
                                            tr
                                                td
                                                    label.control-labe.intelo_sb Venta:
                                                td
                                                    label.control-labe.intelo_r $432.00                                                    
                                            tr
                                                td
                                                    label.control-labe.intelo_sb Comisiones:
                                                td
                                                    label.control-labe.intelo_r $30.00

                                    .col-sm-6.vencida-enfecha
                                        table
                                            tr
                                                td
                                                    label.control-labe.intelo_sb Vencida:
                                                td
                                                    label.control-label.intelo_r.label--red $432.00                                                  
                                            tr
                                                td
                                                    label.control-labe.intelo_sb En Fecha:
                                                td
                                                    label.control-label.intelo_r.label--red $30.00 
                    


                .col-sm-6
                    .cuadro-estadistico.linea-credito
                        .panel.panel-default
                            .panel-body
                                .col.form-group.title-form-estad__linea-credito
                                    label.control-label.intelo_sb Línea de crédito:
                                    label.control-label.intelo_r#value_lineacredito $26,000.00
                                .progress
                                    .progress-bar.progress__linea-credito(role="progressbar", aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                                .form-group.detalle_tab
                                    .form-group
                                        label.control-label.intelo_sb Crédito utilizado:
                                        label.control-label.intelo_r $417.86
                                    .form-group
                                        label.control-label.intelo_sb Disponible:
                                        label.control-label.intelo_r $25,582.00
                                    .form-group
                                        label.control-label.intelo_sb Boletos dependientes al pago:
                                        label.control-label.intelo_r $5,090.00
    //- aqui poner el tab
    .wrapper-tabs
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.button-export
            .col-xs-12.col-sm-12.col-md-12.col-lg-10
            .col-xs-12.col-sm-12.col-md-12.col-lg-2
                .pull.right
                    button.Button.Button--oscuro(type='button') Exportar a Excel    
                        span.glyphicon.glyphicon-stats 
                        
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.tabs_comprobante_boleto
            .col-xs-12.col-sm-5.col-md-12.col-lg-12
                .col-xs-4.col-sm-4.col-md-4.col-lg-3
                    a.tabs--resaltar#tab-comprobante Comprobantes
                .col-xs-4.col-sm-4.col-md-4.col-lg-1
                    | |
                .col-xs-4.col-sm-4.col-md-4.col-lg-6
                    a.tabs--normal#tab-boleto  Boletos
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
    
    .form-tabla-comprobantes
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .content-comprobantes-result
                    table#table_data_comprobantes.table-agil
                        thead
                            tr
                                th
                                    |N°
                                th
                                    |Fecha de Emisión
                                th
                                    |Tipo y Número
                                th
                                    |Moneda
                                th  
                                    |A pagar
                                th  
                                    |Pendiente de pago
                                th 
                                    |Vencimiento
                                th 
                                    |Descuento
                                th  
                                    |¿Facturar Comisión?
                                th  
                                    |Estado de Comprobante                                                                    
                        tbody

    .form-tabla-boletos
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .content-boletos-result
                    table#table_data_boletos.table-agil
                        thead
                            tr
                                th
                                    label N°
                                th
                                    label N° de Ticket
                                th
                                    label Voucher
                                th
                                    label Prov. / Linea aérea
                                th  
                                    label Pasajero
                                th  
                                    label Fecha de emisión
                                th 
                                    label Itinerario
                                th 
                                    label PNR
                                th  
                                    label Tarifa neta
                                th  
                                    label Dscto.
                                th  
                                    label Forma de pago
                                th
                                    label ¿Entregó CCCF?
                                th
                                    label Counter
                        tbody
    .seccion_return
        .col-xs-12.col-sm-2.col-md-12.col-lg-12
            .pull.left
                    button.Button.Button--oscuro#btn_regresar(type='button') Regresar    
                        //-span.glyphicon.glyphicon-stats 
        .col-xs-12.col-sm-10.col-md-12.col-lg-12
        




            


    


