.wrapper-form-reporte_adminitrativo
  include ../includes/_breadcrumb.pug
  .container
    h2.Title-section Reporte Administrativo
      i.icon-question-circle-o(data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?")
    .form-reporte_adminitrativo 
      form(action="#",id="form-comunicados",class="form-horizontal form form--label-left",method="post")   
        include ./_comprobantes_boletos.pug
