.wrapper-chg-passw
  include ../includes/_breadcrumb.pug 
  .container
    h1.Title-section Cambio de contraseña 
      i.icon-question-circle-o(data-toggle='popover' data-placement="top" data-content="Recuerda que tu contraseña debe ser diferente a las últimas 4 contraseñas. No recomendamos nombres, apellidos, fecha de cumpleaños.<br> <strong>Procura cambiarla cada 90 días.</strong>" data-html="true" data-trigger="hover") 
    .form-chg-passw
      form(action="#",id="form-chg-passw",class="form-horizontal form form--label-left",method="post")
        .row
          .col-sm-12
            p.form__p
              | Crea una contraseña fácil de recordar:      
        .form-group
          label.col-sm-12.control-label(for='password-current') Ingresa tu contraseña actual:
          .col-sm-3.Input--with-icon.form__passw
            input.Input.form-control(id='password-current',type='password',name='password-current',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa tu contraseña actual",data-rule-minlength="7",data-msg-minlength="Ingresa al menos 7 caracteres",data-rule-maxlength="17",data-msg-maxlength="Como másimo 17 caracteres")  
            i.icon-eye
        .form-group
          label.col-sm-12.control-label(for='password-new') Ingresa una nueva contraseña:
          .col-sm-3.Input--with-icon.form__passw
            input.Input.form-control(id='password-new',type='password',name='password-new',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa una nueva contraseña")
            i.icon-eye  
        .form-group
          label.col-sm-12.control-label(for='password-confirm') Confirma tu contraseña:
          .col-sm-3.Input--with-icon.form__passw
            input.Input.form-control(id='password-confirm',type='password',name='password-confirm',autocomplete='off',data-rule-required="true", data-msg-required="Confirma tu contraseña")
            i.icon-eye
        .row   
          .col-sm-12
            p.form__p.form__p--red
              | Por tu seguridad recomendamos que tu contraseña tenga las siguientes características:  
        .form-group
          .form-chg-passw__grp-criterios
            .col-sm-12
              .form-chg-passw__form-check
                label(class="custom-checkbox")
                  span(class="label-text") 
                    | La cantidad de caracteres debe ser mayor a 6 y menor a 16             
                  input(type="checkbox",name="criterios",value="longitud") 
                  span(class="helping-el")

            .col-sm-12
              .form-chg-passw__form-check
                label(class="custom-checkbox")
                  span(class="label-text") 
                    | Una letra mayúscula             
                  input(type="checkbox",name="criterios",value="mayuscula") 
                  span(class="helping-el")

            .col-sm-12
              .form-chg-passw__form-check
                label(class="custom-checkbox")
                  span(class="label-text") 
                    | Una letra minúscula             
                  input(type="checkbox",name="criterios",value="minuscula") 
                  span(class="helping-el")      
                
            .col-sm-12
              .form-chg-passw__form-check
                label(class="custom-checkbox")
                  span(class="label-text") 
                    | Un número         
                  input(type="checkbox",name="criterios",value="numero") 
                  span(class="helping-el")   

            .col-sm-12
              .form-chg-passw__form-check
                label(class="custom-checkbox")
                  span(class="label-text") 
                    | Un carácter especial $@!      
                  input(type="checkbox",name="criterios",value="caracteres") 
                  span(class="helping-el")                                                  
        .form-group              
          .col-sm-12
            .form-chg-passw__actions
              button.Button.Button--oscuro(type='submit') Actualizar
