@import "utilities/index";


.breadcrumb{
  background: none;
  border:  none;
  border-bottom: solid 1px $c_gris_medio;
  border-radius: 0;
  padding: 5px 0;
  position: relative;
  min-height: 30px;
  a{
    color: $c_oscuro_patron;
  }
  &__name-section{
    position: absolute;
    bottom: 3px;
    left: 0;
    i{
      font-size: $font-size-base * 2;
    }
  }
  &__name-agency{
    position: absolute;
    bottom: 3px;
    right: 0;
  }
}

