/*---------------------------------------------------------------------------*
 * Start: checkbox
----------------------------------------------------------------------------*/
label.custom-checkbox{ 
  position: relative;
  label.error{
    position: absolute;
    bottom: -20px;
    font-size: $font_size_12;
    color: $c_texto_error;
  }
}
label.custom-checkbox input[type="checkbox"] { 
  opacity:0;
  position: absolute;
}

label.custom-checkbox input[type="checkbox"] ~ .helping-el{
  background-color: #FFFFFF;
  border: 1px solid $c_oscuro_patron;  
  border-radius: 2px;
  display: inline-block;
  padding: 7px;
  position: relative;
  top: 2px;
}

label.custom-checkbox input[type="checkbox"]:checked ~ .helping-el{ 
  border: 1px solid $c_oscuro_patron;
  background-color: $c_blanco;

}

label.custom-checkbox input[type="checkbox"]:checked ~ .helping-el:after {
  color:$c_rojo_patron;
  content: "\2714";
  font-size: 13px;
  font-weight: normal;
  left: 2px;
  position: absolute;
  top: 1px;
  transform: rotate(10deg);
}