/*---------------------------------------------------------------------------*
 * Start: claims-book
----------------------------------------------------------------------------*/
.claims-book {
  text-align: center;
  float: right;
  &__icon{
    i{
      font-size: 56px;
      color: $c_blanco;

    }
  }
  &__title{
    h4{
      a{
        font-size: 12px;
        color: $c_blanco; 
        text-align: center;
        display: block; 
        margin-top: 20px;
      }
    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: claims-book
----------------------------------------------------------------------------*/
