@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?85081023');
  src: url('../fonts/fontello/fontello.eot?85081023#iefix') format('embedded-opentype'),
      url('../fonts/fontello/fontello.woff?85081023') format('woff'),
      url('../fonts/fontello/fontello.ttf?85081023') format('truetype'),
      url('../fonts/fontello/fontello.svg?85081023#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  
  
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?28552243#fontello') format('svg');
    }
  }
  */
   
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
     
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
     
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
     
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
     
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
     
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
     
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  }
         
  
 
.icon-phone:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-flight:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e80d'; } /* '' */
.icon-attention-alt:before { content: '\e80e'; } /* '' */
.icon-ok-circled2:before { content: '\e80f'; } /* '' */
.icon-mail-circled:before { content: '\e810'; } /* '' */
.icon-thumbs-down-1:before { content: '\e811'; } /* '' */
.icon-eye-off:before { content: '\e812'; } /* '' */
.icon-calendar-1:before { content: '\e813'; } /* '' */
.icon-list:before { content: '\e814'; } /* '' */
.icon-clock:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */