/*---------------------------------------------------------------------------*
 * Start: .error
 * Form error messages
----------------------------------------------------------------------------*/

.content_message{
  
  
  &__success {
    background: url('../img/icon-ok.png') no-repeat left center $c_bg_success;
    color: $c_blanco;
    font-size: 11px;
    font-weight: 600;
    left: 0;
    line-height: 19px;
    text-align  : left;
    padding: 10px 10px 10px 50px;    
  }
}
 
/*---------------------------------------------------------------------------*
 * End: .error
----------------------------------------------------------------------------*/
