/*---------------------------------------------------------------------------*
 * Start: .error
 * Form error messages
----------------------------------------------------------------------------*/
  .content_message{
    width: 100%;
    min-height: 1px;

    &_error {
      background: url('../img/icon-error.png') no-repeat left center $c_bg_error;
      color: $c_blanco;
      font-size: 11px;
      font-weight: 600;
      left: 0;
      line-height: 19px;
      text-align  : left;
      display: none;
      padding: 10px 10px 10px 50px;
      // label.error{
      //   height: 30px;
      // }
    }
  }


  // label.error:before {
  //   border-color: #fff transparent transparent transparent;
  //   border-style: solid;
  //   border-width: 6px 5px 0 5px;
  //   bottom: -5px;
  //   content: '';
  //   display: block;
  //   height: 0;
  //   left: 50%;
  //   margin-left: -5px;
  //   position: absolute;
  //   width: 0;
  //   z-index: 100;
  // }
  // label.error:after {
  //   content: '';
  //   display: block;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 6px 5px 0 5px;
  //   border-color: $color-red-error transparent transparent transparent;
  //   margin-left: -5px;
  //   left: 50%;
  //   bottom: -7px;
  //   position: absolute;
  // }

/*---------------------------------------------------------------------------*
 * End: .error
----------------------------------------------------------------------------*/
