/*---------------------------------------------------------------------------*
 * Start: franja
----------------------------------------------------------------------------*/
.franja{
  background: $c_oscuro_patron;
  height: 40px;
  width: 100%;
  z-index: -1;
  position: relative;
  &__items{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;  
  }
  &__item{
    color: $c_blanco;
    padding: 2px;
    display: flex;
    height: 40px;
    align-items: center;
    flex: 33.33;
    &:nth-child(1){
      justify-content: flex-start;
      p{
        @include mqmax(mobile_medium) {
          display: block;
        }  
      }
    }     
    &:nth-child(2){
      justify-content: center;
      @include mqmax(mobile_medium) {
        display: none;
      }       
    }
    &:nth-child(3){
      justify-content: flex-end;
      @include mqmax(mobile_medium) {
        display: none;
      }  
    }  
      
    // width: 33.33%;  
    .icono{
      height: 25px;
    }
    p{
      display: inline-block;
      margin-left: 10px;
      @include mqmax(tablet) {
        display: none;
      }
    }
    i{
      font-size: 25px;
    } 
  }
}
/*---------------------------------------------------------------------------*
 * Endof: franja
----------------------------------------------------------------------------*/
