/*---------------------------------------------------------------------------*
 * Start: Icon
----------------------------------------------------------------------------*/
[class^="icon-a-"], [class*=" icon-a-"] {
  background-image: url('../img/sprite_icon.png');
  display: inline-block;
  border: red 1px solid;

}

.icon-a--white{
  background-image: url('../img/sprite_icon_white.png');
}

.icon-a-mail{
  width: 24px;
  height: 24px;
  background-position: 215px 167px;
}
.icon-a-download{
  width: 24px;
  height: 24px;
  background-position: 264px 25px;
}
.icon-a-dolar{
  width: 24px;
  height: 24px;
  background-image: url('../img/simbolo_dolar.svg');
  border: 0px;
}
/*---------------------------------------------------------------------------*
 * Endof: Icon
----------------------------------------------------------------------------*/
