@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?85081023');
  src: url('../fonts/fontello/fontello.eot?85081023#iefix') format('embedded-opentype'),
      url('../fonts/fontello/fontello.woff?85081023') format('woff'),
      url('../fonts/fontello/fontello.ttf?85081023') format('truetype'),
      url('../fonts/fontello/fontello.svg?85081023#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  
  
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?28552243#fontello') format('svg');
    }
  }
  */
   
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
     
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
     
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
     
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
     
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
     
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
     
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  }
         
  
 
  @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
  @font-face {
    font-family: 'icomoon';
    src: url("../font/icomoon.eot?6p25lo");
    src: url("../font/icomoon.eot?6p25lo#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?6p25lo") format("truetype"), url("../font/icomoon.woff?6p25lo") format("woff"), url("../font/icomoon.svg?6p25lo#icomoon") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  
  .icon-warning:before {
    content: "\e931"; }
  
  .icon-automobile:before {
    content: "\e939"; }
  
  .icon-card-passenger:before {
    content: "\e947"; }
  
  .icon-tower:before {
    content: "\e949"; }
  
  .icon-door-car:before {
    content: "\e936"; }
  
  .icon-user-line-lost:before {
    content: "\e937"; }
  
  .icon-conditioner:before {
    content: "\e938"; }
  
  .icon-transmition:before {
    content: "\e93a"; }
  
  .icon-user-line:before {
    content: "\e933"; }
  
  .icon-star:before {
    content: "\e932"; }
  
  .icon-clock-escala-end:before {
    content: "\e93b"; }
  
  .icon-clock-escala:before {
    content: "\e930"; }
  
  .icon-arrow-right-triangle:before {
    content: "\e93c"; }
  
  .icon-check-lost:before {
    content: "\e93d"; }
  
  .icon-cup:before {
    content: "\e943"; }
  
  .icon-key:before {
    content: "\e944"; }
  
  .icon-omnibus:before {
    content: "\e945"; }
  
  .icon-tickets:before {
    content: "\e946"; }
  
  .icon-gift:before {
    content: "\e92e"; }
  
  .icon-backpack:before {
    content: "\e92b"; }
  
  .icon-suitcase1:before {
    content: "\e92c"; }
  
  .icon-check-circle:before {
    content: "\e929"; }
  
  .icon-oceania:before {
    content: "\e925"; }
  
  .icon-oriente:before {
    content: "\e926"; }
  
  .icon-sudamerica:before {
    content: "\e927"; }
  
  .icon-global:before {
    content: "\e924"; }
  
  .icon-help:before {
    content: "\e92a"; }
  
  .icon-loader:before {
    content: "\e923"; }
  
  .icon-trash:before {
    content: "\e934"; }
  
  .icon-carp:before {
    content: "\e935"; }
  
  .icon-open:before {
    content: "\e921"; }
  
  .icon-telephone:before {
    content: "\e922"; }
  
  .icon-check-circle-1:before {
    content: "\e92d"; }
  
  .icon-place:before {
    content: "\e920"; }
  
  .icon-arrow:before {
    content: "\e91e"; }
  
  .icon-clock:before {
    content: "\e91f";
    color: #404f57; }
  
  .icon-peru:before {
    content: "\e91c";
    color: #404f57; }
  
  .icon-telephone-2:before {
    content: "\e94a"; }
  
  .icon-hourglass:before {
    content: "\e92f"; }
  
  .icon-information:before {
    content: "\e928"; }
  
  .icon-roundtrip:before {
    content: "\e91d"; }
  
  .icon-airplane:before {
    content: "\e91a"; }
  
  .icon-build:before {
    content: "\e91b"; }
  
  .icon-search:before {
    content: "\e8b6"; }
  
  .icon-asia:before {
    content: "\e93e"; }
  
  .icon-caribe:before {
    content: "\e93f"; }
  
  .icon-europa:before {
    content: "\e940"; }
  
  .icon-norteamerica:before {
    content: "\e941"; }
  
  .icon-africa:before {
    content: "\e942"; }
  
  .icon-m-picchu:before {
    content: "\e948"; }
  
  .icon-bus:before {
    content: "\e94d"; }
  
  .icon-car1:before {
    content: "\e94f"; }
  
  .icon-excurs:before {
    content: "\e950"; }
  
  .icon-roullette:before {
    content: "\e951"; }
  
  .icon-train:before {
    content: "\e953"; }
  
  .icon-user:before {
    content: "\e915"; }
  
  .icon-blog1:before {
    content: "\e919"; }
  
  .icon-descubre:before {
    content: "\e916"; }
  
  .icon-instagram:before {
    content: "\e917"; }
  
  .icon-rss:before {
    content: "\e918"; }
  
  .icon-vh:before {
    content: "\e909"; }
  
  .icon-cancel:before {
    content: "\e914"; }
  
  .icon-keyboard_arrow_left:before {
    content: "\e314"; }
  
  .icon-keyboard_arrow_right:before {
    content: "\e315"; }
  
  .icon-tune:before {
    content: "\e429"; }
  
  .icon-arrow_back:before {
    content: "\e5c4"; }
  
  .icon-arrow_forward:before {
    content: "\e5c8"; }
  
  .icon-mas:before {
    content: "\e912"; }
  
  .icon-menos:before {
    content: "\e913"; }
  
  .icon-day:before {
    content: "\e910"; }
  
  .icon-calendar:before {
    content: "\e911"; }
  
  .icon-max:before {
    content: "\e90f"; }
  
  .icon-google1:before {
    content: "\e90e"; }
  
  .icon-letter:before {
    content: "\e90c"; }
  
  .icon-car:before {
    content: "\e900"; }
  
  .icon-suitcase:before {
    content: "\e901"; }
  
  .icon-shield:before {
    content: "\e902"; }
  
  .icon-phone:before {
    content: "\e903"; }
  
  .icon-face:before {
    content: "\e904"; }
  
  .icon-close:before {
    content: "\e905"; }
  
  .icon-down:before {
    content: "\e906"; }
  
  .icon-down2:before {
    content: "\e907"; }
  
  .icon-google:before {
    content: "\e90d"; }
  
  .icon-youtube:before {
    content: "\e908"; }
  
  .icon-hotel:before {
    content: "\e90a"; }
  
  .icon-plane:before {
    content: "\e90b"; }