/*---------------------------------------------------------------------------*
 * Start: Input
----------------------------------------------------------------------------*/
$color-blue-light-1:      #C5D5E6;
$color-disabled : #dededc;
::-webkit-input-placeholder { /* Edge */
  color: $c_texto_placeholder;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $c_texto_placeholder;
}

::placeholder {
  color: $c_texto_placeholder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.Input {  
  box-sizing:content-box;
  height: 26px;
  line-height: 30px;
  width: 90%;
  font-size: $font_size_base * 1.2;
  padding: 5px 5%;
  outline: none;
  // margin: 5px 0;
  border: 1px solid $c_border_input;
  border-radius: 4px;
  -webkit-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
  -moz-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
  box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
  @include mqmax(mobile_medium) {
    padding: 2px 5%;
    //font-size: $font_size_base_m;
  }
  &--dark{
    background: $c_bg_input;
    color: $c_texto_input;
    border: none;

  }
  &--large{
    width: 98%;
    padding: 5px 1%;
  }
  &--with-icon{
    position: relative;
    input{
      @include mqmax(desktop) {
        font-size: $font_size_base_m;
      };
    }
    i{
      position: absolute;
      top: 2px;
      right: 15px;
      font-size: 23px;
      color: $c_rojo_patron;
      width: 50px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.red{
        color: $c_oscuro_patron;
      }   
    }
    input[type='password']{
      width: 80%;
      padding: 5px 15% 5px 5%;
    }

   .Button{
      text-align: left;
    }
  }
  &--with-icon-calender{
    position: relative;
    i{
      position: absolute;
      top: 7px;
      right: 21px;
      font-size: 23px;
      color: $c_rojo_patron;
    }
  }  
  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
    background-color: $color-disabled;
  }
  
}
/*---------------------------------------------------------------------------*
 * Endof: Input
----------------------------------------------------------------------------*/
