  
@font-face {
    font-family: 'Intelo-bold';
    src: url('../fonts/intelo/Intelo-Bold.woff2') format('woff2'),
        url('../fonts/intelo/Intelo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

  
@font-face {
    font-family: 'Intelo-semibold';
    src: url('../fonts/intelo/Intelo-SemiBold.woff2') format('woff2'),
        url('../fonts/intelo/Intelo-SemiBold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Intelo';
    src: url('../fonts/intelo/Intelo-Regular.woff2') format('woff2'),
        url('../fonts/intelo/Intelo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intelo-light';
    src: url('../fonts/intelo/Intelo-Light.woff2') format('woff2'),
        url('../fonts/intelo/Intelo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

