/*---------------------------------------------------------------------------*
 * Start: Link
----------------------------------------------------------------------------*/
.Link {
  &, * { box-sizing:border-box; }
  font-size: 13px;
  line-height: 1.3;
  text-decoration: underline;
  color: $color-charcoal-gray;
  &_forgot{
    display: block;
    margin: 20px 0;
  }
  &_login{
    display: block;
    margin: 20px 0;
  } 
}
/*---------------------------------------------------------------------------*
 * Endof: Link
----------------------------------------------------------------------------*/
