/*---------------------------------------------------------------------------*
 * Start: MainNav
----------------------------------------------------------------------------*/
// Colores del módulo
$c_linea_gris: #DEDEDE;
$color-charcoal-gray: #404040;
$color-white: #fff;

.MainNav {
  &, & * {
    box-sizing: border-box;
  }

  &__list {
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 1px solid $c_linea_gris;
    @include mq("phablet") {
      padding-left: 20px;
    }
    &:after {
      clear:both;
      font-size: 0;
      height: 0;
      content: ' ';
      display: block;
    }
  }
  &__item {
    background-color: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid transparent;
    bottom: -1px;
    color: $color-charcoal-gray;
    cursor: pointer;
    display: table;
    float: left;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    line-height: 1.1;
    padding: 3px 5px 0 5px;
    position: relative;
    text-align: center;
    width: 135px;
    z-index: 100;
    text-decoration: none;
    @include mq("phablet") {
      padding-top: 0;
      font-size: 15px;
      width: 210px;
    }
    &.is-active {
      background-color: $color-white;
      border-color: #DEDEDE;
      color: #135699;
    }
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: MainNav
----------------------------------------------------------------------------*/
