/*---------------------------------------------------------------------------*
 * Start: MessageImage
----------------------------------------------------------------------------*/
.MessageImage {
  &, * { box-sizing:border-box; }
  display: inline-block;
  border: 0;
  width: 100%;
  // Clock image message
  &--clock {
    max-width: 70px;
  }
  // agil image message
  &--agil {
    max-width: 39px;
  }
}
/*---------------------------------------------------------------------------*
 * Endof: MessageImage
----------------------------------------------------------------------------*/
