/*---------------------------------------------------------------------------*
 * Start: social-networks
----------------------------------------------------------------------------*/
.social-networks {
  width: 100%;
  overflow: hidden;
  text-align: center;
  width: 105px;
  margin: auto;
  margin-bottom: 50px;
  @include mqmax(container) {
    margin-bottom: 10px;
  }  
  &__youtube{
    display: table-cell;
    width: 30px;
    img{
      margin-top: -5px;
    }
    i{
      font-size: 24px;
      color: $c_blanco;
    }
  }  
  &__facebook{
    display: table-cell;
    width: 30px;
    i{
      font-size: 24px;
      color: $c_blanco;
    }
  }
  &__linkedin{
    display: table-cell;
    width: 30px;
    i{
      font-size: 24px;
      color: $c_blanco;

    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: social-networks
----------------------------------------------------------------------------*/
