.paginate_button{
  background:$c_blanco;
  padding:0 !important; 
  margin: 5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: solid 1px $c_gris !important;
  box-shadow: 2px 2px 5px #999;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: $c_oscuro_patron !important;
  &.disabled.next,&.previous.disabled,&.next,&.previous,&.disabled{
    background:#fff !important;
    border: solid 1px $c_gris !important;
    box-shadow: 2px 2px 5px #999 !important;
    font-size: 17px !important;
    line-height: 21px;
  }
  &:hover{
    background:#cecccc !important;
    color: $c_oscuro_patron;
    box-shadow: 2px 2px 5px #999;
  }
  &.current{
    padding:0 !important; 
    margin: 5px;
    width: 25px;
    height: 25px;
    border: solid 1px $c_gris !important;
    box-shadow: 2px 2px 5px #999;
    background: $c_gris !important;
  }
  #com_table_data_next{
    box-shadow: 2px 2px 5px #999;
  }

}