/*---------------------------------------------------------------------------*
 * Start: partners
----------------------------------------------------------------------------*/
.partners {
  text-align: center;
  min-height: 90px;
  padding: 10px 0;
  h3{
    text-align: left;
    color: $c_title_footer;
    font-size: 16px;
    margin-bottom: 15px;
    @include mqmax(desktop_large) {
      text-align: center;
    }  
  }
  &__logo{
    width: 33.33%;
    padding: 5px;
    float: left;
    a{
      display: block;
      img{
        @include mqmax(desktop_large) {
          margin: auto;
        } 
      }
    }
  }
  &__title{
    h4{
      a{
        font-size: 16px;
        color: $c_blanco; 
        text-align: center;
        display: block; 
        margin-top: 20px;
      }
    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: claims-book
----------------------------------------------------------------------------*/
