@import "utilities/index";


.popover{
  width: 200px;
  z-index: 1 !important;
  &-title{
    color: $c_texto_base;
    margin: 0 !important;
  }
  &-content{
    color: $c_texto_base;
    text-align: justify;
    line-height: 16px;
    font-size: 12px;
    color: #5a6670;
    padding: 4px 6px;
    strong{
      font-weight: bold;
    }
  }
}

