/*---------------------------------------------------------------------------*
 * Start: Subscriptions
----------------------------------------------------------------------------*/
.subscriptions{
  h3{
    text-align: left;
    color: $c_title_footer;
    font-size: 16px;
    margin-bottom: 15px;
    @include mqmax(desktop_large) {
      text-align: center;
    }  
  }
  &__form{
    position: relative;
    width: 100%;
    input{
      -webkit-border-radius: 35px; 
      -moz-border-radius: 35px; 
      border-radius: 35px;
      border: none;
      padding-right: 50px;
    }
    button{
      position: absolute;
      -webkit-border-radius: 35px; 
      -moz-border-radius: 35px; 
      border-radius: 35px; 
      background: $c_bg_button;
      width: 32px;
      height: 32px;
      text-align: center;
      position: absolute;
      right: 5px;
      top: 9px;
      line-height: 33px;
      padding: 0;
      i{
        color: $c_blanco;
      }
    }

  }
}
/*---------------------------------------------------------------------------*
 * Endof: Subscriptions
----------------------------------------------------------------------------*/
