/*---------------------------------------------------------------------------*
 * Start: table
----------------------------------------------------------------------------*/
.table-agil-light {
  margin: auto;
  tbody{
    tr{
      height: 30px;
      td{
        label{
          font-family: 'intelo-bold';
        }
      }
    }
  }
}
.table-agil-oscuro{
 
  margin: auto;
  thead{
    background-color: $c_oscuro_patron;
    tr{
      height: 30px;
      border-radius: 5px 5px 0 0;
      th{
        color: $c_blanco;
      }
    }
  }
  tbody{
    tr{
      height: 30px;
      &:nth-child(odd){
        background-color: $c_gris;
      }
      td{
        padding: 2px 30px;
        line-height: 30px;
        label{
          font-family: 'intelo-bold';
        }
        &:nth-child(1){
          vertical-align: top;
        }        
        &:nth-child(2){
          text-align: center;
        }
      }
    }
  } 
  .table-agil-oscuro__os{   
    background-color: $c_oscuro_patron !important;
    color: $c_blanco;
    &--icon{
      td{
        padding-left: 10px;
      }
    } 
  }  
    
}
.table-agil {
  font-size: $font_size_table !important;
  border: none !important;
  thead{
    .sorting_asc{
      background: none !important;
    }
    td,th{
      border-bottom: none !important;
      padding: 4px 14px !important;
    }
    tr{
      height: 40px;
      vertical-align: top;
      .primary-header{
        font-weight: bold !important;
        font-size: 18px !important;
      }
    }
    th{
      label{
        font-family: 'Intelo-semibold';
      }
    }
  }
  tbody{
    
    tr{
      td{
        height: 27px;
        padding: 4px 14px;
        a{
          color: $c_enlace_tabla;
          i{
            cursor: pointer;
          }
        }
      }
      &.odd{
        background-color: $c_bg_table !important;
      }      
    }
  }
  .separador-table{
    background-color: $c_blanco;
    /*margin: 10px;*/
    padding: 5px !important;
  }
  .table-agil---center{
    text-align: center;
  }
}
/*---------------------------------------------------------------------------*
 * Endof: table
----------------------------------------------------------------------------*/
