/*---------------------------------------------------------------------------*
 * Start: TextMessage
----------------------------------------------------------------------------*/
.TextMessage {
  &, * {
    box-sizing:border-box;
  }
  font-size: 13px;
  line-height: 1.3;
  vertical-align: baseline;
  &__info{
    color: $c_oscuro_patron;
    font-weight: bold;
  }
}
/*---------------------------------------------------------------------------*
 * Endof: TextMessage
----------------------------------------------------------------------------*/
