.wrapper-reembolsos
  include ../includes/_breadcrumb.pug 
  
  .container
    h1.Title-section Reembolsos
      i.icon-question-circle-o(data-toggle='popover' data-content="<strong>Pendiente:</strong> Reembolso enviado a la línea aérea, estamos a la espera de su autorización.<br><strong>Autorizado:</strong> Reembolso autorizado por la línea aérea.<br><strong>Finalizado:</strong><br> &nbsp;- CASH: el pago se realizó mediante cheque, transferencia a su cuenta o se recargo su saldo de la billetera.<br> &nbsp;- T. CREDITO: el importe del reembolso será abonado al tarjeta habiente, no recibir dicho importe en su próximo estado de cuenta deberá comunicarse con su banco." data-html="true" data-trigger="hover") 
    .reembolsos__form
      p Para ver los requisitos del reembolso 
        a(href="./data/requisitos_de_reembolsos.pdf",target="_blank") clic aquí:     
      h2.Sub-Title-section
        | Periodo
      form(action="#",id="form-reembolsos",class="form-horizontal form",method="post")
        .form-group
          label.col-sm-1.control-label(for='desde') Desde:
          .col-sm-2.Input--with-icon
            input.Input.form-control.datepicker(id='periodo_ini',type='text',name='periodo_ini',autocomplete='off',data-rule-required="true", data-msg-required="Ingrese la fecha",placeholder="__/__/____",data-days-last="360",value="01/09/2019")  
            i.icon-calendar-1
          label.col-sm-1.control-label(for='hasta') Hasta:
          .col-sm-2.Input--with-icon
            input.Input.form-control.datepicker(id='periodo_fin',type='text',name='periodo_fin',autocomplete='off',data-rule-required="true", data-msg-required="Ingrese la fecha",placeholder="__/__/____",data-days-last="360",value="30/09/2019")
            i.icon-calendar-1  
          label.col-sm-1.control-label(for='estados_reembolsos') Estado:
          .col-sm-2
            .Select
              select#estados_reembolsos(name='estados_reembolsos',)
                option(value="PE", data-title="Finalizado") Finalizado  
                option(value="CH", data-title="Autorizado") Autorizado  
                option(value="AR", data-title="Pendiente") Pendiente   
          .col-sm-2
            button.Button.Button--oscuro(type="submit") Consultar

    .reembolsos__result
      include ./_result_list.pug