.reembolsos__table
  table#reembolsos__table.table-agil
    thead
      tr  
        th.table-agil---center
          label N° Boleto
        th.table-agil---center
          label Nombre Pax
        th.table-agil---center
          label Línea Aérea
        th.table-agil---center
          label Forma de Pago
        th.table-agil---center
          label Estado
        th.table-agil---center
          label Observación                                                                                  
    tbody
  
  //- label.leyenda(for="")
  //-   | Resultados de boletos finalizados del mes en curso