section.atach_doc.method_deposit   
    .atach_doc__span-subt
        span
            | Todos
    table
        thead
            tr
                th
                    label(class="custom-checkbox")
                        input(type="checkbox",name="all_item") 
                        span(class="helping-el")
                        span(class="label-text")
                    
                th Sucursal
                th Cond. de pago
                th N° Comprobante
                th US$ Total
                th US$ Pendiente
                th(width="150") US$ Aplica
                th Vencimiento
        tbody
            tr
                td
                    label(class="custom-checkbox")
                        input(type="checkbox",name="each_item") 
                        span(class="helping-el")
                        span(class="label-text")
                td
                    div.atach_doc__seudo-input.atach_doc__seudo-input--bold
                        | Pardo
                td
                    div.atach_doc__seudo-input
                        | 1 DIA
                td
                    div.atach_doc__seudo-input.atach_doc__seudo-input--ncomp
                        a(href="#")
                            | DC0022325829
                td
                    div.atach_doc__seudo-input
                        | 514.91
                td
                    div.atach_doc__seudo-input.pendiente
                        | 514.91
                td
                    input.Input(type="text",disabled="true",class="aplica",value="514.91")
                td
                    div.atach_doc__seudo-input
                        | 29/08/2019

            tr
                td
                    label(class="custom-checkbox")
                        input(type="checkbox",name="each_item") 
                        span(class="helping-el")
                        span(class="label-text")
                td
                    div.atach_doc__seudo-input.atach_doc__seudo-input--bold
                        | Pardo
                td
                    div.atach_doc__seudo-input
                        | 1 DIA
                td
                    div.atach_doc__seudo-input.atach_doc__seudo-input--ncomp
                        a(href="#")
                            | DC0022325829
                td
                    div.atach_doc__seudo-input
                        | 514.91
                td
                    div.atach_doc__seudo-input.pendiente
                        | 514.91
                td
                    input.Input(type="text",disabled="true",class="aplica",value="514.91")
                td
                    div.atach_doc__seudo-input
                        | 29/08/2019      
            tr
                td
                td(colspan="5", align="right")
                    | Total a pagar:           
                td(colspan="1", align="right")
                    span.total_aplica_currency
                        | US$ 
                    span.total_aplica
                        | 0.00   
                td
    .form-group
        label.col-sm-4.control-label(for='num_rows') ¿Cuántos documentos desea adjuntar?
        .col-sm-1
            .Select
                select.Input#num_despositos(name='num_despositos')
                    option(value="1") 1  
                    option(value="2") 2
                    option(value="3") 3  
                    option(value="4") 4  
                    option(value="5") 5  
    .form-group
        .col-sm-2
            a.Button.Button--link-btn.next(href="#") Continuar                    