.wrapper-form-register-pay
  include ../includes/_breadcrumb.pug 
  .container
    h1.Title-section Registra tu pago
      i.icon-question-circle-o(data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?")
    
    .form-register-you-pay   
      form(action="#",id="form-register-you-pay",class="form-horizontal form",method="post")   
        
        include ./_method_pay.pug
        include ./_reserva.pug
        include ./_tarjeta.pug
        include ./_periodo.pug
        include ./_atach_doc.pug
        include ./_info_sale.pug        
