section.info_sale.method_deposit   

    .info_sale__groups-adjunto  
        .info_sale__group-adjunto 
            h3
                | Depósito 1   
            .form-group
                label.col-sm-2.control-label(for='tipo_venta') Tipo de Venta
                .col-sm-3
                    .Select
                        select(id="tipo_venta_1",name='tipo_venta')
                            option(value="0", data-title="Seleccione...") Seleccione...
                            option(value="boletos", data-title="boletos") Boletos
                            option(value="seguro_de_sericios", data-title="seguro de sericios") Seguro de viajes
                            option(value="servicios", data-title="servicios") Servicios
            .form-group
                label.col-sm-2.control-label(for='currency') Moneda
                .col-sm-2
                    label.custom-radio-button
                        input.currency(type='radio',name="currency_1",value="soles")
                        span.helping-el
                        span.label-text Soles  
                .col-sm-2
                    label.custom-radio-button
                        input.currency(type='radio',name="currency_1",value="dolares")
                        span.helping-el
                        span.label-text Dólares  

            .form-group
                label.col-sm-2.control-label(for='banks') Bancos
                .col-sm-10
                    .row.group_check_banks
                        .col-sm-2.check-bbva
                            label.custom-radio-button
                                input.checks_banks(type='radio',name="banks_1",value="bbva",disabled="true")
                                span.helping-el
                                span.label-text 
                                    img(src="./img/bbva.png", alt="",width="80")                         
                        .col-sm-2.check-bcp
                            label.custom-radio-button
                                input.checks_banks(type='radio',name="banks_1",value="bcp",disabled="true")
                                span.helping-el
                                span.label-text 
                                    img(src="./img/bcp.png", alt="",width="80")      
                        .col-sm-2.check-sbk
                            label.custom-radio-button
                                input.checks_banks(type='radio',name="banks_1",value="sbk",disabled="true")
                                span.helping-el
                                span.label-text 
                                    img(src="./img/sbk.png", alt="",width="80")   
                        .col-sm-2.check-ibk
                            label.custom-radio-button
                                input.checks_banks(type='radio',name="banks_1",value="ibk",disabled="true")
                                span.helping-el
                                span.label-text  
                                    img(src="./img/ibk.png", alt="",width="80")   

            .form-group
                label.col-sm-2.control-label(for='cuenta') Cuenta
                .col-sm-3
                    .Select
                        select.Input.droplist_count_banks(name='cuenta')
                            option(value="0") Seleccione...    

            .form-group
                .col-sm-4
                    p.TextMessage.TextMessage__info
                        | Archivos de formato JPG, JPEG, PNG, PDF
                    label.file
                        input(type="file",name="file",data-format-allow="JPG,JPEG,PNG,PDF",data-sizelast="0",data-numfile="0",data-message="Formato no permitido")
                        span
                            p
                                | Adjuntar archivo
                            i.icon-upload-cloud-outline
            .form-group       
                label.col-sm-2.control-label(for='cuenta') Agregar detalle al pago
                .col-sm-1       
                    label.custom-radio-button
                        input(type='radio',name="add_detail_1",class="add_detail",value="si",checked="true")
                        span.helping-el
                        span.label-text Si
                .col-sm-1            
                    label.custom-radio-button
                        input(type='radio',name="add_detail_1",class="add_detail",value="no")
                        span.helping-el
                        span.label-text No     

            .form-group.info_sale__add-detail
                label.col-sm-2.control-label(for='tipo_operacion') Tipo de operación
                .col-sm-3
                    .Select
                        select.tipo_operacion#tipo_operacion_1(name='tipo_operacion')
                            option(value="efectivo", data-title="efectivo") Depósito en efectivo
                            option(value="cheque", data-title="cheque") Depósito en cheque
                            option(value="cuenta", data-title="cuenta") Transferencia a cuenta
                            option(value="exterior", data-title="exterior") Transferencia al exterior      

                label.col-sm-2.control-label Fecha del depósito
                .col-sm-2.Input--with-icon-calender
                    input.Input.form-control.fecha_in(type='text',placeholder="__/__/____",autocomplete='off',data-rule-required="true", data-msg-required="Ingresa la fecha del deposito",data-years-last="4",name="fecha_deposito")
                label.col-sm-1.control-label(for='time_in') Hora del depósito
                .col-sm-1
                    input.Input.form-control.time_in(type='text',name='time_in',placeholder="__:__",autocomplete='off',data-rule-required="true", data-msg-required="Ingresa la hora del depósito")                                      
            .form-group.info_sale__add-detail
                label.col-sm-2.control-label(for='n_operacion') N° de operación
                .col-sm-3
                    input.Input.form-control.n_operacion(type='text',name='n_operacion',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el número de operación", placeholder="________________") 

                label.col-sm-2.control-label(for='amount_detail') Monto
                .col-sm-2
                    input.Input.form-control.amount_detail(type='text',name='amount_detail',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el monto del depósito",disabled="true",value="0.00")         
        - for (var h = 2; h<6; ++h){   

            .info_sale__group-adjunto.info_sale__group-adjunto--hide
                h3
                    | Depósito #{h}              
                .form-group
                    label.col-sm-2.control-label(for='tipo_venta') Tipo de Venta
                    .col-sm-3
                        .Select
                            select(id="tipo_venta_"+h, name='tipo_venta')
                                option(value="0", data-title="Seleccione...") Seleccione...
                                option(value="boletos", data-title="boletos") Boletos
                                option(value="seguro_de_sericios", data-title="seguro de sericios") Seguro de viajes
                                option(value="servicios", data-title="servicios") Servicios
                .form-group
                    label.col-sm-2.control-label(for='currency') Moneda
                    .col-sm-2
                        label.custom-radio-button
                            input(name="currency_"+h,type='radio',class="currency",value="soles")
                            span.helping-el
                            span.label-text Soles  
                    .col-sm-2
                        label.custom-radio-button
                            input(name="currency_"+h,type='radio',class="currency",value="dolares")
                            span.helping-el
                            span.label-text Dólares  

                .form-group
                    label.col-sm-2.control-label(for='banks') Bancos
                    .col-sm-10
                        .row.group_check_banks
                            .col-sm-2.check-bbva
                                label.custom-radio-button
                                    input.checks_banks(type='radio',name="banks_"+h,value="bbva",disabled="true")
                                    span.helping-el
                                    span.label-text 
                                        img(src="./img/bbva.png", alt="",width="80")                         
                            .col-sm-2.check-bcp
                                label.custom-radio-button
                                    input.checks_banks(type='radio',name="banks_"+h,value="bcp",disabled="true")
                                    span.helping-el
                                    span.label-text 
                                        img(src="./img/bcp.png", alt="",width="80")      
                            .col-sm-2.check-sbk
                                label.custom-radio-button
                                    input.checks_banks(type='radio',name="banks_"+h,value="sbk",disabled="true")
                                    span.helping-el
                                    span.label-text 
                                        img(src="./img/sbk.png", alt="",width="80")   
                            .col-sm-2.check-ibk
                                label.custom-radio-button
                                    input.checks_banks(type='radio',name="banks_"+h,value="ibk",disabled="true")
                                    span.helping-el
                                    span.label-text  
                                        img(src="./img/ibk.png", alt="",width="80")
                .form-group
                    label.col-sm-2.control-label(for='cuenta') Cuenta
                    .col-sm-3
                        .Select
                            select.Input.droplist_count_banks(name='cuenta')
                                option(value="0") Seleccione...              
                .form-group
                    .col-sm-4
                        p.TextMessage.TextMessage__info
                            | Archivos de formato JPG, JPEG, PNG, PDF
                        label.file
                            input(type="file",name="file",data-format-allow="JPG,JPEG,PNG,PDF",data-sizelast="0",data-numfile="0",data-message="Formato no permitido")
                            span
                                p
                                    | Adjuntar archivo
                                i.icon-upload-cloud-outline
                .form-group       
                    label.col-sm-2.control-label(for='cuenta') Agregar detalle al pago
                    .col-sm-1       
                        label.custom-radio-button
                            input(type='radio',name="add_detail_"+h,class="add_detail",value="si",checked)
                            span.helping-el
                            span.label-text Si
                    .col-sm-1            
                        label.custom-radio-button
                            input(type='radio',name="add_detail_"+h,class="add_detail",value="no")
                            span.helping-el
                            span.label-text No     

                .form-group.info_sale__add-detail
                    label.col-sm-2.control-label(for='tipo_operacion') Tipo de operación
                    .col-sm-3
                        .Select
                            select.tipo_operacion(id="tipo_operacion_"+h,name='tipo_operacion')
                                option(value="efectivo", data-title="efectivo") Depósito en efectivo
                                option(value="cheque", data-title="cheque") Depósito en cheque
                                option(value="cuenta", data-title="cuenta") Transferencia a cuenta
                                option(value="exterior", data-title="exterior") Transferencia al exterior    
                    label.col-sm-2.control-label Fecha del depósito
                    .col-sm-2.Input--with-icon-calender
                        input.Input.form-control.datepickers.fecha_in(type='text',placeholder="__/__/____",autocomplete='off',data-rule-required="true", data-msg-required="Ingresa la fecha del deposito",data-years-last="4",name="fecha_deposito")
                        i.icon-calendar-1
                    label.col-sm-1.control-label(for='time_in') Hora del depósito
                    .col-sm-1
                        input.Input.form-control.time_in(type='text',name='time_in',placeholder="__:__",autocomplete='off',data-rule-required="true", data-msg-required="Ingresa la hora del depósito")                                      
                .form-group.info_sale__add-detail
                    label.col-sm-2.control-label(for='n_operacion') N° de operación
                    .col-sm-3
                        input.Input.form-control.n_operacion(type='text',name='n_operacion',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el número de operación", placeholder="________________") 

                    label.col-sm-2.control-label(for='amount_detail') Monto
                    .col-sm-2
                        input.Input.form-control.amount_detail(type='text',name='amount_detail',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el monto del depósito",disabled="true",value="0.00")
        - }                    
    hr            
    .form-group                                       
        label.col-sm-2.control-label Total archivos adjuntos:
        .col-sm-1
            input.Input.form-control.total_files(type='text',disabled=true,value="0") 

        label.col-sm-3.control-label Peso total (máximo 2048 KB):
        .col-sm-1
            input.Input.form-control.total_size_files(type='text',disabled=true,value="0",data-size-maximo="2048")     
        label.col-sm-2.control-label Total detalle US$:
        .col-sm-2
            input.Input.form-control.total_detail(type='text',disabled=true,value="0")                 
    .form-group
        .col-sm-2
            button.Button.Button--link-btn(href="") Continuar                   