section.method_pay   
    h3
        | Forma de pago:
    .form-group
        .col-sm-2
            label.custom-radio-button
                input(type='radio',name="method_pay",value="deposito")
                span.helping-el
                span.label-text Depósitos
        .col-sm-3
            label.custom-radio-button
                input(type='radio',name="method_pay",value="credito")
                span.helping-el
                span.label-text Tarjeta de crédito            