section.periodo.method_deposit
    h3
        | Seleccione el periodo que desea consultar:
    .form-group
        label.col-sm-1.control-label(for='periodo_ini') Desde
        .col-sm-2.Input--with-icon-calender
            input.Input.form-control.datepicker(type='text',name='periodo_ini',id='periodo_ini',autocomplete='off',data-rule-required="true", data-msg-required="Ingrese el periodo de inicio",data-years-last="4",placeholder="__/__/____")
            i.icon-calendar-1
        label.col-sm-1.control-label(for='periodo_fin') Hasta
        .col-sm-2.Input--with-icon-calender
            input.Input.form-control.datepicker(type='text',name='periodo_fin',id='periodo_fin',autocomplete='off',data-rule-required="true", data-msg-required="Ingrese el periodo final",data-years-last="4",placeholder="__/__/____")
            i.icon-calendar-1
    .form-group
        label.col-sm-2.control-label Excluir UATP
            i.icon-question-circle-o(data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?")
        .col-sm-1       
            label.custom-radio-button
                input(type='radio',name="excluir",value="si",checked="true")
                span.helping-el
                span.label-text Si
        .col-sm-1            
            label.custom-radio-button
                input(type='radio',name="excluir",value="no")
                span.helping-el
                span.label-text No  

    .form-group
        .col-sm-2
            a.Button.Button--link-btn.next(href="") Buscar
        


//- .form-group
//-   label.col-sm-4.control-label(for='name_agency') Agencia
//-   .col-sm-8
//-     input.Input.form-control(type='text',name='name_agency',autocomplete='off',data-rule-required="true", data-msg-required="Debe ingresar el nombre de la agencia")               