section.reserva.method_credit
    .form-group
        label.col-sm-2.control-label(for='reserva_parthers') Reserva en
        .col-sm-3            
            .Select
                select#droplist_reserva_parthers(name='reserva_parthers')
                    option(value="0", data-title="Seleccione...") Seleccione...
                    option(value="sabre", data-title="Sabre") Sabre
                    option(value="amadeus", data-title="Amadeus") Amadeus
                    option(value="kiu", data-title="Kiu") Kiu
        label.col-sm-2.control-label(for='cod_pnr_credit') Código PNR
        .col-sm-2
            input.Input.form-control.cod_pnr(type='text',maxlength="10",value="",disabled="true")     

    h3
        | Información de pasajero

    table
        thead
            tr
                th(width="170")
                    label N° de ticket
                th(width="300") 
                    label Nombre 
                th(width="300") 
                    label Apellido
                th(width="100")
                    label Tipo
                th  
                    label Monto 
                th
                th                                                                         
        tbody
            tr
                td
                    input.Input.input_tickets(maxlength="13",value="5465464654656")
                td
                    div.Input
                        | Juan Alejandro
                td
                    div.Input
                        | Perez                    
                td
                    .Select
                        select.Input(name='type_person')
                            option(value="Adulto", data-title="Adulto") Adulto
                            option(value="nino", data-title="nino") Niño
                            option(value="infante", data-title="infante") Infante
                td
                    input.Input.monto_tickets
                td
                    a(href="#").Button.Button--oscuro.reserva__add-row 
                        | +
                    
                    a(href="#").Button.Button--oscuro.reserva__less-row 
                        | -          
            - for(var f = 0; f<3; ++f){
                tr
                    td
                        input.Input.input_tickets(maxlength="13",value="")
                    td
                        div.Input
                    td
                        div.Input                  
                    td
                        .Select
                            select.Input(name='type_person')
                                option(value="Adulto", data-title="Adulto") Adulto
                                option(value="nino", data-title="nino") Niño
                                option(value="infante", data-title="infante") Infante
                    td
                        input.Input.monto_tickets
                    td
                        a(href="#").Button.Button--oscuro.reserva__add-row 
                            | +
                        
                        a(href="#").Button.Button--oscuro.reserva__less-row 
                            | -  
            - }                  
    //- .form-group
    //-     .col-sm-2
    //-         a.Button.Button--link-btn.next(href="#") Consultar                    