section.tarjeta.method_credit
    h3
        | Seleccione operador

    .form-group
        .col-sm-2
            label.custom-radio-button
                input(type='radio',name="operator",value="visa",checked="true")
                span.helping-el
                span.label-text 
                    img(src="./img/visa.jpg", alt="", style="width:100px")
        .col-sm-2
            label.custom-radio-button
                input(type='radio',name="operator",value="mastercard")
                span.helping-el
                span.label-text 
                    img(src="./img/mastercard.jpg", alt="", style="width:100px")
        .col-sm-2
            label.custom-radio-button
                input(type='radio',name="operator",value="american")
                span.helping-el
                span.label-text 
                    img(src="./img/american.jpg", alt="", style="width:100px")
        .col-sm-2
            label.custom-radio-button
                input(type='radio',name="operator",value="dinner")
                span.helping-el
                span.label-text
                    img(src="./img/dinner.jpg", alt="", style="width:100px")                 
        .col-sm-12  
            label.error * Recuerde que la información ingresada debe ser tarjeta  de crédito. 

        .col-sm-5
            table#tarjeta-table
                tr
                    td(width="25%")
                    td(width="25%")
                    td(width="25%")
                    td(width="25%")
                tr
                    td(colspan="4") 
                        span N° Tarjeta
                tr
                    td(colspan="3") 
                        input.Input.tarjeta__nro-tarjeta(type="text", name="nro-tarjeta",data-rule-required="true", data-msg-required="Número de tarjeta")                              
                    td
                tr
                    td
                        span Mes Venc.
                    td 
                        span Año 
                    td
                    td  
                        span CCV
                tr
                    td 
                        input.Input.tarjeta__mes-vence(type="text", name="mes-vence",data-rule-required="true", data-msg-required="Ingresa el mes de vencimiento")                                           
                    td 
                        input.Input.tarjeta__agno-vence(type="text", name="agno-vence",data-rule-required="true", data-msg-required="Ingresa el año de vencimiento")                                           
                    td
                    td 
                        input.Input.tarjeta__ccv(type="text", name="ccv",data-rule-required="true", data-msg-required="Ingresa el CCV")                        
                tr
                    td(colspan="4") 
                        span Nombre                    
                tr
                    td(colspan="4") 
                        input.Input(type="text", name="nombre-tarjeta",data-rule-required="true", data-msg-required="Ingresa el nombre completo")                                                
                tr
                    td(colspan="4")    
                   
    .form-group
        label.col-sm-2.control-label(for='reserva_parthers') País
        .col-sm-3           
            .Select
                select#droplist_countries(name='countries')
                    option(value="Sabre", data-title="Perú") Perú
                    option(value="Amadeus", data-title="Argentina") Argentina
                    option(value="Kiu", data-title="Chile") Chile
        label.col-sm-1.control-label(for='cod_pnr_credit') Banco
        .col-sm-3            
            input.Input.banks(type="text", name="banks",data-rule-required="true", data-msg-required="Ingresa el nombre del Banco") 

    .form-group
        label.col-sm-2.control-label(for='reserva_parthers') Tipo de documento
        .col-sm-3          
            .Select
                select#droplist_tip_doc_credit(name='tip_doc_credit')
                    option(value="dni", data-title="dni") DNI
                    option(value="carnet_extranjeria", data-title="carnet_extranjeria") Carnet extranjeria
                    option(value="ruc", data-title="ruc") RUC                    
                    option(value="pasaporte", data-title="pasaporte") Pasaporte
                    option(value="carnet_ffaa", data-title="carnet_ffaa") Carnet FF.AA.
                    option(value="carnet_policial", data-title="carnet_policial") Carnet Policial
                    option(value="partida_nacimiento", data-title="partida_nacimiento") Partida de Nacimiento
        label.col-sm-1.control-label(for='cod_pnr_credit') Nro.
        .col-sm-3            
            input.Input.n_document_credit(type="text", autocomplete="off",name="n_document_credit",data-rule-required="true", data-msg-required="Ingresa el número") 

    .form-group
        .col-sm-2
            button.Button.Button--link-btn(href="#") Registrar pago                    