if location_link
  a.IconButton.IconButton--location(href=location_link, title="Encontre um ponto de arrecadação mais próximo", target="_blank")
else
  a.IconButton.IconButton--location(href="#", title="Encontre um ponto de arrecadação mais próximo", target="_blank")
