extends ../layout/base.pug

block _cssfiles_


block _content_
 
  - var session = 'on'

  header.header
    include ../modules/includes/_header.pug

  - var variable = 'variable'
  
  main  
    include ../modules/change_password/_form.pug
    
  include ../modules/includes/_footer.pug
  - var modal = 'success_change_password'
  include ../modules/includes/_modal.pug

block _jsfiles_
  
  //- Scripts de terceros
  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/is.min.js')
  script(src='js/vendor/iscroll.min.js')
  script(src='js/vendor/jquery.validate.min.js')
  script(src='js/vendor/jquery.inputmask.bundle.js')
  script(src='js/vendor/jquery.ddslick.js')
  script(src='css/bootstrap/js/modal.js')
  script(src="js/vendor/tooltip.js")
  script(src="js/vendor/popover.js")  
  script(src='js/modules/standar.js')
  script(src='js/modules/change-password.js')
  script(src='js/app.js')


  


