extends ../layout/base.pug

block _cssfiles_
  link(rel='stylesheet', href='js/vendor/slick/slick.css')
  link(rel='stylesheet', href='js/vendor/slick/slick-theme.css')

block _content_
 
  - var session = 'on'

  header.header
    include ../modules/includes/_header.pug

  - var variable = 'variable'
  
  main  
    include ../modules/home-with-logueo/_motor.pug
    include ../modules/home/_sales.pug
    include ../modules/home/_te_recomendamos.pug  
    include ../modules/home/_our_products.pug
    include ../modules/home/_dm_products.pug
    include ../modules/home/_our_services.pug
    
  include ../modules/includes/_footer.pug
  - var modal = 'init_session'
  include ../modules/includes/_modal.pug

block _jsfiles_
  
  //- Scripts de terceros
  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/is.min.js')
  script(src='js/vendor/jquery.validate.min.js')
  script(src="js/vendor/tooltip.js")
  script(src="js/vendor/popover.js")
  script(src='css/bootstrap/js/modal.js')
  script(src='js/vendor/slick/slick.js')
  script(src='js/modules/standar.js')
  script(src='js/modules/home.js')
  script(src='js/vendor/jquery.inputmask.bundle.js')     
  script(src='js/app.js')


  


