extends ../layout/base.pug

block _cssfiles_
  link(rel='stylesheet', href='js/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')


block _content_
 
  - var session = 'on'

  header.header
    include ../modules/includes/_header.pug

  - var variable = 'variable'
  
  main  
    include ../modules/register-you-pay/_form.pug

  include ../modules/includes/_footer.pug
  - var modal = 'sure_register_you_pay'
  include ../modules/includes/_modal.pug

block _jsfiles_
  
  //- Scripts de terceros
  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/is.min.js')
  script(src='js/vendor/iscroll.min.js')
  script(src='js/vendor/jquery.validate.min.js')
  script(src="js/vendor/jquery.mask.min.js")
  script(src='js/vendor/jquery.ddslick.js')
  script(src='js/vendor/slick.min.js')
  script(src='css/bootstrap/js/modal.js')
  script(src='js/vendor/tooltip.js')
  script(src='js/vendor/popover.js')
  script(src='js/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')  
  script(src='js/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js')    
  script(src='js/modules/standar.js')
  script(src='data/cuentas_bancos.json')
  script(src='js/modules/register-you-pay.js')
  script(src='js/vendor/jquery.inputmask.bundle.js')
  script(src='js/app.js')


  


