extends ../layout/base.pug

block _cssfiles_
  link(rel='stylesheet', href='js/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')


block _content_
 
  - var session = 'on'

  header.header
    include ../modules/includes/_header.pug

  - var variable = 'variable'
  
  main  
    include ../modules/service_to_customer/_form.pug
    
  include ../modules/includes/_footer.pug
  - var modal = 'success_service_to_customer'
  include ../modules/includes/_modal.pug

block _jsfiles_
  
  //- Scripts de terceros
  script(src='js/vendor/jquery.min.js')
  script(src='js/vendor/is.min.js')
  script(src='js/vendor/iscroll.min.js')
  script(src='js/vendor/jquery.validate.min.js')
  script(src='js/vendor/jquery.inputmask.bundle.js')
  script(src='js/vendor/jquery.ddslick.js')
  script(src='css/bootstrap/js/modal.js')
  script(src="js/vendor/tooltip.js")
  script(src="js/vendor/popover.js")  
  script(src='js/modules/standar.js')
  script(src='js/modules/service_to_customer.js')
  script(src='js/app.js')


  


