footer.footer
    .container
        .row
            .footer__menu
                h3 Conócenos
                ul  
                    li 
                        a(href="") Quienes Somos
                    li 
                        a(href="") Nuestro Equipo
                    li 
                        a(href="") En Contacto
                    li 
                        a(href="") Red de Oficinas
                     
            .footer__comunication
                h3 Comunicaciones
                ul  
                    li 
                        a(href="") Agencias Deudoras                 
                    li 
                        a(href="") Manuales
                    li 
                        a(href="") News &amp; Flyers
                    li 
                        a(href="") Travel Ace
            .footer__salto                        
            .footer__red-social
                .social-networks
                    .social-networks__youtube
                        a(href="")
                            //i.icon-youtube              
                            img(src="./img/youtube.png", alt="")
                    .social-networks__facebook
                        a(href="")
                            i.icon-facebook
                    .social-networks__linkedin
                        a(href="")
                            i.icon-linkedin-squared  
                .footer__copyright
                    p
                        | &copy; Copyright 2019 - Todos los derechos reservados
                                                  
            .footer__part-susc
                .partners
                    h3
                        | Partners
                    
                    .row
                        .col-xs-12
                            .partners__logo
                                a.img-amadeus(href="#")
                                    img.img-responsive(src="./img/logo-amadeus.png", alt="")
                            .partners__logo
                                a.img-sabre(href="#")
                                    img.img-responsive(src="./img/logo-sabre.png", alt="") 
                            .partners__logo
                                a.img-kiu(href="#")
                                    img.img-responsive(src="./img/logo-kiu.png", alt="")
                                   
                //- .subscriptions
                //-     h3  
                //-         | Suscribete a los boletines
                //-     form.subscriptions__form(action="")
                //-         input.Input.Input--dark(type="text",placeholder="E-mail")
                //-         button.Button
                //-             i.icon-mail                  
