.container
  .header__logo-agil
    a(href="home.html")
      img(src="./img/logo-agil.png", class="")
  .header__triangle
  div(class="header__menu header__menu--"+session)
    include ./_menu-desktop.pug  
  if(session=='off') 
    .header__data-info
      .data-info
        .data-info__icon
          i.icon-phone
        .data-info__items
          p 610-60600

  if(session=='off')
    .header__btns
      a(href="#").Button.Button--agil-tools

  if(session=='on')
    .header__btns.header__btns--on
      a(href="#").Button.Button--agil-tools
      a(href="#").Button.Button--easy

  
  if session == 'off'
    div(class="header__box-session-"+session)      
      .data-session-off
        .data-session-off__btn
          
          button.Button.Button--primary(data-toggle="modal",data-target="#modal-login") 
            i.icon-user
            | Iniciar Sesión
        .data-session-off__list-op-off
          ul
            li ¿No eres miembro todavía?
            li 
              a(href="register.html")
                | ¡Regístrate aquí!
  else
    div(class="header__box-session-"+session)  
      .data-session-on
        .data-session-on__toogle
          .data-session-on__heading
            //i.icon-user.data-session-on__icon-user
            img.img_user_mobile(src="./img/logo_user_red.svg",width="30",heigth="30", alt="")
            img.img_user_desktop(src="./img/logo_user_white.svg",width="30", heigth="30",alt="")
            i.icon-down-open.data-session-on__icon-arrow
        .data-session-on__opts
          ul
            li
              a(href="#") Actualización de datos
            li
              a(href="#") Cambio de contraseña
            li
              a(href="#") Cerrar sesión  

if session == 'on'
  .franja
    .container
      .franja__items
        .franja__item
          img.icono(src="./img/billetera_web.svg", alt="")
          p
            | Billetera Ágil: $9.00
        .franja__item
          p
            | Tipo de cambio: S/. 3.38  
          P 
            | -
          p
            | 26 Septiembre 2019 
        .franja__item   
          i.icon-phone            
          p
            | Central de emergencia: 610-9400               
      
