.menu-mobile
  .menu-mobile__button-burger
    button(role='button', aria-label='none', aria-hidden='true')
      span
      span
      span  
  nav.menu-mobile__items
    if(session=='off')  
      ul
        li
          if option_menu=="quienes-somos"
            a.active(href="#") Quienes Somos
          else
            a(href="#") Quienes Somos

        li
          if option_menu=="en-contacto"
            a.active(href="#") Conócenos
          else
            a(href="#") Conócenos

        li
          if option_menu=="red-oficinas"
            a.active(href="#") Red de oficinas
          else
            a(href="#") Red de oficinas

        li
          if option_menu=="comunicados"
            a.active(href="#") Comunicados
          else
            a(href="#") Comunicados

        li
          if option_menu=="agencias-deudores"
            a.active(href="#") Agencias Deudoras
          else
            a(href="#") Agencias Deudoras
    else
      ul
        li
          if option_menu=="solicitudes"
            a.active(href="#") Solicitudes
          else
            a(href="#") Solicitudes

        li
          if option_menu=="productos"
            a.active(href="#") Productos
          else
            a(href="#") Productos

        li
          if option_menu=="conocenos"
            a.active(href="#") Conócenos
          else
            a(href="#") Conócenos

        li
          if option_menu=="procedimientos"
            a.active(href="#") Procedimientos
          else
            a(href="#") Procedimientos

        li
          if option_menu=="servicios"
            a.active(href="#") Servicios
          else
            a(href="#") Servicios
        li
          if option_menu=="publicaciones"
            a.active(href="#") Publicaciones
          else
            a(href="#") Publicaciones          