include ../modales/_modal_login.pug

if modal == 'success_register'
    include ../modales/_success_register.pug
if modal == 'sure_register_you_pay'
    include ../modales/_sure_register_you_pay.pug
    include ../modales/_success_register_you_pay.pug
    include ../modales/_select_method_credit.pug
if modal == 'success_service_to_customer'    
    include ../modales/_success_service_customer.pug
if modal == 'success_actualizacion_datos'
    include ../modales/_success_actualizacion_datos.pug
if modal == 'success_change_password'
    include ../modales/_success_change_password.pug    
if modal == 'requisito_reembolsos'
    include ../modales/_requisito_reembolsos.pug   
if modal == 'success_rep_incentivo'
    include ../modales/_success_rep_incentivo.pug   
if modal == 'success_forget_password'
    include ../modales/_success_forget_password.pug  
if modal == 'success_comisiones'
    include ../modales/_success_comisiones.pug  
