.wrapper-en-contacto
    include ../includes/_breadcrumb.pug 
    .container
        h1.Title-section Contacto
            i.icon-question-circle-o(data-toggle='popover' data-content="And here's some amazing content. It's very engaging. Right?")    
    .container
        .selectores-empresa
            .col-sm-4.col-xs-12.col-md-3.col-lg-3
                label.custom-radio-button
                    input(id="radioDM",type='radio',name="empresa",value="DM")
                    span.helping-el
                    span.label-text Destinos Mundiales
            .col-sm-4.col-xs-12.col-md-3.col-lg-3
                label.custom-radio-button
                    input(id="radioDM",type='radio',name="empresa",value="IA")
                    span.helping-el
                    span.label-text Interagencias
    .en-contacto-principal  
        .en-contacto-principal-opaco
            .container
                .en-contacto-principal-opaco__titulo_DM
                    h3 Destinos Mundiales
                .en-contacto-principal-opaco__direccion_DM
                    p Avenida Jorge Chavez 154 Piso 7 Oficina 604 Miraflores.
                .en-contacto-principal-opaco__titulo_IA
                    h3 Interagencias
                .en-contacto-principal-opaco__direccion_IA
                    p Avenida Jorge Chavez 154 Piso 7 Oficina 604 Miraflores.
    .container
        .grupo-tarjeta-encontanto
            .tarjeta-encontacto-izquierda
                .tarjeta-encontacto-izquierda__header 
                    h3 TELÉFONO
                .tarjeta-encontacto-izquierda__body  
                    table
                        tbody
                            tr
                                td
                                    label
                                        | CENTRAL TELEFÓNICA       
                                td 
                                    a(href="tel:+51 016106060")
                                        | 610 - 6060 
                                td
                                    a(href="whatsapp://sendphone=+ 51991699399")
                                        i(class="icon-whatsapp")
                                    a.numeroWhatsapp(href="whatsapp://send?phone=+ 51991699399") 991 699 399
                            tr
                                td
                                    label
                                        | TOLL FREE PROVINCIAS
                                td
                                    a(href="tel:+51 080000861")
                                        |080000861
                                td
                            tr
                                td
                                    label
                                       | CALL CENTER
                                td
                                    a(href="tel:+51 6109000")
                                        |610 9000
                                td
                            tr
                                td(colspan = "3")
                                    img.img-responsive(src='./img/encontacto_direccion.png')
            .tarjeta-encontacto-derecha
                .tarjeta-encontacto-derecha__header
                    h3 EMERGENCIAS
                .tarjeta-encontacto-derecha__body  
                    table
                        tbody
                            tr
                                td
                                    label
                                        |LUN - VIE: 
                                    |   9:00 - 19:00 - SAB: 9:30 - 14:00
                            tr
                                td
                                    a(href="tel:+51 6106060")
                                        |610 6060 - OPCIÓN 1
                            tr
                                td
                                    label
                                        |Fuera de Oficina, Fines de Semana y Feriados
                            //- tr
                            //-     td
                            //-         label
                            //-             |Semana y Feriados
                            tr
                                td
                                    a(href="mailto:emergencias@destinosmundialesperu.com")
                                        |emergencias@destinosmundialesperu.com
                            tr
                                td
                                    a(href="tel:+51 6109400")
                                        |610 9400 - OPCIÓN 4
                                        label
                                            |Destino Internacional y Nacional
                            tr
                                td 
                                    |                                                      
    .container
        .grupo-tarjeta-encontanto-IA
            .tarjeta-encontacto-centro
                .tarjeta-encontacto-centro__header
                    h3 TELÉFONO
            .tarjeta-encontacto-IA-izquierda
                .tarjeta-encontacto-IA-izquierda__body  
                    table
                        tbody
                            tr
                                td
                                    label
                                        | CENTRAL TELEFÓNICA       
                                td 
                                    a(href="tel:+51 6109600")
                                        |   610 - 9600 Opción 1 
                            tr
                                td
                                    label
                                        | TOLL FREE PROVINCIAS
                                td
                                    a(href="tel:+51 080000270")
                                        |   0800 - 00270
                                td
                            tr
                                td
                                    label
                                       | AGENCIAS TELEMARKETING
                                td
                                    a(href="tel:+51 6109000")
                                        |   610 9000
                                td
                            tr
                                td(colspan = "3")
                                    img.img-responsive(src='./img/encontacto_direccion.png')
            .tarjeta-encontacto-IA-derecha
                .tarjeta-encontacto-IA-derecha__body  
                    table
                        tbody
                            tr
                                td
                                    label
                                        |   CALL CENTER
                                td
                                    a(href="tel:+51 6106060")
                                        |   610 - 6060
                            tr
                                td
                                    label
                                        |   TOLL FREE MOVISTAR REGIONAL
                                td
                                    a(href="tel:+51 080019105")
                                        |   0800 - 19105
                            //- tr
                            //-     td
                            //-         |   
                            //- tr
                            //-     td
                            //-         |   
                            //- tr
                            //-     td 
                            //-         |                                                                                                                   
    .container
        .en-contacto-busqueda-avanzada  
            .titulo-busqueda-avanzada
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    h2
                        |BÚSQUEDA 
                        span AVANZADA
            .row.seccion-radios-busqueda
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
                .col-xs-6.col-sm-5.col-md-3.col-lg-2
                    label.custom-radio-button.pull-left
                        input.custom-radio-buttonCargo(type='radio',name="radioBusqueda",value="Cargo")
                        span.helping-el
                        span.label-text
                            |Cargo
                .col-xs-6.col-sm-5.col-md-3.col-lg-2                            
                    label.custom-radio-button.pull-right
                        input.custom-radio-buttonNombre(type='radio',name="radioBusqueda",value="Nombre")
                        span.helping-el
                        span.label-text
                            |Nombre
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
            .row
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
                .col-xs-12.col-sm-10.col-md-6.col-lg-4
                    .selector-cargo                            
                        .Select
                        select#droplist_cargo.Input.form-control(class="en-contacto-cargo",name='en-contacto-cargo')
                            option(value="0", data-title="Selecciona") Selecciona 
                            option(value="1", data-title="Analista") Analista  
                            option(value="2", data-title="Jefe") Jefe  
                            option(value="3", data-title="Gerente") Gerente 
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
            .row
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
                .col-xs-12.col-sm-10.col-md-6.col-lg-4
                    .textoCargo.Input--with-icon
                        input.Input.form-control(id='list-encontactoCargo',type='text',name='name_porCargo',autocomplete='off',data-rule-required="true",data-msg-required="Ingrese Nombre",placeholder="Escriba el nombre del asesor", list="json-aerolineas")
                        datalist(id="json-aerolineas") 
                        i.icon-search
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
            .row
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
                .col-xs-12.col-sm-10.col-md-6.col-lg-4
                    .textoNombre.Input--with-icon
                        input.Input.form-control(id='list-encontactoNombre',type='text',name='name_porNombre',autocomplete='off',data-rule-required="true",data-msg-required="Ingrese Nombre",placeholder="Escriba el nombre del asesor",
                        list="json-aerolineas")
                        datalist(id="json-aerolineas")
                        i.icon-search     
                .col-xs-0.col-sm-1.col-md-3.col-lg-4
            .row
                .datos-en-contacto                    
                    .col-xs-0.col-sm-2.col-md-2.col-lg-2
                    .col-xs-12.col-sm-8.col-md-8.col-lg-8
                        .tabla-datos-en-contacto
                            .tabla-datos-izquierda
                                img.img-responsive(src='./img/foto_persona.png')
                            .tabla-datos-derecha
                                table
                                    tbody
                                        tr
                                            td
                                                label 
                                                    | Nombre: 
                                            td
                                                | Sarah Figueroa
                                        tr
                                            td
                                                label 
                                                    | Cargo:  
                                            td
                                                | Asesor Europa y Destinos exóticos.
                                        tr
                                            td
                                                label 
                                                    | Teléfono: 
                                            td
                                                | -    
                                        tr
                                            td
                                                label Correo: 
                                            td         
                                                | europa4@agilperu.com
                    .col-xs-0.col-sm-2.col-md-2.col-lg-2

