section.wrapper-our-services
    .container
        .wrapper-our-services__title
            h2 Nuestros 
                span
                    | Servicios
        .wrapper-our-services__items
            .row
                .col-xs-6.col-sm-3
                    .our-services
                        .our-services__img(style="background-image:url(./img/serv3.jpg) ")
                            .our-services__title.our-services__title--blue-light
                                .our-services__icon.our-services__icon--coh
                                .our-services__title-h
                                    h3 AGIL Online
                        .our-services__info
                            .our-services__info-p                        
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, aliquam hacommodi reiciendis eum a error sint.
                            .our-services__button
                                a.Button.Button--blue-light(href="#") ¡Me interesa!
                .col-xs-6.col-sm-3
                    .our-services
                        .our-services__img(style="background-image:url(./img/serv2.jpg) ")
                            .our-services__title.our-services__title--green-light
                                .our-services__icon.our-services__icon--hand
                                .our-services__title-h
                                    h3 Promociones
                        .our-services__info
                            .our-services__info-p
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, aliquam harum vel rem ratione aut debitis com
                            .our-services__button
                                a.Button.Button--green-light(href="#") ¡Me gusta!
                .col-xs-6.col-sm-3
                    .our-services
                        .our-services__img(style="background-image:url(./img/serv4.jpg) ")
                            .our-services__title.our-services__title--orange
                                .our-services__icon.our-services__icon--sombrero
                                .our-services__title-h
                                    h3 Capacitaciones   
                        .our-services__info
                            .our-services__info-p
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, aliquam harum vel rem ratione aut debitis commodi reiciendis eum a error sint.
                            .our-services__button
                                a.Button.Button--orange(href="#") ¡Lo necesito!
                .col-xs-6.col-sm-3
                    .our-services
                        .our-services__img(style="background-image:url(./img/serv1.jpg) ")
                            .our-services__title.our-services__title--brown
                                .our-services__icon.our-services__icon--partner
                                .our-services__title-h
                                    h3 Asesoría                            
                        .our-services__info
                            .our-services__info-p
                                p
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, aliquam harum vel
                            .our-services__button
                                a.Button.Button--brown(href="#") ¡Lo quiero!                                                                       