section.wrapper-te-recomendamos
    .container
        .wrapper-te-recomendamos__title
            h2 
                i.icon-flight Te 
                span
                    | Recomendamos
        .wrapper-te-recomendamos__items
            .wrapper-te-recomendamos__items-row
                .row
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco1.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Paris
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco2.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Holanda
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco4.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Brasil   
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco3.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Colombia                            
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle                                                                     
            .wrapper-te-recomendamos__items-row.wrapper-te-recomendamos__items-row--hide
                .row
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco1.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Paris
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco2.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Holanda
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco4.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Brasil   
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle
                    .col-xs-6.col-sm-3
                        .te-recomendamos
                            .te-recomendamos__img(style="background-image:url(./img/reco3.jpg) ")
                                .te-recomendamos__title-h
                                    h3 Colombia                            
                            .te-recomendamos__info
                                .te-recomendamos__info-p                        
                                    p
                                        | Desde:
                                    p
                                        span.currency $
                                        span.amount 123.00
                                .te-recomendamos__button
                                    a.Button.Button--main-detalle(href="#") Ver detalle                                                                     
        
        .wrapper-te-recomendamos__btnreco.pull-right
            a.Button.recomendaciones(href="javascript:void(0)",data-group=".wrapper-te-recomendamos__items-row",data-less="- Recomendaciones",data-more="+ Recomendaciones") + Recomendaciones