.wrapper-comisiones
  include ../includes/_breadcrumb.pug 
  .container
    h1.Title-section Comisiones
      i.icon-question-circle-o(data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?")
    .form-comisiones 
      form(action="#",id="form-lista-aerolineas",class="form-horizontal form form--label-left",method="post") 
        .form-group
          //.col-sm-4.Input--with-icon
          .col-xs-12.col-sm-5.col-md-4.col-lg-3.Input--with-icon
            input.Input.form-control(id='list-comi-aerolineas',placeholder="Escriba el nombre de la aerolínea",list="json-aerolineas")
            datalist(id="json-aerolineas")          
            i.icon-search         
    .container
      .row.row-pdf
        .col-sm-2
        .col-sm-8
          iframe(class="iframe-pdf-comision iframe-pdf-comision--hide" src="./pdf/Tarifarios.pdf" frameborder="0")
        .col-sm-2
    .container
        .row  
          .col-sm-2
          .col-sm-8
            .opciones-pdf.opciones-pdf--hide
              .col-sm-12.col-xs-12.col-md-4.col-lg-3.Input--with-icon
                a.Button.Button--oscuro(id="boton_descargar",href="./pdf/Tarifarios.pdf",target = "_blank") Descargar
                i.icon-download-cloud
              form#form-correo(action="#",class="form-horizontal form form--label-left",method="post")
                .col-sm-12.col-xs-12.col-md-6.col-lg-7.Input--with-icon                  
                  input.Input.form-control(id='input_email',type='email',name='email' autocomplete='off',data-rule-required="true",data-msg-required="Ingresa  Email.",data-rule-email="true",data-msg-email="Ingresa un Email válido" placeholder="Email")
                  i.icon-mail
                .col-sm-12.col-xs-12.col-md-2.col-lg-2
                  button.Button.Button--oscuro Enviar
          .col-sm-2



        
