.wrapper-forget-password
    .container
        h2.Title-section ¡Hola!
        .form-forget-password
            p.p_section Ingresa tu e-mail y te enviaremos un correo con tu clave.
            form(action="#",id="form-datos-forget",class="form-hori-upda-dato form form--label-left",method="post")
                .form-group
                    .row
                        .col-xs-12.col-sm-7.col-md-6.col-lg-4
                            input.Input.form-control(id='input_email',type='text',name='email',autocomplete='off',data-rule-required="true",data-msg-required="Ingresa Email.",maxlength="50")   
                .form-group.form-mensaje-forget
                    .row
                        .col-sm-5                        
                            h4
                            i(class="icon-attention-alt")
                            |Este e-mail no se encuentra registrado en ágil. Regístrate desde 
                            a(href="./register.html")
                                |aquí
                            |.
                .form-group
                    .row
                        .col-sm-2
                            button.Button.Button--oscuro.button_forget_password(type='submit') Enviar    