// --------------------------------------------------------------------------*
// Color Background
// --------------------------------------------------------------------------*
$c_rojo_patron      : #d40e2d;
$c_bg_green         : #c0c242;
$c_bg_blulight      : #6595b0;
$c_bg_pink          : #da4457;
$c_bg_gris          : #f8f8f8;



// --------------------------------------------------------------------------*
// Colors general
// --------------------------------------------------------------------------*
$c_oscuro_patron            : #5a6670 ;
$c_blanco                   : #ffffff;
$c_gris                     : #e6e6e6;
$c_gris_medio               : #acacac;
$c_blue                     : #276585;
$c_blulight                 : #9fd4f5;
$c_bg_table                 : #f4f4f4;
$c_semiblulight             : $c_oscuro_patron;
$c_brown                    : #b25e45;
$c_gris_oscuro              : #7b8590;
$c_black                    : #000;
$c_enlace_tabla             : #5EA9E7;

$c_alt_blue_light : #36aacf;
$c_alt_green_light : #99bf49;
$c_alt_orange : #e29233;
$c_alt_brown : #9f2e2e;

// --------------------------------------------------------------------------*
// Inputs
// --------------------------------------------------------------------------*
$c_texto_placeholder : $c_blanco; 
$c_texto_input : $c_blanco;
$c_bg_input     : $c_bg_blulight;
$c_border_input : $c_gris_medio;

// --------------------------------------------------------------------------*
// Textos General
// --------------------------------------------------------------------------*
$c_texto_base   : #404040;
$c_texto_negro  : $c_black;
$c_texto_gris_medio  : $c_gris_medio;


// --------------------------------------------------------------------------*
// Title Footer
// --------------------------------------------------------------------------
$c_title_footer   : $c_blanco;

// --------------------------------------------------------------------------*
// Title Main Sections
// --------------------------------------------------------------------------
$c_title_section   : $c_rojo_patron;

// --------------------------------------------------------------------------*
// Error
// --------------------------------------------------------------------------*
$c_bg_error      : rgb(255, 132, 132);
$c_texto_error  : rgb(245, 8, 8);
$c_texto_error_2  : #fa9c9c;
$c_border_error  : rgb(245, 8, 8);

// --------------------------------------------------------------------------*
// Success
// --------------------------------------------------------------------------*
$c_bg_success      : #5FB749;
$c_border_success  : #42922E;



// --------------------------------------------------------------------------*
// Button
// --------------------------------------------------------------------------
$c_button_hover         : $c_rojo_patron;
$c_bg_button            : $c_rojo_patron;
$c_texto_button         : $c_blanco;
$c_border_button        : $c_blanco;

$c_button2_hover         : #c6142b;
$c_bg_button2            : $c_bg_pink;
$c_texto_button2         : $c_blanco;
$c_texto_hover_button2   : $c_blanco;

// --------------------------------------------------------------------------*
// Height
// --------------------------------------------------------------------------*
$height_header : 125px;
$height_header_dlarge : 100px;
$height_header_tablet : 60px;

// --------------------------------------------------------------------------*
// Font-size-DESKTOP
// --------------------------------------------------------------------------*
$font_size_base             : 12px;
$tempo             : 16px;
$font_size_table            :  $tempo * 0.875;      // resultado 14px
$font_size_title            :  $tempo * 1.5;      // resultado 24px
$font_size_stitle           :  $tempo * 1.25;      // resultado 20px
$font_size_banner_title     :  $tempo * 2;      // resultado 32px
$font_size_banner_stitle    :  $tempo * 1;          // resultado 16px
$font_size_sfooter          :  $tempo * 1;          // resultado 16px
$font_size_ifooter          :  $tempo * 0.875;      // resultado 14px
$font_size_12               :  $tempo * 0.75;      // resultado 12px

// --------------------------------------------------------------------------*
// Font-size-MOBIL
// --------------------------------------------------------------------------*
$font_size_base_m             :  12px;
$font_size_table_m            :  10px;      // resultado 10px
$font_size_title_m            :  16px;      // resultado 16px
$font_size_stitle_m           :  14px;      // resultado 14px
$font_size_banner_title_m     :  $font_size_base_m * 2;      // resultado 24px
$font_size_banner_stitle_m    :  $font_size_base_m * 1;          // resultado 12px
$font_size_sfooter_m          :  $font_size_base_m * 1;          // resultado 12px
$font_size_ifooter_m          :  10px;      // resultado 10px

// --------------------------------------------------------------------------*
// Sub title Main
// --------------------------------------------------------------------------*
$font_size_subtitle_main    : $font_size_base*2.5;
$font_size_s_subtitle_main  : $font_size_base*1.5;
$c_font_subtitle_main       : $c_blue; 

// --------------------------------------------------------------------------*
// Fuentes
// --------------------------------------------------------------------------*
$ff_principal          : 'OpenRegular', Arial;
$ff_principal_light    : 'OpenSansLight', Arial;
$ff_principal_semibold : 'OpenSemiBold', Arial;
$ff_principal_bold     : 'OpenBold', Arial;

// --------------------------------------------------------------------------*
// Breakpoints MinWidth
// --------------------------------------------------------------------------*
$brkpoint-mobile-small  : 360px;
$brkpoint-mobile-large  : 480px; // Mobile large
$brkpoint-mobile        : 500px;
$brkpoint-phablet:       550px;
$brkpoint-tablet-small  : 640px; // Tablet small
$brkpoint-phablet-large : 700px;
$brkpoint-tablet-large  : 768px; // Tablet Large
$brkpoint-screen-small  : 993px; // Screen Small

// --------------------------------------------------------------------------*
// Breakpoints MaxWidth
// --------------------------------------------------------------------------*}
$bp_mobile_short  : 320px;
$bp_mobile_medium  : 360px;
$bp_mobile  : 480px;
$bp_tablet  : 750px;
$bp_desktop_large : 992px;
$bp_container : 1300px;

