// Media queries
@mixin mqmax($break) {
  
  @if $break == "mobile_short" {
    @media screen and (max-width: $bp_mobile_short) {
      @content;
    }
  }  
  @if $break == "mobile_medium" {
    @media screen and (max-width: $bp_mobile_medium) {
      @content;
    }
  }  
  @if $break == "mobile" {
    @media screen and (max-width: $bp_mobile) {
      @content;
    }
  }
  @if $break == "desktop_large" {
    @media screen and (max-width: $bp_desktop_large) {
      @content;
    }
  }
  @if $break == "mobile_large" {
    @media screen and (max-width: $brkpoint-mobile) {
      @content;
    }
  }
  @else if $break == "tablet" {
    @media screen and (max-width: $bp_tablet) {
      @content;
    }
  }
  @else if $break == "container" {
    @media screen and (max-width: $bp_container) {
      @content;
    }
  }  
  
   
  @else {
    // @error "No hay un valor para crear el breakpoint";
  }
}

// Media queries
// --------------------------------------------------------------------------*
// Media Queries - Mobile First - min-width
// --------------------------------------------------------------------------*
@mixin mq($break) {
  @if $break == "mob_small"  {
    @media (min-width: $brkpoint-mobile-small) {
      @content;
    }
  }

  @if $break == "mob_large"  {
    @media (min-width: $brkpoint-mobile-large) {
      @content;
    }
  }

  @else if $break == "tab_small" {
    @media (min-width: $brkpoint-tablet-small){
      @content;
    }
  }

  @else if $break == "phablet" {
    @media (min-width: $brkpoint-phablet){
      @content;
    }
  }

  @else if $break == "phablet_large" {
    @media (min-width: $brkpoint-phablet-large){
      @content;
    }
  }

  @else if $break == "tab_large" {
    @media (min-width: $brkpoint-tablet-large){
      @content;
    }
  }

  @else if $break == "screen_small" {
    @media (min-width: $brkpoint-screen-small) {
      @content;
    }
  }
  @else if $break == "container" {
    @media (min-width: $bp_container) {
      @content;
    }
  }  
  @else {

  }
}
