.wrapper-form-serv-cli
  include ../includes/_breadcrumb.pug 
  .container
    h2.Title-section Servicio al cliente   
    .form-serv-cli
      form(action="#",id="form-serv-cli",class="form-horizontal form form--label-left",method="post")   
        .form-group
          label.col-sm-3.control-label(for='oficina') Oficina donde ocurrió el hecho:
          .col-sm-3
            .Select(data-rule-required="true", data-msg-required="Selecciona la oficina")
              select#droplist_oficinas(name='oficinas')
                option(value="0", data-title="Seleccione...") Seleccione...               
                option(value="1", data-title="breña") Interagencias Breña
                option(value="2", data-title="jorge_chavez") Interagencias Jorge Chavez
                option(value="3", data-title="el_polo") Interagencias El Polo                    
                option(value="3", data-title="san_miguel") Interagencias San Miguel
          .col-sm-6 
        .form-group
          label.col-sm-3.control-label(for='area-oficina') Área de la oficina:
          .col-sm-3
            .Select(data-rule-required="true", data-msg-required="Selecciona el área de la oficina")
              select#droplist_areas(name='areas')
                option(value="0", data-title="Seleccione...") Seleccione...               
                option(value="1", data-title="administracion") Administración
                option(value="2", data-title="Counter") Counter
          label.col-sm-3.control-label(for='area-oficina') Nombre del personal que originó el reclamo:               
          .col-sm-3.Input--with-icon
            input.Input.form-control(id='nombre-personal',type='text',name='nombre-personal',autocomplete='off',data-rule-required="true", data-msg-required="Selecciona el nombre",placeholder="Seleccione",list='list-nombre-personal')
            datalist(id="list-nombre-personal")   
            i.icon-search.red
        .form-group
          .col-sm-12
            p.form__p
              | Cuéntanos, ¿Sobre qué trata tu solicitud? 
            .row 
              .col-sm-4                
                  label.custom-radio-button
                    input.subject_service(type='radio',name="subject_service",value="prod_serv",data-input-open="#box-check-subject")
                    span.helping-el
                    span.label-text Sobre mis productos o servicios
              .col-sm-3
                  label.custom-radio-button
                    input.subject_service(type='radio',name="subject_service",value="atencion",data-input-open="#box-check-subject")
                    span.helping-el
                    span.label-text Sobre atención al cliente     
              .col-sm-3
                  label.custom-radio-button
                    input.subject_service(type='radio',name="subject_service",value="other",data-input-open="#box-other-subject")
                    span.helping-el
                    span.label-text Tengo otro requerimiento 
        .form-group.form-serv-cli__detail#box-other-subject
          .col-sm-9
            input.Input.form-control.Input--large(id='other_req',type='text',name='other_req',autocomplete='off',placeholder="Especifica aquí el asunto",maxlength="50")
            span.form__span-ley Cantidad máxima 50 caracteres.

        .form-group.form-serv-cli__detail#box-check-subject
          
          .col-sm-12
            p.form__p.form__p--red
              | Elija una o más opciones        
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="1") 
                span(class="helping-el")
                span(class="label-text") 
                  | Mala atención  
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="2") 
                span(class="helping-el")
                span(class="label-text") 
                  | Demora en el servicio  
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="3") 
                span(class="helping-el")
                span(class="label-text") 
                  | Información errada  
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="4") 
                span(class="helping-el")
                span(class="label-text") 
                  | Líneas telefónicas ocupadas                                                                  
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="5") 
                span(class="helping-el")
                span(class="label-text") 
                  | Falta de información
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="6") 
                span(class="helping-el")
                span(class="label-text") 
                  | Error en emisión de boleto
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="7") 
                span(class="helping-el")
                span(class="label-text") 
                  | No visitado 
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="8") 
                span(class="helping-el")
                span(class="label-text") 
                  | Mala orientación    
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="9") 
                span(class="helping-el")
                span(class="label-text") 
                  | Atención Amable                                                                    
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="10") 
                span(class="helping-el")
                span(class="label-text") 
                  | Solución a problema                  
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="11") 
                span(class="helping-el")
                span(class="label-text") 
                  | Alternativas para la venta  
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="12") 
                span(class="helping-el")
                span(class="label-text") 
                  | Atención rápida y afectiva   
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="13") 
                span(class="helping-el")
                span(class="label-text") 
                  | Visitas efectivas 
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="14") 
                span(class="helping-el")
                span(class="label-text") 
                  | Rapidez en trámite                                                                      
          .col-sm-3
            .form-check.form-serv-cli__form-check
              label(class="custom-checkbox")
                input(type="checkbox",name="motivos",value="15") 
                span(class="helping-el")
                span(class="label-text") 
                  | Servicio Especial

        .form-group
          .col-sm-12
            p.form__p
              | Detalle del reclamo   
          .col-sm-9                
            textarea.Input.form__textarea.Input--large(id="detail_claim",name="detail_claim",maxlength="300")
            span.form__span-ley Cantidad máxima 300 caracteres.
        .form-group
          .col-sm-12
            p.form__p
              i.icon-user-o
              | Información Personal     

        .form-group
          label.col-sm-2.control-label(for='area-oficina') Nombre:
          .col-sm-4
            input.Input.form-control(id='nombre',type='text',name='nombre',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el nombre")                 
        .form-group
          label.col-sm-2.control-label(for='apellido') Apellidos:
          .col-sm-4
            input.Input.form-control(id='apellido',type='text',name='apellido',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa los apellidos")
        .form-group
          label.col-sm-2.control-label(for='agencia') Agencia:
          .col-sm-4
            input.Input.form-control(id='agencia',type='text',name='agencia',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el nombre de la agencia")
        .form-group
          label.col-sm-2.control-label(for='cargo') Cargo:
          .col-sm-4
            input.Input.form-control(id='cargo',type='text',name='cargo',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el cargo")
        .form-group
          label.col-sm-2.control-label(for='telefono') Teléfono:
          .col-sm-4
            input.Input.form-control(id='telefono',type='text',name='telefono',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el teléfono",data-rule-minlength="9",data-msg-minlength="Ingresa mínimo 9 dígitos", maxlength="15")    
        .form-group
          label.col-sm-2.control-label(for='correo') Correo:
          .col-sm-4
            input.Input.form-control(id='correo',type='text',name='correo',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa el correo", data-rule-email="true", data-msg-email="Ingresa un correo válido.")    
        .form-group
          label.col-sm-2.control-label(for='confimar_correo') Confirmar Correo:
          .col-sm-4
            input.Input.form-control(id='confimar_correo',type='text',name='confimar_correo',autocomplete='off',data-rule-required="true", data-msg-required="Confirma el correo", data-rule-email="true", data-msg-email="Ingresa un correo válido.")   
        .form-group
          .col-sm-4
            p
              | ¿Cómo deseas que nos comuniquemos?
          .col-sm-2          
            label.custom-radio-button
              input(type='radio',name="comunication",value="correo",checked="true")
              span.helping-el
              span.label-text Correo  
          .col-sm-2              
            label.custom-radio-button
              input(type='radio',name="comunication",value="sms")
              span.helping-el
              span.label-text SMS                                                                                        
          .col-sm-3              
            label.custom-radio-button
              input(type='radio',name="comunication",value="call")
              span.helping-el
              span.label-text Llamada Telefónica  
        .form-group              
          .col-sm-12
            .form-serv-cli__actions
              button.Button.Button--oscuro(type='submit') Enviar
