.wrapper-form-oficinas
  .container
    .oficinas-encabezado
    .oficina-groups
    //-.oficina-groups
        .oficinas-detalle.oficina01
            .form-group
                .row
                    .col-sm-6
                        .title-sede.intelo_b
                            h1 Sede
                                i Principal
                                
                        .desc-sede
                            | Lorem Ipsum is simply dummiy text of the printig
                        .telefono-sede
                            label Teléfono: 
                            label (01) xxxx xxxx
                    .col-sm-6
                        .mapa-sede#divMapa
                            label Maps
        .oficinas-detalle.oficina01
            .form-group
                .row
                    .col-sm-6
                        .title-sede.intelo_b
                            h1 Sede
                                i Principal
                                
                        .desc-sede
                            | Lorem Ipsum is simply dummiy text of the printig
                        .telefono-sede
                            label Teléfono: 
                            label (01) xxxx xxxx
                    .col-sm-6
                        .mapa-sede.divMapa
                            label Maps
        .oficinas-detalle.oficina01
            .form-group
                .row
                    .col-sm-6
                        .title-sede.intelo_b
                            h1 Sede
                                i Principal
                                
                        .desc-sede
                            | Lorem Ipsum is simply dummiy text of the printig
                        .telefono-sede
                            label Teléfono: 
                            label (01) xxxx xxxx
                    .col-sm-6
                        .mapa-sede.divMapa
                            label Maps
        .oficinas-detalle.oficina01
            .form-group
                .row
                    .col-sm-6
                        .title-sede.intelo_b
                            h1 Sede
                                i Principal
                                
                        .desc-sede
                            | Lorem Ipsum is simply dummiy text of the printig
                        .telefono-sede
                            label Teléfono: 
                            label (01) xxxx xxxx
                    .col-sm-6
                        .mapa-sede.divMapa
                            label Maps
            

