<!-- Modal -->
#modal-login.fade.modal(tabindex='-1' role='dialog' aria-labelledby='')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        .modal-header__img
          img.img-responsive(src="./img/logo-agil.png", alt="")
        h4.modal-title 
          i.icon-user 
          | Inicia Sesión          
      .modal-body
        .row
          .col-sm-2.hidden-xs
          .col-sm-8
            form(action="#",id="form-login",class="form-login form")
              .form-group
                .row
                  .col-sm-12              
                    input.Input.form-control(type='email',name='email',autocomplete='off' placeholder='Email',data-rule-required="true", data-msg-required="Debe ingresar su Email", data-rule-email="true", data-msg-email="Ingrese un Email válido.")
              .form-group
                .row
                  .col-sm-12.Input--with-icon.form__passw
                    input.Input.form-control(name='password',type='password' placeholder='Contraseña',autocomplete='off' ,data-rule-required="true", data-msg-required="Debe ingresar su contraseña")
                    i.icon-eye  
              .form-check
                label(class="custom-checkbox")
                  input(type="checkbox",name="remember",value="1") 
                  span(class="helping-el")  
                  span(class="label-text") 
                    | Recordar mis datos 
              button.btn.Button.Button--oscuro(type='submit') Ingresar
              a.modal-body__a-center(href="#") ¿Se te olvidó tu contraseña?
          .col-sm-2.hidden-sm
      .modal-footer
        .modal-footer__actions
          ul
            li
              | ¿No eres miembro todavía?
            li
              a(href="register.html")
                | ¡Regístrate aquí!

        button.btn.btn-default(type='button' data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
