#modal_requisito_reembolsos.fade.modal(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        i.icon-list
        | Detalle de Reembolso
      .modal-body
        .row
          .col-sm-12
            .wrapper-head-reem
              table.table-agil-light(width="85%")
                tr
                  td(width="40%")
                    label A favor de:
                  td(width="60%")
                    | CONDOR TRAVEL S.A.C
                tr
                  td
                    label Pasajero:
                  td
                    | EMD/PADILLA/CONDOR
                tr
                  td
                    label Por Concepto:
                  td
                    | POR NO HABER HECHO USO DEL SERVICIO                  
                tr
                  td
                    label Línea aérea:
                  td
                    | LAN PERÚ S.A.
                tr
                  td
                    label Ruta:
                  td
                    | CUZLIM
                tr
                  td
                    label Fecha:
                  td
                    | 22/09/2019                 
                tr
                  td
                    label Observaciones:
                  td
                    | -                  

            .wrapper-detalle-reem
              .wrapper-detalle-reem__head
                h4 
                  i.icon-info
                  | Detalle Importante
              .wrapper-detalle-reem__table
                table.table-agil-oscuro
                  tbody
                    tr
                      td(width="50%")
                        label
                          | Ingreso por Pax:
                      td(width="50%")
                        | $350.00    
                    tr.table-agil-oscuro__os
                      td(colspan="2")
                        | Dscto. por línea aérea  
                    tr
                      td
                        label
                          | Gastos Administrativos:
                      td
                        | $0.00
                    tr
                      td
                        label
                          | Penalidad:
                      td
                        | $0.00    
                    tr
                      td
                        label
                          | Tramo Utilizado:
                      td
                        | $0.00    
                    tr
                      td
                        label
                          | Ticket Void:
                      td
                        | $0.00  
                    tr
                      td
                        label
                          | Retención Impuestos:
                      td
                        | $0.00 
                    tr
                      td
                        label
                          | Otros Gastos:
                      td
                        | $0.00 
                    tr
                      td
                        label
                          | Sub. Total:
                      td
                        | $0.00                                                                            
                    tr.table-agil-oscuro__os.table-agil-oscuro__os--icon
                      td(colspan="2")
                        i.icon-info
                        | Promotora de Turismo Nuevo Mundo S.A.          
                    tr
                      td
                        label
                          | Gastos Administrativos:
                      td
                        | $0.00 
                        br
                        | Documentos Asociados RC 1206081 OP 77251                    
                    tr
                      td
                        label
                          | Subtotal Dscto:
                      td
                        | $0.00    
                    tr
                      td
                        label
                          | Total a pagar:
                      td
                        | $350.00  
                    tr
                      td
                        label
                          | Nro. Reembolso:
                      td
                        | 13763
                    tr
                      td
                        label
                          | Nro:
                      td
                        | DC-002-1991827
                    tr
                      td
                        label
                          | File:
                      td
                        | 1566

              .col-sm-12
                label.red-error(for="") * Por favor recoger su pago el día Viernes 22/03/2019, cualquier consulta adicional comunicarse con su ejecutivo de cobranzas.