#modal-select-method-credit.fade.modal(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        i.icon-attention-alt
      .modal-body
        .row
          .col-sm-12
            h5
              | Estimado cliente
            p
              | Recuerda que para toda venta con tarjeta de crédito debes presentar lo siguiente.

            ul
              li  1.	Carta de responsabilidad firmada por el representante legal de la agencia.
              li 2.	Copia de la tarjeta de crédito por ambos lados, la banda blanca de la parte posterior debe estar firmada por el titular de la tarjeta. (*)
              li 3.	Copia de 2 (dos) documentos de identidad del titular de la tarjeta, los documentos deben ser distintos. (*)
            p
              | (*) Por regulación de la IATA