#modal-success-register-you-pay.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        i.icon-ok-circled2
      .modal-body
        .row
          .col-sm-12
            p
              | La operación se realizó satisfactoriamente

