#modal_success_service_customer.fade.modal(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        i.icon-ok-circled2
      .modal-body
        .row
          .col-sm-12
            p
              | Se ha generado el reclamo, un agente de servicio se estará comunicando en breve.
