#success_forget_password1.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        p
        h2.Title-section ¡Recordatorio Enviado!
      .modal-body
        .row
          .col-sm-12
            h3.textoMensajeCorreo Te hemos enviado un correo a roddy.rios@tiexpertia.com con tu clave.
            p
            p
            h4 Si el recordatorio no llega, recuerda verificar también tu carpeta de correo no deseado.           
            p
            p
            h2
              a(href="./home.html")
                i.icon-home
                  | Ir a Inicio            
#success_forget_password2.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        p
        h2.Title-section ¡Recordatorio Enviado!
      .modal-body
        .row
          .col-sm-12
            h3.textoMensajeCorreo Te hemos enviado un correo a sarah.pacheco@expertiatravel.com con tu clave.
            p
            p
            h4 Si el recordatorio no llega, recuerda verificar también tu carpeta de correo no deseado.           
            p
            p
            h2
              a(href="./home.html")
                i.icon-home
                  | Ir a Inicio            
#success_forget_password3.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        p
        h2.Title-section ¡Recordatorio Enviado!
      .modal-body
        .row
          .col-sm-12
            h3.textoMensajeCorreo Te hemos enviado un correo a david.argume@tiexpertia.com con tu clave.
            p
            p
            h4 Si el recordatorio no llega, recuerda verificar también tu carpeta de correo no deseado.           
            p
            p
            h2
              a(href="./home.html")
                i.icon-home
                  | Ir a Inicio            
#success_forget_password4.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        p
        h2.Title-section ¡Recordatorio Enviado!
      .modal-body
        .row
          .col-sm-12
            h3.textoMensajeCorreo Te hemos enviado un correo a ronald.tenazoa@tiexpertia.com con tu clave.
            p
            p
            h4 Si el recordatorio no llega, recuerda verificar también tu carpeta de correo no deseado.           
            p
            p
            h2
              a(href="./home.html")
                i.icon-home
                  | Ir a Inicio            
