#success_comisiones.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
         i.icon-ok-circled2
      .modal-body
        .row
          .col-sm-12
            p Se ha enviado la información al correo indicado.