#success-register.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4
          | ¡GRACIAS POR REGISTRARTE!
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            img(src="./img/close.svg", alt="Cerrar")
      .modal-body
        .row
          .col-sm-12
            p
              | Uno de nuestros ejecutivos de ventas se comunicará contigo en breve

