#success_rep_incentivo.fade.modal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        i.icon-ok-circled2
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            img(src="./img/close.svg", alt="Cerrar")         
      .modal-body
        .row
          .col-sm-12
            p Se ha enviado la información al correo indicado.

