.wrapper-actualizacion-datos
  include ../includes/_breadcrumb.pug 
  .container
    h1.Title-section Actualización de datos
      i.icon-question-circle-o(data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?")        
    .form-actualizacion-datos
      form(action="#",id="form-lista-datos",class="form-hori-upda-dato form form--label-left",method="post") 
        .col-sm-12.col-xs-12.col-md-8.col-lg-12
          .form-group
            .row
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='name_f') Nombre:
                input.Input.form-control(id="name_f",type='text',name='name_f',autocomplete='off',data-rule-required="true",data-msg-required="Ingresa Nombre",placeholder="Nombre")   
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='paternal_lastname_f') Ap. Paterno:
                input.Input.form-control(id="paternal_lastname_f",type='text',name='paternal_lastname_f',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa Apellido Paterno", placeholder="Ap. Paterno")   
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='maternal_lastname_f') Ap. Materno:
                input.Input.form-control(id="maternal_lastname_f",type='text',name='maternal_lastname_f',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa Apellido Materno",placeholder="Ap. Materno")            
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                .row
                  label.col-sm-12.control-label(for='born_date_f') Fecha de Nacimiento:
                  .col-sm-12.Input--with-icon
                    input.Input.form-control.datepicker(type='text',name='born_date_f',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa Fecha de Nacimiento", placeholder="__/__/____")  
                    i.icon-calendar-1
          .form-group
            .row
              .col-sm-12.col-xs-12.col-md-12.col-lg-12
                label.control-label(for='direction_f') Dirección:
                input.Input.form-control.Input--large(id="direction_f",type='text',name='direction_f',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa dirección",placeholder="Dirección")   
          .form-group
            .row
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='postal_code') Código Postal:
                input.Input.form-control(id='postal_code' type='text',name='postal_code',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa código postal", placeholder="Código Postal")   
              .col-sm-12.col-xs-12.col-md-12.col-lg-3.actudatos_country
                label.control-label(for='actudatos_country') País:
                .Select
                  select#actudatos_country.Input.form-control(class="actudatos_country",name='actudatos_country')
                    option(value="PE", data-title="Perú") Perú
                    option(value="CH", data-title="Chile") Chile
                    option(value="AR", data-title="Argentina") Argentina
                    option(value="BR", data-title="Brasil") Brasil
              .col-sm-12.col-xs-12.col-md-12.col-lg-3.actudatos_city
                label.control-label(for='actudatos_city') Ciudad:
                .Select
                  select#actudatos_city.Input.form-control(class="actudatos_city",name='actudatos_city')
                    option(value="lima", data-title="Lima") Lima  
                    option(value="arequipa", data-title="Arequipa") Arequipa  
                    option(value="cuzco", data-title="Cuzco") Cuzco  
                    option(value="tacna", data-title="Tacna") Tacna 
              .col-sm-12.col-xs-12.col-md-12.col-lg-3.actudatos_district
                label.control-label(for='actudatos_district') Distrito:
                .Select
                  select#actudatos_district.Input.form-control(class="actudatos_district",name='actudatos_district')
                    option(value="lima", data-title="Lima") Lima  
                    option(value="arequipa", data-title="Arequipa") Arequipa  
                    option(value="cuzco", data-title="Cuzco") Cuzco  
                    option(value="tacna", data-title="Tacna") Tacna            
          .form-group
            .row
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='email_f') Email:
                input.Input.form-control(id='input_email',type='email',name='email',autocomplete='off',data-rule-required="true",data-msg-required="Ingresa Email.",data-rule-email="true",data-msg-email="Ingresa un Email válido",placeholder="Email") 
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='phone_number_f') Teléfono Fijo:
                input.Input.form-control(id='phone_number_f',type='text',name='phone_number_f',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa teléfono fijo",placeholder="Teléfono Fijo")   
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='phone_movil_f') Teléfono Móvil:
                input.Input.form-control(id='phone_movil_f',type='text',name='phone_movil_f',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa teléfono móvil",placeholder="Teléfono Móvil")   
          .form-group
            .row
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='job_phone_f') Teléfono de oficina:
                input.Input.form-control(id='job_phone_f',type='text',name='job_phone_f',autocomplete='off',data-rule-required="true", data-msg-required="Ingresa teléfono de oficina",placeholder="Teléfono de oficina")   
              .col-sm-12.col-xs-12.col-md-12.col-lg-3
                label.control-label(for='annex_phone_f') Anexo:
                input.Input.form-control(id='annex_phone_f',type='text',name='annex_phone_f',autocomplete='off',data-rule-required="false", data-msg-required="Ingresa anexo telefónico",placeholder="Anexo")   
          .form-group
            .row
              .col-sm-12.col-xs-12.col-md-12.col-lg-12
                .form-info-upda__actions
                  button.Button.Button--oscuro(type='submit') Actualizar              