.contenedor_banco_detalle.result-interagencias
    .content-detalle
        .banco-result.bank1
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank2
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank3
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank4
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank5
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        
                        
