.contenedor_banco_detalle.result-dest-mund
    .content-detalle
        .banco-result.bank1
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank2
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank3
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank4
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
        .banco-result.bank5
            .seccion-banco
                .img-logo 
                .down-open
                    .pull-right
                        i.icon-down-open
            .seccion-banco-result
    .informacion-adicional
        .info-title.intelo_b Información de pagos con tarjeta de crédito
        .info-subtitulo Favor consultar los pagos con Tarjetas de Crédito Visa / MasterCard / American Experess
        .info-descripcion  
            p 
                |Cuando se trate de pagos que su cliente realizará directamente en DESTINOS MUNDIALES con tarjetas de crédito a tráves del sistema pos de nuestra empresa, es necesario que se coordine 
                | previamente con su ejecutiva del counter; esto para que el file pueda ser documentado con la información necesaria para este tipo de pagos.