.wrapper-form-cuentas-bancarias
  include ../includes/_breadcrumb.pug
  .container
    h1.Title-section Cuentas Bancarias
      i.icon-question-circle-o(data-toggle='popover' data-content='Cuentas corrientes disponibles para tus emisiones en Horario de oficina a nombre de Promotora de Turismo Nuevo Mundo S.A.')
    .form-cuentas-bancarias 
      include ./_tipo_cuenta.pug
      include ./_cuentas-interagencias.pug
      include ./_cuentas_destinos_mundiales.pug


