.tipo-cuenta  
    .form-group
        .col-sm-2
            label.custom-radio-button
                input(type='radio',name="tipo_cuenta",value="1")
                span.helping-el
                span.label-text Interagencias
        .col-sm-3
            label.custom-radio-button
                input(type='radio',name="tipo_cuenta",value="2")
                span.helping-el
                span.label-text Destinos Mundiales


