.content-filter
    .form-group
        .form-horizontal
            form#frm_busqueda_rep_incentivo
                .encabezado_form
                    label.control-label Email counter:
                    label.control-label#idEmailCounter viajesrepsturismo@gmail.com
                .filter-seccion
                    .form-group
                        .title-filter-seccion
                            label.control-label.cls-form-header Fecha de emisión:
                            .content-filter-seccion  
                                .form-group                              
                                    .col-sm-4
                                        .perido-rango
                                            .input-range
                                                .col-sm-4
                                                    label.control-label Desde:
                                                .col-sm-8.Input--with-icon-calender
                                                    input.Input.form-control.datepicker(type='text',name='periodo_ini',id='periodo_ini',autocomplete='off',data-years-last="4",placeholder="__/__/____")
                                                    i.icon-calendar-1    
                                    .col-sm-4
                                        .perido-rango
                                            .input-range
                                                .col-sm-4
                                                    label.control-label Hasta:
                                                .col-sm-8.Input--with-icon-calender
                                                    input.Input.form-control.datepicker(type='text',name='periodo_fin',id='periodo_fin',autocomplete='off',data-years-last="4",placeholder="__/__/____")
                                                    i.icon-calendar-1
                                    .col-sm-4
                                        .col-lg-4
                                            label.control-label Estado:
                                        .col-lg-8
                                            .Select
                                                select.form-control#sub_codigo(name='estado', placeholder="Seleccione")
                                                    option(value="Activo", data-title="Activo") Activo 
                                                    option(value="Inactivo", data-title="Inactivo") Inactivo 

                                .form-group                              
                                    .col-sm-4
                                        .col-sm-4
                                            label.control-label Cotización:
                                        .col-sm-8
                                            input.Input.form-control(type='text',name='cotizacion',id='cotizacion',autocomplete='off')   
                                    .col-sm-4
                                        .switch-control
                                            .input-switch
                                                .col-sm-6
                                                    label.control-label Formato corto:
                                                .col-sm-6
                                                //-.Input--with-icon-calender
                                .seccion-button-serach
                                    .col-sm-5
                                    .col-sm-2
                                        button.Button.Button--oscuro#btnConsulta_rep_incentivos(type='button') Consultar
                                    .col-sm-5
                                               



                                