.wrapper-form-reporte_incentivos
  include ../includes/_breadcrumb.pug 
  .container
    h2.Title-section Reporte de incentivos
      i.icon-question-circle-o(data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?")
    .form-reporte_incentivos   
        include ./_busqueda_reporte_incentivo.pug
        hr
        include ./_list_reporte_incentivo.pug
