.content-result
    .form-group
        .form-horizontal
            .result-seccion
                .form-group
                    .content_table
                        table#table_data_rep_incentivo.table-agil
                            thead                                                                           
                            tbody

                    .content_table_buttons
                        form#frm_enviocorreo
                            .form-group
                                .col-sm-2
                                .col-sm-2
                                    button.Button.Button--oscuro(type='button') Exportar a Excel    
                                        span.glyphicon.glyphicon-stats 
                                .col-sm-4.Input--with-icon
                                    input.Input.form-control(type='text',name='email',id='email',autocomplete='off', placeholder="Email")    
                                    i.icon-mail 
                                .col-sm-1
                                    button.Button.Button--oscuro#btnEnviarCorreo(type='button') Enviar
                                .col-sm-1
                

                    
                                               
                                