.form-info-upda{
    &__actions{
        text-align: left;
        button{
            display: inline-block;
            width: 160px;
            margin-top: 20px;
        }
    }
    
    &__label{
        margin-bottom: 10px;
    }

}

.form-actualizacion-datos{
    .form-group {
        margin-bottom: 10px;
        min-height: 85px;
    }
    label{
        @include mqmax(tablet) {
            font-size: $font_size_title_m  
        } 
    }
    .Input{
        @include mqmax(tablet) {
            font-size: $font_size_title_m  
        } 
    }
}
#success_actualizacion_datos{
    i{
        text-align: center;
    }
}
.Select{
    .actudatos_country{
        margin: 0px 0px;
    }
    .actudatos_city{
        margin: 0px 0px;
    }
    .actudatos_district{
        margin: 0px 0px;
    }
}

.wrapper-actualizacion-datos{
    padding: 100px 0 50px 0;
    min-height: 1000px;    
    color: $c_oscuro_patron;
    .control-label{
        margin-bottom: 9px;
        font-family: 'intelo-semibold';
    }       
    .container{
        @include mqmax(mobil-small) {
            width: 1160px;
        } 
    }
    .Title-section{
        @include mqmax(tablet) {
            font-size: $font_size_title_m;  
            margin-left: 15px;
        } 
    }
    label{
        @include mqmax(tablet) {
            font-size: $font_size_base_m;
        }
    }
    .Input{
        @include mqmax(tablet) {
            font-size: $font_size_base_m;
        }
    }
    .Button{
        @include mqmax(tablet) {
            font-size: $font_size_base_m;
        }
       
    }
    .actudatos_country, .actudatos_city, .actudatos_district{
        @include mqmax(tablet) {
            height: 86px;
        }
       
    }
}
 
