@import "utilities/index";

* { box-sizing: border-box; }

body{
  font-family: 'Intelo';
  color: $c_oscuro_patron;
  &.header--fixed{
    // @include mqmax(desktop_large) {
    //   padding-top: $height_header_dlarge;
    // }
    // @include mqmax(tablet) {
    //   padding-top: $height_header_tablet;
    // }  
    .header{
      position: fixed;
      z-index: 10;
      width: 100%;
      top: 0;
    }
  }
  p{
    a{
      color: $c_gris_medio;
      text-decoration: underline;
    }
  }
  .red-error{
    color: $c_texto_error;
  }
}

main{
  padding-top: $height_header;
  @include mqmax(container) {
    padding-top: $height_header_dlarge;
  }    
  @include mqmax(tablet) {
    padding-top: $height_header_tablet;
  }   
}

@media (min-width: 1300px){
  .container {
    width: 1300px;
  }
}


