.wrapper-chg-passw{
    padding: 100px 0 50px 0;
    min-height: 1000px;
    color: $c_oscuro_patron;
    .popover-content{
        line-height: 16px;
        font-size: $font_size_base * 1;
        color: $c_oscuro_patron;
        padding: 4px 6px;
        strong{
            font-weight: bold;
        }
    }  
    .popover{
        max-width: 300px;
        width: 90%;
    }  
}
.form-chg-passw{
    padding: 15px 0px;
    form{
        padding-left: 30px;
    }
    h3{
        margin: 10px 0 30px 0;
    }
    i{
        color: $c_gris_medio;
        cursor: pointer;
    }
    &__grp-criterios{
        width: 100%;
        overflow: hidden;
        position: relative;
        &:after{
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(1,1,1,0);
        }
    }
    &__actions{
        text-align: left;
        margin: 30px 0;
        padding-left: 50px;;
        button{
            display: inline-block;
            width: 150px;
        }
    }
    &__form-check{
        min-height: 40px;
    }
    .form-group{
        min-height: 105px;
    }
    .label-text{
        display: inline-block;
        //width: 220px;
        width: 430px;
    }
    label.control-label{
        margin-bottom: 20px;
        font-weight: bold; 
    }


}

#box-other-subject{
    display: none;
}