.wrapper-form-comunicados{
    padding: 100px 0 50px 0;
    min-height: 77vh;
}
.form-comunicados{
    padding: 15px 0px;
    margin-left: 25px;
    h3{
        margin: 10px 0 30px 0;
    }
    &--button-center{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    &--check-term{
        text-align: center;
        margin: 70px 0 20px 0;
        height: 15px;
    }
    i{
        background: #ffffff;
    }
    .Input--with-icon{
        width: 25%;
    }

}

.content-comunicados{
    display: none;
    margin: auto;
    width: 100%;
    max-width: 870px;
    a{
        color: #d40e2d;
    }
    table{
        width: 100%;
        max-width: 870px;
        thead{
            tr{
                th{
                    &:nth-child(1){
                        width: 30% !important;
                    }
                    &:nth-child(2){
                        width: 65% !important;
                    }
                    &:nth-child(3){
                        width: 5% !important;
                    }                                        
                }
            }
        }
    }
}




