.wrapper-comisiones{
    width: 110%;
    padding: 100px 0 50px 0;
    min-height: 77vh;  
    color: $c_oscuro_patron; 
    .row-pdf{
        margin: 0px 0px 40px 0px;
    }
    .Title-section{
        @include mqmax(desktop) {
            font-size: $font_size_title_m;
        }
    }
}

.form-comisiones{
    padding: 15px 0px;
    margin-left: 25px;
    @include mqmax(mobile) {
        margin-left: 0px;
    } 
    .Input{
        @include mqmax(mobile) {
            font-size: $font_size_stitle_m;
        } 
    }    
    h3{
        margin: 10px 0 30px 0;
    }
    .Input--with-icon{
        @include mqmax(mobile) {
            font-size: $font_size_stitle_m;
        } 
        i{
            background: $c_blanco;
            @include mqmax(mobile) {
                right: 20px;
                height: 29px;
                top:-1px;                
                width: 45px;
                top: 2px;
            }
            @include mqmax(tablet) {
                width: 45px;
            }
        }
    }

}

.iframe-pdf-comision{
    width:100%; 
    height:500px;
    &--hide{
        display:none;
    }
}

.opciones-pdf{
    @include mqmax(mobile) {
        font-size: $font_size_stitle_m;
    } 
    .Button{
        @include mqmax(mobile) {
            font-size: $font_size_stitle_m;
        }
    }
    #input_email{
        height: 28px;
    }
    &--hide{
        display:none;
    }
    .Input{
        margin: 0 0;
    }    
    .Input--with-icon{
        i{
            color: $c_bg_gris;
        }
    }
    .form-horizontal{
        .Input--with-icon{
            i{
                color:$c_oscuro_patron;
            }
        }
    }    
}


