.wrapper-form-cuentas-bancarias{
    padding: 100px 0 50px 0;
    min-height: 77vh;
}
.form-cuentas-bancarias{
    padding: 15px 20px;
    .tipo-cuenta{
        margin: 20px 0 20px 40px;
        .label-text{
            margin: 0 0 0 30px;
        }
    }

    .contenedor_banco_detalle{
        &.result-interagencias{
            .bank1{
                .seccion-banco-result{
                    display: none;
                    margin: 20px;
                    table{
                        margin: auto;
                        thead{
                            tr{
                                th{
                                    font-weight: bold;
                                    height: 41px;
                                    &:nth-child(1){
                                        width: 30%;
                                    }
                                    &:nth-child(2){
                                        width: 30%;
                                    }
                                    &:nth-child(3){
                                        width: 30%;
                                    }
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    height: 41px;
                                }
                            }
                        }
                    }
                    
                }
            }
            .seccion-banco-result{
                display: none;
                margin: 20px;
                table{
                    margin: auto;
                    thead{
                        tr{
                            th{
                                font-weight: bold;
                                height: 41px;
                                &:nth-child(1){
                                    width: 40%;
                                }
                                &:nth-child(2){
                                    width: 40%;
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                height: 41px;
                            }
                        }
                    }
                }
                
            }
        }
        &.result-dest-mund{
            .seccion-banco-result{
                display: none;
                margin: 20px;
                table{
                    margin: auto;
                    thead{
                        tr{
                            th{
                                font-weight: bold;
                                height: 41px;
                                &:nth-child(1){
                                    width: 20%;
                                }
                                &:nth-child(2){
                                    width: 35%;
                                }
                                &:nth-child(3){
                                    width: 35%;
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                height: 41px;
                            }
                        }
                    }
                }
                
            }
        }
        .content-detalle{
            .banco-result{
                display: none;
                margin: 20px 0px 20px 0;
                border-radius: 10px;
                border: 1px solid #dedbdb;
                .seccion-banco{
                    height: 50px;
                    border: 1px solid #dedbdb;
                    border-radius: 10px;
                    box-shadow: 2px 4px #dcd9d9;
                    .img-logo{
                        img{
                            float: left;
                            width: 90px;
                            height: 36px;
                            margin: 6px 0px 0px 50px;
                        }
                    }
                    .down-open{
                        float: right;
                        top: 10px;
                        margin: 10px 20px;
                        font-size: 200%;
                        &.open-tab{
                            transform: rotate(180deg);
                        }
                    }
                }
                
            }
        } 
        .informacion-adicional{
            .info-title{
                margin: 60px 0px 30px 0px;
            }
            .info-subtitulo{
                margin: 0px 0px 15px 0px;
            }
        }
    }
}



