.datepicker-dropdown{
  padding: 10px !important;
  border: solid 1px #e2e0e1;
  thead{
    color: $c_rojo_patron;
  }
  td.active.day,span.month.focused.active{
    background-color: $c_rojo_patron !important;
    background-image: none;
  }
  &.datepicker-orient-top{
    &:before {
      border-top: 7px solid #e2e0e1;
    }  
  }
}