.wrapper-en-contacto{
    padding: 100px 0 50px 0;
    min-height: 1000px;    
    color: $c_oscuro_patron;
    padding-left: 0;
    padding: 50px 0px;
    .Title-section{
        font-size: $font_size_title;
        @include mqmax(tablet) {
            font-size: $font_size_title_m;
        } 
    }
    .selectores-empresa{
        margin: 30px 0;
        overflow: hidden;
        .label-text{
            @include mqmax(tablet) {
                font-size: $font_size_stitle_m;
            } 
        }
    }
    .tabla-datos-en-contacto{

        display: none;
        .label-text{
            font-weight: bold;
            float:left;
            font-size: $font_size_base;
            @include mqmax(tablet) {
                font-size: $font_size_base_m;
            } 
        }
        span{
            float:left;
            font-size: $font_size_base;
            @include mqmax(tablet) {
                font-size: $font_size_base_m;
            } 
        }
        .img-responsive{                
            text-align: center;
            width: 100%;
        }
        .tabla-datos-izquierda{
            width: 40%;
            @include mqmax(desktop_large) {
                width: 100%;
            } 
            margin: 0px;
            float: left;
            height: 243px;
            img{
                height: 243px;
            }
        }
        .tabla-datos-derecha{
            font-size:$font_size_table;
            @include mqmax(tablet) {
                font-size: $font_size_table_m;
            } 
            width: 60%;
            float: right;
            text-align: center;
            border: solid 1px $c_gris;
            border-left:  none;
            @include mqmax(desktop_large) {
                border-left: solid 1px $c_gris;
                width: 100%;
            } 
            height: 243px;
            tbody{
                display:inline-block;
                vertical-align:middle;
                text-align: center;
            }
            table{
                margin: 20px auto;
                width: 80%;
                
                tr,th{
                    text-align: left;
                }
                td{
                    @include mqmax(tablet) {
                        font-size: $font_size_table_m;
                        padding: 15px 0px;
                    } 
                    width: 100%;
                    padding: 15px 5px;
                    label{
                        font-family: 'intelo-semibold';
                    }
                }
            }
        }
    }
    .en-contacto-busqueda-avanzada{
        @include mqmax(tablet) {
            font-size: $font_size_stitle_m;
        } 
        display: none;
        text-align: center;
        padding: 50px;        
        .datos-en-contacto{
            display: none;
            .col-sm-8{
                padding: 50px;
                @include mqmax(mobile) {
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-top: 30px;
                } 
            }
        }
        .selector-cargo{
            display: none;
            .dd-pointer-down {
                border-top: solid 5px $c_black;
            }
            .dd-selected-text, .label-text{
                @include mqmax(tablet) {
                    //font-size: $font_size_base_m;
                }
            }
        }
        .textoNombre{
            display: none;
            #list-encontactoNombre{
                margin: 0 0;
            }
        }
        .textoCargo{
            display: none;
            margin-top: 30px;
        }
        .Input--with-icon{
            i{
                background: $c_blanco;
                @include mqmax(mobile) {
                    height: 28px;//RRA
                    right: 5px;//RRA
                    width: 30px;//RRA
                } 
                @include mqmax(desktop) {
                    height: 10px;//RRA
                }  
            }
            
        }
        .Input{
            @include mqmax(tablet) {
                //font-size: 81%;
            }
        }
        .titulo-busqueda-avanzada{
            height: 50px;
            text-align: center;
            font-weight: bold;
            span{
                color: $c_rojo_patron;
            }
        }
        .seccion-radios-busqueda{
            height: 50px;
            .custom-radio-buttonCargo{
                float: left;
            }
            .custom-radio-buttonNombre{
                float: right;
            }
            .label-text{
                @include mqmax(tablet) {
                    //font-size: $font_size_base_m;
                }
            }
        }
    }  
    .en-contacto-principal{
        display: none;
        height: 285px;
        position: relative;
        background-image: url("../img/encontacto_fondo.jpg");
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &-opaco{
            background: rgba(255, 255, 255, 0.5);
            width: 100%;
            position: absolute;
            bottom: 7px;
            &__titulo_DM{
                h3{
                    text-align: left;
                    font-weight: bold;
                    font-size: $font_size_banner_title;
                    @include mqmax(tablet) {
                        font-size: $font_size_banner_title_m;
                    } 
                    color:$c_rojo_patron ;
                    padding: 10px 0;

                }                
            }

            &__direccion_DM{
                padding: 10px 0;
                p{
                    text-align: left;
                    font-weight: bold;
                    font-size: $font_size_banner_stitle;
                    @include mqmax(tablet) {
                        font-size: $font_size_banner_stitle_m;
                    } 
                    color:$c_oscuro_patron;
                }
            }

            &__titulo_IA{
                h3{
                    text-align: left;
                    font-weight: bold;
                    font-size: $font_size_banner_title;
                    @include mqmax(tablet) {
                        font-size: $font_size_banner_title_m;
                    } 
                    color:$c_rojo_patron ;
                    padding: 10px 0;

                }
                z-index: 1;
            }

            &__direccion_IA{
                padding: 10px 0;
                p{
                    text-align: left;
                    font-weight: bold;
                    font-size: $font_size_banner_stitle;
                    @include mqmax(tablet) {
                        font-size: $font_size_banner_stitle_m;
                    }
                    color:$c_oscuro_patron;
                }
                z-index: 1;
            }
        }


    }
    .label-text{
        color: $c_oscuro_patron;
    }
    .Title-section{
        font-size: $font_size_title;
        @include mqmax(tablet) {
            font-size: $font_size_stitle_m;
        }
        position: relative;
        i{
            position: absolute;
            top: 6px;
        }
    }
    .img{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.grupo-tarjeta-encontanto, .grupo-tarjeta-encontanto-IA{
    display: none;
    margin-top: 40px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    .tarjeta-encontacto-centro{
        border-color: $c_gris_medio;
        border-top-width: 0.5px;
        border-right-width: 0px;
        border-bottom-width: 0.5px;
        border-left-width: 0.5px;
        border-style: solid;            
        border-radius: 5px 5px 0 0;
        height: 50px;
        overflow: hidden;
        float: left;
        width: 100%;
        text-align: center;
        border-bottom: solid 4px #c0c0c0;
        table{
        }
        &__header{
            padding: 15px 0;
            vertical-align:middle;
            border-color: $c_gris_medio;
            border-right-width: 0.5px;
            border-bottom-width: 0.5px;
            border-left-width: 0.5px;
            border-style: solid;            
            border-radius: 5px 5px 0 0;
            border-bottom: solid 4px #c0c0c0;
            h3{
                text-align: center;
                font-weight: bold;
                font-size: $font_size_stitle;
                @include mqmax(tablet) {
                    font-size: $font_size_stitle_m;
                }
            }
        }
    }
    .tarjeta-encontacto-izquierda, .tarjeta-encontacto-IA-izquierda{
        border-color: $c_gris_medio;
        border-top-width: 0.5px;
        border-right-width: 0px;
        border-bottom-width: 0.5px;
        border-left-width: 0.5px;
        border-style: solid;            
        border-radius: 5px 0 0 5px;
        height: 360px;
        overflow: hidden;
        float: left;
        width: 50%;
        @include mqmax(desktop_large) {
            width: 100%;
            border-right-width: 0.5px;
            min-height: 100px;
            height: initial;
        } 
        text-align: center;
        table{
            td{
                @include mqmax(tablet) {
                    font-size: $font_size_table_m;
                }
                a{
                    color:$c_oscuro_patron ;
                }
            }
        }
        &__header{
            padding: 15px 0;
            vertical-align:middle;
            border-color: $c_gris_medio;
            border-right-width: 0.5px;
            border-bottom-width: 0.5px;
            border-left-width: 0.5px;
            border-style: solid;            
            border-radius: 5px 0 0 5px;
            border-bottom: solid 4px #c0c0c0;
            h3{
                text-align: center;
                font-weight: bold;
                font-size: $font_size_stitle;
                @include mqmax(tablet) {
                    font-size: $font_size_stitle_m;
                }
            }
        }
        &__body{
            border-color: $c_oscuro_patron;  
            table{
                text-align: left;
                width: 80%;
                margin: 20px auto;
                td{
                    @include mqmax(tablet) {
                        font-size: $font_size_table_m;
                    }
                    margin: 10px;
                    padding: 10px;
                    white-space:nowrap;
                    label{
                        font-weight: bold;
                    }
                    img{
                        width: 100%;
                    }
                    .icon-whatsapp{  
                        font-size: 130%;
                        color:$c_border_success;
                    }
                    .numeroWhatsapp{
                        font-size: $tempo;
                    
                        @include mqmax(tablet) {
                                font-size: $font_size_table_m;
                        } 
                        
                        color:$c_oscuro_patron!important;
                    }
                }
            }
        }
    }
    .tarjeta-encontacto-IA-izquierda{
        border-radius: 0 0 0 5px;
    }
    .tarjeta-encontacto-derecha, .tarjeta-encontacto-IA-derecha{
        border-color: $c_gris_medio;
        border-top-width: 0.5px;
        border-right-width: 0.5px;
        border-bottom-width: 0.5px;
        border-left-width: 0px;
        border-style: solid;            
        border-radius: 0 5px 5px 0;
        height: 360px;
        overflow: hidden;
        float: right;
        width: 50%;
        @include mqmax(desktop_large) {
            width: 100%;
            border-left-width: 0.5px;
            min-height: 50px;
            height: initial;
        } 
        text-align: center;
        //overflow: hidden;
        table{
            td{
                @include mqmax(tablet) {
                    font-size: $font_size_table_m;
                }
                a{
                    color:$c_oscuro_patron ;
                }
            }
        }
        &__header{
            padding: 15px 0;
            vertical-align:middle;
            border-color: $c_gris_medio;
            //border-top-width: 0.5px;
            border-right-width: 0px;
            border-bottom-width: 0.5px;
            border-left-width: 0px;
            border-style: solid;            
            border-radius: 0 5px 5px 0;
            border-bottom: solid 4px #c0c0c0;
            h3{
                text-align: center;
                font-weight: bold;
                font-size: $font_size_stitle;
                @include mqmax(tablet) {
                    font-size: $font_size_stitle_m;
                }
            }
        }
        &__body{
            border-color: $c_oscuro_patron;  
            table{
                text-align: left;
                width: 60%;
                margin: 25px auto;
                //font-family: 'intelo-semibold';
                td{
                    @include mqmax(tablet) {
                        font-size: $font_size_table_m;
                    }
                    margin: 10px;
                    padding: 10px;
                    white-space:nowrap;
                }
                label{
                    font-weight: bold;
                }
            }
        }
    }
    .tarjeta-encontacto-IA-derecha{
        border-radius: 0 0 5px 0;        
    }
}