.footer{
  width: 100%;
  background: $c_rojo_patron;
  padding: 15px 0;
  position: relative;
  @include mqmax(desktop_large) {
    padding: 20px 0;
  }   
  &__salto{
    display: none;
    @include mqmax(desktop_large) {
      display: block;
      clear: both;
    } 
  }
  &-fixed{
    position: fixed;
    bottom: 0;
    z-index: 10000;
  }
  &__menu{
    float: left;
    width: 15%;
    padding: 10px;
    @include mqmax(desktop_large) {
      width: 50%;
      text-align: center;
    }   
    @include mqmax(tablet) {
      width: 50%;
      text-align: center;
    }
    h3{
      color: $c_title_footer;
      font-size: $font_size_base * 1.5;
      margin-bottom: 15px;
    }
    ul{
      li{
        margin: 5px 0;
        @include mqmax(desktop_large) {
          margin: 10px 0;;
        }  
        a{
          color: $c_blanco;
          font-size: $font_size_base * 1.1;
          text-decoration: none;
        }
      }
    }
  }
  &__comunication{
    float: left;
    width: 14%;
    padding: 10px;
    @include mqmax(desktop_large) {
      width: 50%;
      text-align: center;
    }   
    @include mqmax(tablet) {
      width: 50%;
      text-align: center;
    }   
    h3{
      color: $c_title_footer;
      font-size: $font_size_base * 1.5;
      margin-bottom: 15px;
    }
    ul{
      li{
        margin: 5px 0;
        @include mqmax(desktop_large) {
          margin: 10px 0;
        } 
        a{
          color: $c_blanco;
          font-size: $font_size_base * 1.1;
          text-decoration: none;
        }
      }
    }
  }
  &__book{
    float: left;
    width: 22%;
    padding: 10px;
    padding-top: 30px;
    @include mqmax(desktop_large) {
      width: 50%;
      text-align: center;
    }       
  }
  &__red-social{
    float: left;
    width: 45%;
    padding: 10px;
    padding-top: 40px;
    @include mqmax(desktop_large) {
      width: 100%;
      text-align: center;
      padding-top: 20px;
      padding-top: 45px;
    }  
    @include mqmax(tablet) {
      width: 100%;
      padding-top: 20px;
    }     
  }
  &__part-susc{
    float: left;
    width: 25%;
    padding: 10px;
    padding-top: 48px;
    text-align: center;
    .img-amadeus{
      width: 110%;
      margin: 0px 0px 0px -7px;
    }
    .img-sabre{
    }
    .img-kiu{
      padding: 11px 0px 0px 0px;
      width: 68%;
    }
    @include mqmax(desktop_large) {
      width: 100%;
      text-align: center;
    }   
    @include mqmax(tablet) {
      padding-top: 15px;
    }        
  }
  &__copyright{
    clear: both;
    width: 100%;
    @include mqmax(desktop_large) {
      position: absolute;
      bottom: 10px;
      left: 0;
    }
    p{
      text-align: center;
      color: $c_blanco;
      font-size: 13px;
    }
  }
}