.wrapper-forget-password{
    padding: 80px 0 50px 0;
    min-height: 77vh;
    .Title-section{
        @include mqmax(mobile) {
            font-size: $font_size_title_m;
            padding: 10px 0;
        }
    }
    .button_forget_password{
        width: 100%;        
        @include mqmax(mobile) {
            width: 40%;
            margin: auto;
            display: block;
        }
    }
    .form-forget-password{ 
        @include mqmax(mobile) {
            padding-left: 0px;
        }      
        padding-left: 20px;
        @include mqmax(mobile) {
            padding-left: 0px;
        }
        @include mqmax(tablet) {
            padding-left: 0px;
        }
        .form-mensaje-forget {
            color:$c_texto_error ;
            font-size: $font_size_table ;
            display: none;
            min-height: 30px;
            margin-bottom: 10px; 
            @include mqmax(tablet) {
                font-size: $font_size_table_m ;
            }
            @include mqmax(mobile) {
                min-height: 25px;
            } 
                   
            a{
                color:$c_oscuro_patron;
                text-decoration: underline;
            }
            i{
                color:$c_texto_error;
            }
        }
        .Input{
            @include mqmax(mobile) {
                padding: 2px 5%;
                font-size: $font_size_base_m;            
            }
        }
        .Button{
            @include mqmax(mobile) {
                font-size: $font_size_base_m; 
                padding: 6px 12px;
                text-align: center;           
            }
        }
    }   

}
