.wrapper-form-register{
    padding: 80px 0 50px 0;
}
.form-register{
    padding: 15px 0px;
    margin-left: 20px;
    &--button-center{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    // &--check-term{
    //     text-align: center;
    //     margin: 70px 0 20px 0;
    //     height: 42px;
    // }
    a{
        color: $c_rojo_patron;
        text-decoration: underline;
    }
}
.form-agency{
    padding-right: 50px;
    h3{
        color: $c_rojo_patron;
        font-weight: bold;
        font-size: $font_size_stitle;
        margin-bottom: 45px;
        i{
            color: $c_oscuro_patron;
        }
    } 
}
.form-user{
    padding-left: 50px;
    border-left: solid 2px $c_oscuro_patron;
    h3{
        color: $c_rojo_patron;
        font-weight: bold;
        font-size: $font_size_stitle;
        margin-bottom: 45px;
        i{
            color: $c_oscuro_patron;
        }
    }    
}