// --------------------------------------------------------------------------*
// Módulo: Formulario Login
// --------------------------------------------------------------------------*

.login_wrapper {
 
  .subtitle_wrapper {
    display: none;
  }

  form{
    margin: 10px auto 10px auto;
    @include mqmax(phablet) {
      
    }
    .Input_wrapper{
      position: relative;
      .Input{
        &_password{
          background-color: $c_blanco;
          padding-right: 35px;
          &.error{
            border: solid 1px $c_texto_error;
          }
        }         
        &_user{
          background-color: $c_blanco;
          padding-right: 35px;
          &.error{
            border: solid 1px $c_texto_error;
          }
        }
       
      }
      span{
        position: absolute;
        right: 5px;
        top: 15px;
        font-size: 20px;
      }
      
    }

  }

}