.header{
    background: $c_rojo_patron;
    min-height: 10px;
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    @include mqmax(tablet) {
        background: $c_blanco;   
        -webkit-box-shadow: -2px 0px 11px -3px rgba(0,0,0,0.84);
        box-shadow: -2px 0px 11px -3px rgba(0,0,0,0.84)                 
    }  
    
    .container{
        position: relative;
        z-index: 2;
    }
    &:before{
        content:'';
        position: absolute;
        width: 50%;
        height: $height_header;
        top: 0;
        left: 0;
        background: $c_blanco;
        @include mqmax(container) {
            height: $height_header_dlarge;
        }
        @include mqmax(tablet) {
            display: none;
        }   
    }
    &__menu-mobile{
        display: none;
        float: left;
        padding-top: 25px;
        padding-left: 10px;
        background: $c_blanco;
        height: $height_header_dlarge;
        @include mqmax(desktop_large) {
            display: block;
            width: 10%;
        }
        @include mqmax(tablet) {
            width: 60px;
            height: $height_header_tablet;
            padding-top: 8px;
        }  
    }
    &__menu{
        width: 46%;
        float: left;
        font-size: $font_size_base;
        display: table;
        background: $c_rojo_patron;
        height: $height_header;
        margin-left: -1px;
        padding-left: 1px;
        border-radius: 3px 0 0 0;
        @include mqmax(container) {
            width: 20%;
            height: $height_header_dlarge;
        }
        @include mqmax(tablet) {
            height: $height_header_tablet;
            position: absolute;
            left: 0;
            top: 0;
            float: initial; 
            background: $c_blanco;
            width: 45px;
        }         
        &--on{
            width: 58%;
            @include mqmax(container) {
                width: 35%;
            }
        }

    }    
    &__logo-agil{
        background: $c_blanco;
        height: $height_header;
        padding-top: 20px;
        float: left;
        width: 13%;
        @include mqmax(container) {
            height: $height_header_dlarge;
        }
        @include mqmax(tablet) {
            width: 100%;
            height: $height_header_tablet;
            padding-top: 0;
            float: initial;
            display: flex;
            align-items: center;
            justify-content: center;
        }         
        a{
            display: block;
            @include mqmax(tablet) {
            }              
            
            img{
                width: 140px;
                margin: auto;
                display: block;
                @include mqmax(container) {
                    width: 100px;
                } 
                @include mqmax(tablet) {
                    width: 60px;
                }                 
            }
        }
    }
    &__triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 $height_header 58px;
        border-color: transparent transparent $c_rojo_patron transparent; 
        float: left;
        overflow: hidden;
        position: relative;
        @include mqmax(container) {
            border-width: 0 0 $height_header_dlarge 58px;
        } 
        @include mqmax(tablet) {
            display: none;
        }
    }
    &__box-session{
              
        &-off{
            float: right;
            height: $height_header;            
            width: 14%;
            padding-top: 45px;
            @include mqmax(container) {
                width: 25%;
                height: $height_header_dlarge;
                padding-top: 32px;
            }    
            @include mqmax(tablet) {
                height: $height_header_tablet;
                position: absolute;
                right: 0;
                top: 0;
                float: initial;
                padding-top: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 32%;
            }                       
        }    
        &-on{
            float: right;
            height: $height_header;            
            width: 5%;
            padding-top: 0; 
            display: flex;
            align-items: center; 
            @include mqmax(container) {
                width: 60px;
                height: $height_header_dlarge;
                // padding-top: 32px;
            }  
            @include mqmax(tablet) {
                height: $height_header_tablet;
                position: absolute;
                right: 6px;
                top: 0;
                float: initial;
                padding-top: 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width:41px;
            }                                     
        }             
    }
    &__data-info{
        width: 12%;
        float: left;
        padding: 10px;
        display: flex; 
        background: $c_rojo_patron;
        height: $height_header;
        @include mqmax(container) {
            padding-top: 10px;
            width: 20%;
            // margin-left: -1px;
            // padding-left: 1px;
            height: $height_header_dlarge;
        } 
        @include mqmax(tablet) {
            display: none;
        }        
        
 
    }
    &__btns{
        width: 9%;
        float: left;
        padding: 5px;
        height: $height_header;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include mqmax(container) {
            width: 12%;
            height: $height_header_dlarge;
        } 
        @include mqmax(tablet) {
            display: none;
        }                   
        &--on{
            width: 18%;
            @include mqmax(container) {
                width: 35%;
            }
        }
        .Button{
            width: 90px;
            margin: 0 5px;
            display: block;
            height: 32px;            
        }        
    }
}

.data-info{
    width: 100%;
    overflow: hidden;
    color: $c_blanco;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon{
        font-size: 22px;
    }
    &__items{
        margin-left: 5px;
        p{
            font-size: $font-size-base * 1.3;
        }
    }
    @include mqmax(container) {
        // margin: auto;
    }   
    // @include mqmax(tablet) {
    //     display: table-cell;
    //     vertical-align: middle;
    // }         
}

.data-session-off{
    &__btn{
        button{
            font-size: $tempo;
            i{
                display: none;
            }
            @include mqmax(tablet) {
                font-size: $font_size_base_m;
                background: $c_blanco;
                color: $c_rojo_patron;
                i{
                    display: inline-block;
                    color: $c_oscuro_patron;
                }
            }             
        }
    }
    &__list-op-off{
        ul{
            li{
                color: $c_blanco;
                font-size: 14px;
                text-align: center;
                margin: 4px auto;
                display: block;
                @include mqmax(container) {
                    margin: 1px auto;
                    font-size: $font_size_base_m;
                }                    
                a{
                    font-weight: bold;
                    color: $c_blanco;
                    cursor: pointer;
                    text-decoration: none;
                }
                
            }
        }
        @include mqmax(tablet) {
            display: none;
        }           
    }
}

.data-session-on{
    position: relative;
    width: 100%;
    &__toogle{
        background-color: $c_rojo_patron;
        // border: solid 1px $c_blanco;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        padding: 7px;
        color: $c_blanco;
        cursor: pointer;
        @include mqmax(tablet) {
            background: $c_blanco;
        } 
    }
    &__heading{
        color: $c_blanco;
        font-size: $font-size-base * 1.4;
        .img_user_mobile{
            display: none;
            @include mqmax(tablet) {
                display: block;
            } 
        }
        .img_user_desktop{
            display: block;
            @include mqmax(tablet) {
                display: none;
            } 
        }
    }
    
    &__opts{
        background: rgba(0,0,0,1);
        position: absolute;
        width: 290px;
        right: 0;
        padding: 10px;
        top: 60px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        display: none;
        @include mqmax(tablet) {
            background: rgba(255,255,255,1);
            -webkit-box-shadow: -2px 0px 11px -3px rgba(0,0,0,0.84);
            box-shadow: -2px 0px 11px -3px rgba(0,0,0,0.84)              
        }         
        &:before{
            content:'';
            width: 20px;
            height: 20px;
            background: rgba(0,0,0,1);
            position: absolute;
            top: -8px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);      
            -moz-transform: rotate(-45deg);      
            -o-transform: rotate(-45deg);            
            right: 4%;
            z-index: 1;
            @include mqmax(tablet) {
                background: rgba(255,255,255,1);
                 
            }             
        }   
        ul{
            li{
                a{
                    color: $c_blanco;
                    padding: 10px;
                    display: block;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    transition: all 0.3s;
                    font-size: $font-size-base*1.1;
                    @include mqmax(tablet) {
                        color: $c_oscuro_patron;
                    }                      
                    &:hover{
                        background: $c_rojo_patron;
                        color: $c_blanco;
                    }
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
    &__icon-arrow{  
        position: absolute;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        transition: all 0.1s;
        top: 17px;        
        right: 0;
        @include mqmax(container) {
            display: none;
        } 
    }
    &.open{
        .data-session-on__opts {
            display: block;
        }
        .data-session-on__icon-arrow{
            transform: rotate(-45deg);
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            top: 14px;
        }
    }  
}