/*---------------------------------------------------------------------------*
 * Start: Main Our Products
----------------------------------------------------------------------------*/
.wrapper-our-products{
  width: 100%;
  min-height: 10px;
  padding: 10px 0;
  &__title{
    font-size: $font_size_subtitle_main;
    color: $c_semiblulight;
    padding: 10px 0;
    margin: 10px 0;
    h2{
      text-align: center;
      span{
        color: $c_rojo_patron;
      }
    }
  }
  &__items{
    width: 100%;
    min-height: 10px;
    padding: 20px 0;
  }
}

.our-products{
  &:nth-child(1){
    .our-products__img{
      background: $c_rojo_patron;;
    }
  }
  &:nth-child(2){
    .our-products__img{
      background: $c_oscuro_patron;
    }
  }
  &:nth-child(3){
    .our-products__img{
      background: $c_rojo_patron;;
    }
  }    
  &__img{
    display: block;
    width: 100px;
    height: 100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    margin: 5px auto;
    line-height: 100px;
    text-align: center;
    background: $c_bg_gris;
    i{
      font-size: 38px;
      display: block;
      color: $c_blanco;      
    }
  }
  &__title{
    text-align : center;
    padding: 10px 0;
    margin: 5px 0;
    h3{
      color : $c_gris_oscuro;
      font-size : $font_size_s_subtitle_main;
    }
  }
  &__info{
    padding: 10px 0;
    margin: 5px 0;  
    width: 75%;
    margin: auto;  
    p{
      color: $c_texto_gris_medio;
      line-height: 25px;
      text-align: justify; 
    }
  }
}


/*---------------------------------------------------------------------------*
 * Endof: Main Our Products
----------------------------------------------------------------------------*/

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-25%;
      }
      &.right{
        left:25%;
      }
    }
    .next{
      left: 25%;
    }
    .prev{
      left: -25%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 1000ms ease-in-out left;
        transition: 1000ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}
