.wrapper-te-recomendamos{
  width: 100%;
  min-height: 10px;
  padding: 10px 0;
  &__title{
    font-size: $font_size_subtitle_main;
    color: $c_semiblulight;
    padding: 5px 0 0 0;
    margin: 20px 0 0 0;
    h2{
      text-align: center;
      span{
        color: $c_rojo_patron;
      }
    }
  }
  &__items{
    width: 100%;
    min-height: 10px;
    padding: 20px 0;
    &-row{
      width: 100%;
      margin: 30px 0 0 0;
      &--hide{
        display: none;
      }
    }
  }
  &__btnreco{
    a{
      border: $c_gris solid 1px;
      color: $c_rojo_patron;
      font-size: $font_size_base * 1.3;
      padding: 5px;  
      -webkit-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
      -moz-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
      box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
    }
  }
}

.te-recomendamos{
  -webkit-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
  -moz-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
  box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
  &__img{
    width: 100%;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    i{
      font-size: 38px;
      display: block;
      color: $c_blanco;      
    }
  }
  &__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; 
      
    &--rojo
    {
      background: $c_rojo_patron;
    }
    &--plomo
    {
      background: $c_oscuro_patron;
    }
  }
  &__title-h{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    h3{
      color : $c_blanco;
      font-size: $font_size_base * 2.8;
      font-family: 'intelo-bold';
    }
  }
  
  &__info{
    padding: 15px;
    border-top : none;    
    overflow: hidden;
  }
  &__info-p{
    height: 70px;
    float: left;
    width: 60%;
    padding: 10px;
    p{
      color: $c_oscuro_patron;
      line-height: 24px; 
      display: block;
      width: 100%;
      margin: 3px 0;
      padding: 0;
      span.currency{
        font-family: 'intelo-bold';
        font-size: $font_size_base * 1.7;
      }      
      span.amount{
        font-family: 'intelo-bold';
        font-size: $font_size_base * 1.7;
      }
    }
  }
  &__button{
    float: right;    
    width: 40%;
    height: 70px;
    display: flex;
    align-items: flex-end;
    a{
      border: $c_gris solid 1px;
      color: $c_rojo_patron;
      font-size: $font_size_base * 1.3;
      padding: 5px;
      -webkit-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
      -moz-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
      box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
      transition: all ease 1s;
      position: relative;
      overflow: hidden;
      &:after,
      &:before{
        width: 30px;
        height: 80px;
        content: '';
        display: block;
        transform: rotate(30deg);
        top: -30px;
        position: absolute;
        transition: none;
        right:-70%;
        cursor: pointer;
      }
       
      &:before{
        left: -70%;
      }
       
      &:hover{
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
      }
       
      &:hover:after,
      &:hover:before{
        transform: rotate(45deg), scaleX(130%);
        background: rgba(172, 172, 172, 0.5);
        transition: all ease 1s;
      }
       
      &:hover:after{
        right: 130%;
      }
       
      &:hover:before{
        left: 130%;
      }      
    }
  }
}
