/*---------------------------------------------------------------------------*
 * Start: Main Banners
----------------------------------------------------------------------------*/
.wrapper-main-banners{
  clear: both;
  overflow: hidden;
}

#main-banner{
  .slick-prev,.slick-next{
    z-index: 1;
    top: 44%;
    &:before{
      font-size: 60px;
      @include mqmax(desktop_large) {
        font-size: 45px;
      }
      @include mqmax(tablet) {
        font-size: 35px;
      }      
    }

  }
  .slick-prev{
    left: 38px;
  }
  .slick-next{
    right: 75px;
  }  
  .slick-dots{
    bottom: 30px;
    @include mqmax(desktop_large) {
      bottom: 10px;
    }    
    li{
      min-width: 20px;
      width: initial;
      &.slick-active{
        button{
          height: 25px;
          width: 25px;
          margin-bottom: inherit;
          @include mqmax(desktop_large) {
            height: 15px;
            width: 15px;
          }
        }
      }
      button{
        border-radius: 3px !important; 
        -webkit-border-radius: 3px !important; 
        -moz-border-radius: 3px !important; 
        height: 15px;
        width: 15px;
        background: #fff;
        margin-bottom: 4px;
        margin-left: 5px;
        margin-right: 5px;
        @include mqmax(desktop_large) {
          height: 10px;
          width: 10px;
        }
          
        &:before{
          content: '';
        }
      }
    }
  }
  .carousel-caption{
    bottom: 60px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0,0,0,1);
    @include mqmax(desktop_large) {
      font-size: 14px;
      bottom: 25px;
    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: Main Banners
----------------------------------------------------------------------------*/
