/*---------------------------------------------------------------------------*
 * Start: Main Our Products
----------------------------------------------------------------------------*/
.wrapper-dm-products{
  width: 100%;
  min-height: 10px;
  padding-bottom: 60px;
}

#carousel-dm-products{
  .slick-dots{
    bottom: -50px;
    li{
      min-width: 20px;
      width: initial;
      &.slick-active{
        button{
          height: 15px;
          width: 15px;
          margin-bottom: inherit;
          background: $c_bg_pink;
        }
      }
      button{
        border-radius: 50% !important; 
        -webkit-border-radius: 50% !important; 
        -moz-border-radius: 50% !important; 
        height: 15px;
        width: 15px;
        background: $c_gris_medio;
        margin-bottom: 4px;
        margin-left: 5px;
        margin-right: 5px;

        &:before{
          content: '';
        }
      }
    }
  }
}
.dm-products{ 
  height: 165px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  &:hover{
    &:after{
      background: rgba(0,0,0,0.0);

    }
    .dm-products__info{
      text-shadow: 1px 2px 5px rgba(0,0,0,1);
    }
  }  
  &--opacity{
    &:after{
      content:'';
      width:100%;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0,0.4);
      top: 0;
      left: 0;
      /*Chrome, Safari*/
      -webkit-transition: all 1s;
      /*Firefox*/
      -moz-transition: all 1s;
      /*Opera*/
      -o-transition: all 1s;
      /*Standard*/
      transition: all 1s;
    }

  }  
  &__wrapper-info{
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: 1;

  }
  &__info{
    display: table-cell;
    vertical-align: middle;
    &--text-right{
      text-align: right;
    }
  }  
  &__title{
    padding: 0;
    margin: 2px 0;
    h3{
      color : $c_blanco;
      font-size : 24px;
      @include mqmax(tablet) {
        font-size: 18px;
      }
    }
  }
  &__link{
    padding: 2px 0;
    margin: 5px 0;    
    a{
      color : $c_blanco;
      @include mqmax(tablet) {
        font-size: 14px;
      }
    }
  }
}


/*---------------------------------------------------------------------------*
 * Endof: Main Our Products
----------------------------------------------------------------------------*/
