.wrapper-our-services{
  width: 100%;
  min-height: 10px;
  padding: 10px 0;
  &__title{
    font-size: $font_size_subtitle_main;
    color: $c_semiblulight;
    padding: 10px 0;
    margin: 10px 0;
    h2{
      text-align: center;
      span{
        color: $c_rojo_patron;
      }
    }
  }
  &__items{
    width: 100%;
    min-height: 10px;
    padding: 20px 0;
    #carousel-dm-services{
      .slick-dots{
        bottom: -50px;
        li{
          min-width: 20px;
          width: initial;
          &.slick-active{
            button{
              height: 15px;
              width: 15px;
              margin-bottom: inherit;
              background: $c_bg_pink;
            }
          }
          button{
            border-radius: 50% !important; 
            -webkit-border-radius: 50% !important; 
            -moz-border-radius: 50% !important; 
            height: 15px;
            width: 15px;
            background: $c_gris_medio;
            margin-bottom: 4px;
            margin-left: 5px;
            margin-right: 5px;
    
            &:before{
              content: '';
            }
          }
        }
      }
    }
  }
}

.our-services{
  -webkit-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
  -moz-box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
  box-shadow: 0px 4px 5px -2px rgba(173,173,173,1);
  /*-webkit-border-radius:10px 10px 10px 10px;
  -moz-border-radius:10px 10px 10px 10px;
  border-radius:10px 10px 10px 10px;*/
  border: solid 1px $c_gris; 
  &__img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
    i{
      font-size: 38px;
      display: block;
      color: $c_blanco;      
    }
  }
  &__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    -webkit-border-radius:0 15px 0 0;
    -moz-border-radius:0 15px 0 0;
    border-radius:0 15px 0 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; 
      
    &--rojo
    {
      background: $c_rojo_patron;
    }
    &--plomo
    {
      background: $c_oscuro_patron;
    }
  }
  &__title-h{
    width: 70%;
    h3{
      color : $c_blanco;
      font-size : $font_size_s_subtitle_main;
    }
  }
  &__icon{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    color: $c_blanco;
    background-size: cover;
    /*&--coh{
      background-image: url('../img/rocket-ship-svgrepo-com.svg');
      background-size: cover;
    }
    &--hand{
      background-image: url('../img/dar-un-regalo.svg');
      background-size: cover;
    }   
    &--sombrero{
      background-image: url('../img/mortarboard.svg');
      background-size: cover;
    }   
    &--partner{
      background-image: url('../img/partner.svg');
      background-size: cover;
    }*/
  }   
  &__info{
    padding: 10px;
    border: solid 1px $c_gris; 
    border-top : none;
    /*-webkit-border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    border-radius:0px 0px 10px 10px;  */  
  }
  &__info-p{
    height: 130px;
    p{
      color: $c_texto_gris_medio;
      line-height: 24px;
      text-align: justify; 
    }
  }
}


/*---------------------------------------------------------------------------*
 * Endof: Main Our Products
----------------------------------------------------------------------------*/

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-25%;
      }
      &.right{
        left:25%;
      }
    }
    .next{
      left: 25%;
    }
    .prev{
      left: -25%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 1000ms ease-in-out left;
        transition: 1000ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}



