/*---------------------------------------------------------------------------*
 * Start: Main Sales
----------------------------------------------------------------------------*/
.wrapper-sales{
  width: 100%;
  min-height: 10px;
  @include mq(tab_large) {
    div[class*="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }  

  padding: 10px 0;
}

.sales-post{
  position: relative;
  width: 100%;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  &__opacity{
    &:after{
      content:'';
      width:100%;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0,0.4);
      top: 0;
      left: 0;
      /*Chrome, Safari*/
      -webkit-transition: all 1s;
      /*Firefox*/
      -moz-transition: all 1s;
      /*Opera*/
      -o-transition: all 1s;
      /*Standard*/
      transition: all 1s;
    }

  }
  
  @include mqmax(tablet) {
    margin: 5px 0;
  }
  &:hover{
    &:after{
      background: rgba(0,0,0,0.0);

    }
    .sales-post__info{
      text-shadow: 1px 2px 5px rgba(0,0,0,1);
    }
  }
  &__icon-heart{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    i{
      color: $c_blanco;
      cursor: pointer;
      &:hover{
        color:$c_bg_pink;
      }
    }
    &--active{
      i{
        color:$c_bg_pink;
      }
    }
  }

  &__info{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    width: 275px;
  }
  &__title-post{
    width: 100%;
    height: 80px;
  }  
  &__title{
    margin-bottom: 3px;
    h2{
      color: $c_blanco;
      font-size: 32px;
      font-weight: bold;
      text-align: right;
      line-height: 29px;
      @include mqmax(tablet) {
        font-size: 18px;
      }
    }
  }
  &__country{
    margin-bottom: 5px;
    h3{
      color: $c_blanco;
      font-size: 18px;
      font-weight: normal;
      text-align: right;
      @include mqmax(tablet) {
        font-size: 14px;
      }
    }
  }
  &__info-small{
    span{
      font-size: 14px;
      color: $c_blanco;
      text-align: right;
      display: block;
      @include mqmax(tablet) {
        font-size: 12px;
      }
    }
  }
  &__price{
    overflow: hidden;
    height: 30px;
    min-width: 10px;
    float: right;
    margin: 3px 0;
  }  
  &__price-cant{
    float: left;
    font-size: 26px;
    color: $c_blanco;
    font-weight: bold;
  }  
  &__price-corruncy{
    float: left;
    color: $c_blanco;
    margin-left: 5px;
    margin-top: 5px;
  }  
  &__button{
    clear: both;
    text-align: right;
    button{
      background: $c_bg_button2;
      color: $c_texto_button2;
      padding: 3px 8px;
      font-size: 12px;
      &:hover{
        color: $c_texto_hover_button2;
        background: $c_button2_hover;
      }
    }
  }        
}

/*---------------------------------------------------------------------------*
 * Endof: Main Sales
----------------------------------------------------------------------------*/
