.menu{
    display: table-cell;
    vertical-align: middle;
    height: $height_header;
    &__logo{
        display: none;
        margin-bottom: 20px;
        @include mqmax(container) {
            display: block;
        }
        a{   
            display: block;    
            img{
                display: block;
                margin: auto;
                width: 175px;
                
                @include mqmax(tablet) {
                    width: 150px;   
                }   
                @include mqmax(mobile_medium) {
                    width: 100px;  
                }                         
            }
        }
    }
    @include mqmax(container) {
        height: $height_header_dlarge;
    }
    @include mqmax(tablet) {
        height: $height_header_tablet;
    }      
    &.fixed{
        position: fixed;
        z-index: 1000000;
        top: 0;
    }
    &.open-subm{
        .menu__items-sub{}
    }
    &__items{
        -webkit-transition: 0.2s left;
        -moz-transition: 0.2s left;
        -o-transition: 0.2s left;
        transition: 0.2s left;        
        @include mqmax(container) {
            position: fixed;
            left: -80%;
            background:$c_blanco;
            top: 0;
            width: 80%;
            height: 100%; 
            z-index: 1000; 
            padding: 20px 50px;                    
        }
        @include mqmax(tablet) {
            padding: 20px;    
        }            
        &--open{
            left: 0;
            @include mqmax(container) {
                -webkit-box-shadow: 10px 2px 25px -15px rgba(71,71,71,1);
                -moz-box-shadow: 10px 2px 25px -15px rgba(71,71,71,1);
                box-shadow: 10px 2px 25px -15px rgba(71,71,71,1);   
                overflow: auto;           
            }
        }        
        &>ul{
            list-style: none;
            margin:0;
            padding: 0;
            width: 100%;
            border: none;
            display: flex;
            justify-content: space-around;   
            @include mqmax(container) {
                flex-direction: column; 
            }               
               
            &>li{
                margin: 0;
                padding: 0;
                border: none;
                text-align: center;
                position: relative;
                &.sub-menu{
                    @include mqmax(container) {
                        &:after{
                            content: '\e80a';
                            color: $c_rojo_patron;
                            font-family: "fontello";
                            position: absolute;
                            right: 0;
                            top: 12px;
                            font-size: 16px;
                            transition: all 0.1s;
                        }                    
                        &--open{
                            &:after{

                                transform: rotate(-180deg);
                                -webkit-transform: rotate(-180deg);
                                -moz-transform: rotate(-180deg);
                                -o-transform: rotate(-180deg);                            
                            }                         
                        }
                    }

                }
                @include mqmax(container) {
                    text-align: left;
                }
                @include mq(container) {
                    &:hover{
                        ul{
                            display: block !important;
                            position: absolute;
    
                        }
                    }
                }                 

                &>a{
                    height: 45px;
                    line-height: 45px;
                    background: none;
                    color: #fff;
                    width: 100%;
                    display: block;
                    border: none;
                    font-size: $font_size_base * 1.3;
                    @include mqmax(container) {
                        color: $c_oscuro_patron;
                        font-size: $font_size_title_m;
                        font-family: 'Intelo-semibold';
                        height: 40px;
                        line-height: 40px;
                    } 
                    @include mqmax(mobile_medium) {
                        font-size: $font_size_title_m;
                    }  
                                       
                    &:hover{
                        background: $c_rojo_patron;
                        @include mqmax(container) {
                            background: $c_blanco;
                        } 
                    }
                    &.active{
                        background: $c_rojo_patron;
                        @include mqmax(container) {
                            background: $c_blanco;
                        }                         
                    }
                   
                }
                ul{
                    background: rgba(0,0,0,1);
                    left: -70px;
                    width: 200px;
                    display: none;
                    position: absolute;
                    @include mqmax(container) {
                        background: rgba(255,255,255,1);
                        font-size: $font_size_stitle;
                        padding-left: 20px;
                        position: initial;
                    }                     
                    li{
                        a{
                            height: 45px;
                            line-height: 45px;
                            background: none;
                            color: #fff;
                            width: 100%;
                            display: block;
                            border: none;
                            font-size: 14px;   
                            @include mq(container) {
                                &:hover{
                                    background: $c_gris_oscuro;
                                }
                            }                                                         

                            @include mqmax(container) {
                                color: $c_oscuro_patron;
                                height: 27px;
                                line-height: 27px;
                                font-size: $font_size_title_m;
                            }                             
                        }
                    }
                }                  
            }
        }
        
    }

    &__button-close{
        width: 35px;
        height: 35px;
        display: none;
        cursor: pointer;
        position: absolute;
        right: 6px;
        top: 10px;
        @include mqmax(container) {
            display: block;
        }           
        button{
            width: 35px;
            height: 35px;
            border: none;
            font-size: 0;
            position: relative;
            cursor: pointer;
            background: none;
            span{
                display: block;
                position: absolute;
                height: 3px;
                width: 27px;
                opacity: 1;
                left: 4px;
                transform: rotate(0);
                transition: 0.25s ease-in-out;
                transform-origin: left center;
                background: $c_oscuro_patron;
                border-radius: 4px;
                &:first-child {
                    top: 12px;
                    left: 9px;
                    transform: rotate(0deg);
                }   
                &:nth-child(2) {
                    top: 16px;
                    left: 9px;                                  
                    transform: rotate(0deg);
                }              
            }

        }  
        
        &--open{
            button span{
                &:first-child{
                    top: 5px;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    top: 24px;
                    transform: rotate(-45deg);
                }
            }
            
        }        
    }    
    &__button-burger{
        width: 35px;
        height: 35px;
        float: left;
        display: none;
        @include mqmax(container) {
            display: block; 
        }   
        @include mqmax(tablet) {
            margin-left: 8px;  
        }        
           
        button{
            width: 35px;
            height: 35px;
            border: none;
            font-size: 0;
            position: relative;
            cursor: pointer;
            background: none;
            span{
                display: block;
                position: absolute;
                height: 3px;
                width: 27px;
                opacity: 1;
                left: 4px;
                transform: rotate(0);
                transition: 0.25s ease-in-out;
                transform-origin: left center;
                background: $c_blanco;
                border-radius: 4px;
                &:first-child {
                    top: 5px;
                }   
                &:nth-child(2) {
                    top: 14px;
                }                     
                &:nth-child(3) {
                    top: 23px;
                }
            }

        }
        &--open{
            button
                span{
                    &:first-child {
                        top: 5px;
                        left: 9px;
                        transform: rotate(45deg);
                    }   
                    &:nth-child(2) {
                        width: 0;
                        opacity: 0;
                    }                     
                    &:nth-child(3) {
                        top: 24px;
                        left: 9px;
                        transform: rotate(-45deg);
                    } 
                }           
        }  
        @include mqmax(tablet) {
            button span{
                background: $c_rojo_patron;
                height: 4px;
                width: 24px;
            }            
        }                
    }
   
  }

// .menu-mobile{
//     &__button-burger{
//         width: 35px;
//         height: 35px;
//         float: left;
//         margin-top: 5px;
//         margin-left: 5px;
//         button{
//             width: 35px;
//             height: 35px;
//             border: none;
//             font-size: 0;
//             position: relative;
//             background: $c_blanco;
//             cursor: pointer;
//             span{
//                 display: block;
//                 position: absolute;
//                 // border-radius: 16px;
//                 height: 6px;
//                 width: 27px;
//                 opacity: 1;
//                 left: 3px;
//                 transform: rotate(0);
//                 transition: 0.25s ease-in-out;
//                 transform-origin: left center;
//                 background: $c_rojo_patron;
//                 &:first-child {
//                     top: 5px;
//                 }   
//                 &:nth-child(2) {
//                     top: 14px;
//                 }                     
//                 &:nth-child(3) {
//                     top: 23px;
//                 }
//             }

//         }
//         &--open{
//             button
//                 span{
//                     &:first-child {
//                         top: 5px;
//                         left: 9px;
//                         transform: rotate(45deg);
//                     }   
//                     &:nth-child(2) {
//                         width: 0;
//                         opacity: 0;
//                     }                     
//                     &:nth-child(3) {
//                         top: 24px;
//                         left: 9px;
//                         transform: rotate(-45deg);
//                     } 
//                 }           
//         }        
//     }

//     &__items{
//         width: 100%;
//         background: rgb(255, 255, 255);
//         position: absolute;
//         top: $height_header_dlarge;
//         z-index: 100000;
//         left: 0;
//         padding: 5px;
//         -webkit-transition: 0.2s all;
//         -moz-transition: 0.2s all;
//         -o-transition: 0.2s all;
//         transition: 0.2s all;
//         -webkit-box-shadow: -1px 9px 19px -5px rgba(0,0,0,0.75);
//         -moz-box-shadow: -1px 9px 19px -5px rgba(0,0,0,0.75);
//         box-shadow: -1px 9px 19px -5px rgba(0,0,0,0.75);   
//         overflow: auto;

       

//         &.fixed{
//             position: fixed;
//         }
        
//         @include mq(tab_large) {
//             display: none;
//         }

         
        
//         &--open{
//             display: block;
//         }  

//         @include mqmax(tablet) {
//             left: -100%;
//             height: calc(100% - 60px);
//             border-right: solid 1px #c0c0c0;
//             width: 80%;
//             position: fixed;  
//             top: $height_header_tablet;        
//             &--open{
//                 left: 0;
//             }  
//         }

      
//         &ul{
//             list-style: none;
//             margin:0;
//             padding: 0;
//             width: 100%;
//             border: none;
//             display: flex;      
//             justify-content: space-around;  
//             @include mqmax(tablet) {flex-direction: column;
//             }              
//             li{
//                 display: table-cell;
//                 margin: 0;
//                 padding: 0;
//                 border: none;
//                 text-align: center;
//                 @include mqmax(tablet) {
//                      display: block;
//                      text-align: left;
//                      margin: 2px 0;
//                 }
//                 a{
//                     height: 45px;
//                     line-height: 45px;
//                     background: none;
//                     color: $c_rojo_patron;
//                     width: 100%;
//                     display: block;
//                     border: none;
//                     font-size: 14px;
//                     &.active{
//                         background: $c_rojo_patron;
//                     }
//                     @include mqmax(tablet) {
//                         padding: 2px 10px;
//                         border: $c_rojo_patron solid 1px;
//                         height: inherit;
//                         text-decoration: none;
//                    }                    
//                 }
//             }
//         }


//     }  
// }