.modal{
    @include mqmax(tablet) {
        align-items: baseline !important;
        justify-content: center !important;
    }    
    a{
        // color: $c_oscuro_patron;
    }    
    &-footer{
        border: none;
        button{
            display: none; 
        }
        a{
            font-weight: bold;
        }          
    }
    &-header{
        border-bottom: none;
        position: relative;
        h4{
            color: $c_rojo_patron;
            text-align: center;
            font-size: $font_size_base * 2;
        }
        button.close{
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
        }
    }
    &-body{
        &__a-center{
            margin: 10px 0;
            text-align: center;
            display: block;
        }  
    }  
}

#success_forget_password1,#success_forget_password2,#success_forget_password3,#success_forget_password4{

    align-items: center;
    text-align: center;

    .modal-dialog
    {
        margin: auto;
        width: 100%;
        max-width: 700px;
        height: 300px;
        
        @include mqmax(mobile) {  
            width: 50%; 
        }
        @include mqmax(tablet) {
            width: 90%; 
        }
        .modal-content{

            .modal-header{
                padding: 5px;
            }
            h2{
                color:$c_rojo_patron;
                font-weight: bold;                
                text-align: center;
                @include mqmax(mobile) {  
                    font-size:$font_size_title_m; 
                }
                @include mqmax(tablet) {
                    font-size:$font_size_title_m;
                }
            }
            h3{
                font-weight: bold;                
                text-align: center;
                color:$c_oscuro_patron;
                @include mqmax(mobile) {  
                    font-size:$font_size_stitle_m; 
                }
                @include mqmax(tablet) {
                    font-size:$font_size_stitle_m;
                }
            }
            h4{
                text-align: center;
                color:$c_oscuro_patron;
                @include mqmax(mobile) {  
                    font-size:$font_size_stitle_m; 
                }
                @include mqmax(tablet) {
                    font-size:$font_size_stitle_m;
                }                
            }
            a{  
                font-size:$font_size_stitle;
                color:$c_oscuro_patron;
                @include mqmax(mobile) {  
                    font-size:$font_size_stitle_m; 
                }
                @include mqmax(tablet) {
                    font-size:$font_size_stitle_m;
                }
            }
        }
    }
}

#success-register{
    align-items: center;
    p{
        text-align: center;
    }
    .modal-header{
        h4{
            font-weight: bold;
        }
    }
}

#success_actualizacion_datos{
    align-items: center;
    text-align: center;
    .modal-dialog{
        margin: auto;
        .modal-content{
            height: 180px;
        }
        p{
            text-align: center;
        }
        .modal-header{
            padding-bottom: 0px;
            padding-top: 30px;
            i{
                font-size: 50px;
                display: inline-block;
                color:$c_rojo_patron;    
                font-weight: normal;        
            }
        }
        .modal-body{
            padding-top: 35px;
            p{
                font-size: $tempo;
            }
        }
    }

}

#success_change_password{
    align-items: center;
    p{
        text-align: center;
    }
    .modal-header{
        text-align: center;
        h4{
            font-weight: bold;
        }
        i{
            font-size: 65px;
            margin: auto;
            display: inline-block;
            color:$c_rojo_patron;            
        }
    }
}

#modal_sure_register_you_pay{
    align-items: center;
    .modal-header{
        text-align: center;
        i{
            font-size: 65px;
            margin: auto;
            display: inline-block;
            color:$c_bg_green;
        }
    }
    .modal-body{
        p{
            text-align: center;
            color: $c_oscuro_patron;
            font-weight: bold;
        } 
        table{
            width: 250px;
            margin: 15px auto;
        
        }
    }
 
}

#modal_success_service_customer{
    align-items: center;
    .modal-dialog{
        width: 450px;
    }
    .modal-header{
        text-align: center;
        i{
            font-size: 65px;
            margin: auto;
            display: inline-block;
            color:$c_bg_green;
        }
    }
    .modal-body{
        p{
            text-align: center;
            color: $c_black;
            line-height: 35px;
        }
    }
 
}

#modal-select-method-credit{
    align-items: center;
    .modal-dialog{
        width: 800px;
    }
    .modal-header{
        text-align: center;
        i{
            font-size: 65px;
            margin: auto;
            display: inline-block;
            color:$c_rojo_patron;
        }
    }
    .modal-body{
        padding: 30px;
        h5{
            font-weight: bold;
        }
        p{
            text-align: left;
            color: $c_oscuro_patron;
            margin: 15px 0;
        } 
        ul{
            margin: 40px 0;
            li{
                margin: 7px 0;
                color: $c_oscuro_patron;
            }
        }
    }
 
}
#modal_requisito_reembolsos{
    .modal-content{
        border-radius: 10px;
    }
    .modal-dialog{
        width: 100%;
        max-width: 580px;
    }
    .modal-header{
        text-align: left;
        background-color: $c_rojo_patron;
        color: $c_blanco;
        font-size: $font_size_stitle;
        border-radius: 10px 10px 0 0;
        i{
            margin-right: 10px;
        }
    }
    .modal-body{
        p{
            text-align: center;
            color: $c_oscuro_patron;
            font-weight: bold;
        } 
    }
    table.table-agil-light {
        tr{
            height: 50px;
            td{
                label{
                    
                }
            }
        }
    }
    .wrapper-head-reem{
        overflow-x: auto;
    }
    .wrapper-detalle-reem{
        width: 95%;
        margin: auto;
        &__head{
            width: 100%;
            background-color: $c_oscuro_patron;
            color: $c_blanco;
            border-radius: 5px 5px 0 0;
            padding: 10px 0;
            h4{
                color: $c_blanco !important;
                padding-left: 10px;
            }
        }
        &__table{
            width: 100%;
            margin-bottom: 10px;
        }
    }    
 
}
#modal-success-register-you-pay{
    align-items: center;
    .modal-header{
        text-align: center;
        i{
            font-size: 65px;
            margin: auto;
            display: inline-block;
            color:$c_bg_green;
        }
    }
    .modal-body{
        p{
            text-align: center;
            color: $c_oscuro_patron;
            font-weight: bold;
        } 
    }
 
}
#modal-login{
    /* alineacion vertical */
    align-items: center;
     /* alineacion horizontal */
    padding-right: 0 !important;

    .modal-header{
        border: none;
        &__img{
            height: 100px;
            width: 30%;
            margin: auto;
            min-width: 150px;
            img{
                display: block;
                margin: auto;
            }
        }
        h4{
            color: $c_oscuro_patron;
            margin-top: 40px;
            font-size: $font_size_base * 2.5;
        }
    }
    .modal-footer{
        &__actions{
            ul{
                text-align: left;
                li{
                    display: inline-block;
                    font-size: $font_size_base*1.2;
                }
            }

        }
    }
    
}
#success_rep_incentivo{
    align-items: center;
    text-align: center;
    .modal-content{
        height: 180px;
    }
    .modal-header{
        padding-bottom: 0px;
        padding-top: 30px;
        i{
            font-size: 50px;
            display: inline-block;
            color:$c_rojo_patron;    
            font-weight: normal;        
        }
    }
    .modal-body{
        padding-top: 20px;
        p{
            font-size: $tempo;
        }
    }
}
#success_comisiones{
    align-items: center;
    text-align: center;
    .modal-content{
        height: 180px;
    }
    .modal-header{
        padding-bottom: 0px;
        padding-top: 30px;
        i{
            font-size: 50px;
            display: inline-block;
            color:$c_rojo_patron;    
            font-weight: normal;        
        }
    }
    .modal-body{
        padding-top: 20px;
        p{
            font-size: $tempo;
        }
    }
}
