.wrapper-form-oficinas{
    padding: 100px 0 50px 0;
    min-height: 77vh;
    .oficina-groups{
        .oficinas-detalle{
            margin: 36px 130px 20px 130px;
            .title-sede{
                font-size: $font_size_stitle;
                h1{
                    margin: 9px 0px 26px 0px;
                    color: $c_rojo_patron;
                    i{
                        color: $c_oscuro_patron ;
                        margin: 10px 10px;
                    }
                }
            }
            .desc-sede{
                margin: 20px 0px;
            }
            .mapa-sede{
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: #dedbdb;
                width: 481px;
                height: 135px;
                label{
                    margin: 10px 10px;
                }
            }
        }
    }
}