.wrapper-reembolsos{
    padding: 100px 0 50px 0;
    min-height: 77vh;
    color: $c_oscuro_patron;
    i{
        font-size: $font-size-base * 2;
    }
    .popover{
        width: 300px;
    }
}

.reembolsos{
    &__form{
        padding-left: 20px;
        form{
            padding: 20px 0;
        }
    }
    &__table{
        padding: 0 50px;
        overflow-x: auto;
        padding: 5px 45px;
        label.leyenda{
            color: $c_texto_error;
            font-size: $font_size_12;
        }
    }
    &__result{
        border-top: solid 1px $c_gris;
        padding: 26px 0;
        margin-left: 20px;
        table{
            thead{
                tr{
                    th{
                        &:nth-child(1){
                            width: 10% !important;
                        }
                        &:nth-child(2){
                            width: 10% !important;
                        }
                        &:nth-child(3){
                            width: 10% !important;
                        }
                        &:nth-child(4){
                            width: 10% !important;
                        }
                        &:nth-child(5){
                            width: 10% !important;
                        }
                        &:nth-child(6){
                            width: 5% !important;
                        }                                                                                                                        
                    }
                }
            }
        }
    }
}


