.wrapper-form-register-pay{
    padding: 100px 0 50px 0;
    min-height: 77vh;
    color: $c_oscuro_patron;
}
.form-register-you-pay{
    padding: 15px 0px;
    h3{
        margin: 10px 0 30px 0;
    }
    &--button-center{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    &--check-term{
        text-align: center;
        margin: 70px 0 20px 0;
        height: 15px;
    }

}
.method_pay{
    border-bottom: solid $c_gris 4px;
    padding: 10px 0;
    margin-left: 20px;
}
.periodo{
    border-bottom: solid $c_gris 4px;
    padding: 30px 0;
    display: none;
    margin-left: 20px;
}
.tarjeta{
    border-bottom: solid $c_gris 4px;
    padding: 30px 0;
    display: none;
    margin-left: 20px;
    table#tarjeta-table{
        width: 100%;
        margin: 15px 0;
        background: url('../img/bg_card.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 319px;
        tr{
            td{
                padding: 5px 10px;
                span{
                    color: $c_blanco;
                    font-size: $font-size-base * 1;
                }
            }
        }
        label.error{
            color: $c_texto_error_2;
        }
        
    }
    &__nro-tarjeta{

    }
    &__mes-vence{
        
    }
    &__agno-vence{
        
    }        
}
.reserva{
    border-bottom: solid $c_gris 4px;
    padding: 30px 0;
    display: none;
    margin-left: 20px;
    &__add-row,&__less-row{
        padding: 0px 8px;
        width: 31px;
        margin: 0 1px;
    }
    table{
        margin: 25px 0;
        width: 100%;
        tbody{
            tr{
                margin: 0;
                padding: 0;
                td{
                    padding: 0 5px;
                    margin: 0;
                    height: 40px;
                }
            }
        }
    }    
}

.atach_doc{
    border-bottom: solid $c_gris 4px;
    padding: 30px 0;
    display: none;
    margin-left: 20px;
    &__span-subt{
        span{
            font-size: $font-size-base * 1;
        }
    }
    &__seudo-input{
        box-sizing:content-box;
        height: 30px;
        line-height: 30px;
        width: 90%;
        font-size: $font_size_base * 1.2;
        padding: 5px 5%;
        outline: none;
        margin: 5px 0;
        border: 1px solid $c_border_input;
        border-radius: 4px;
        -webkit-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
        -moz-box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
        box-shadow: 2px 5px 2px -4px rgba(179,179,179,1);
        &--bold{
            font-weight: bold;
        }
        &--ncomp{
            font-weight: bold;
        }        
    }    
    table{        
        width: 100%;
        thead{
            th{
                margin: 0;
                padding: 0 5px;
                &:first-child{
                    width: 45px;
                    text-align: center;
                }
            }
        }
        tbody{
            tr{                
                td{
                    padding: 5px;
                    &:first-child{
                        width: 45px;
                        text-align: center;
                    }                
                }                
            }
        }
    }
}

.info_sale{
    padding: 30px 0;
    display: none;
    margin-left: 20px;
    &__group-adjunto{
        padding: 10px 0;
        min-height: 10px;
        background: #efefef;
        padding: 22px;
        margin: 10px 0;
        &--hide{
            display: none;
        }
        h3{
            font-weight: bold;
            font-size: $font_size_base * 1.8;
        }
    }
}