.wrapper-form-reporte_incentivos{
    padding: 100px 0 50px 0;
    min-height: 77vh;
}
.form-reporte_insentivos{

    margin: 20px 0px 0 0;
    .panel.panel-default {
        height: 260px;
    }
    &--button-center{
        max-width: 200px;
        display: block;
        margin: auto;
        
    }
}

.form-reporte_incentivos{
    .content-filter{

        .filter-seccion{
            .cls-form-header{
                font-weight: bold;
            }
            margin: 39px 124px 0px 124px;
            .content-filter-seccion{
                margin: 30px 47px 0px 47px;
            }
        }
        #frm_busqueda_rep_incentivo{
            .encabezado_form{
                margin: 0px 0px 0px 67px;
            }
        }
    }
    .content-result{
        display: none;
        .result-seccion{
            .content_table{
                #table_data_rep_incentivo{
                    thead{
                        .group-header{
                            .primary-header{
                                text-align: center;
                            }
                        }
                        .header-table{
                            th{
                                &:nth-child(1){
                                    width: 1% !important;
                                }
                                &:nth-child(2){
                                    width: 1% !important;
                                }
                                &:nth-child(3){
                                    width: 1% !important;
                                }
                                &:nth-child(4){
                                    width: 1% !important;
                                }
                                &:nth-child(5){
                                    width: 8% !important;
                                }
                                &:nth-child(6){
                                    width: 1% !important;
                                }  
                                &:nth-child(7){
                                    width: 1% !important;
                                }
                                &:nth-child(8){
                                    width: 8% !important;
                                }
                                &:nth-child(9){
                                    width: 1% !important;
                                }
                                &:nth-child(10){
                                    width: 5% !important;
                                }
                                &:nth-child(11){
                                    width: 1% !important;
                                }
                                &:nth-child(12){
                                    width: 1% !important;
                                }  
                                &:nth-child(13){
                                    width: 1% !important;
                                }
                                &:nth-child(14){
                                    width: 8% !important;
                                }                                                                                                                      
                            }
                        }
                    }
                }
            }
            .content_table_buttons{
                .email_error{
                    color: $c_rojo_patron;
                }
            }
        }
    }
}


