.wrapper-form-reporte_adminitrativo{
    padding: 100px 0 50px 0;
    min-height: 77vh;
    @include mqmax(desktop_large) {
        .Title-section{
            font-size: $font_size_title_m;
            margin: 20px;
        }
        .icon-attention-alt{
            font-size: $font_size_stitle_m;
        }
    }
}
.form-reporte_adminitrativo{
    margin: 20px 0px 0 0;
    .panel.panel-default {
        height: 260px;
    }
    &--button-center{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .panel-body{
        @include mqmax(desktop_large) {
            font-size: $font_size_base_m;
        }
    }
    .search_modreporte-adminitrativo{
        .perido-rango{
            .input-range{
                padding: 0px 0px 14px 14px;
            }
        }
        .modulo-alert{
            color: $c_rojo_patron ;
        }
        @include mqmax(desktop_large) {
            // i{
            //     font-size: $font_size_stitle_m;
            // }
            .form-horizontal, label, button{
                font-size: $font_size_base_m;
            }
            .textoPeriodo{
                display: none;
            }
            .input-range{
                padding:0px;
                .Input--with-icon-calender{
                    text-align: left;  
                    padding-left: 0px;             
                }
                label{
                    text-align: left;  
                    padding-left: 0px;                                 
                }
            }
            .textoDesde{
                padding-left:0px; 

            }
            .textoHasta{
                padding-top: 10px;
                padding-left:0px; 
            }
        }
    }
}

.wrapper-tabs{
    overflow: hidden;
    @include mqmax(desktop_large) {
        .button-export{
            font-size: $font_size_base_m;
            width: 80%;
            margin: auto;            
        }
        .Button{
            font-size: $font_size_base_m;
        }
    }
    .button-export{
        margin: 0px 0px 0px -38px;
        .Button--oscuro{
            font-size: 15px;
        }
    }
    .tabs_comprobante_boleto{
        overflow: hidden;
        height: 49px;
        .tabs{
            &--resaltar{
                color: $c_oscuro_patron !important;
                font-weight: bold;
                font-size: $font_size_stitle;
            }
            &--normal{
                color: $c_oscuro_patron !important;
                font-weight: normal;
                font-size: $font_size_stitle;
            }
        }
        @include mqmax(desktop_large) {
            .button-export{
                a{ 
                    font-size: $font_size_table_m;
                }
                text-align: right;

            }
        }

    }
   
}

.form-cuadro-estadistico{
    padding: 0 84px;
    overflow: hidden;
    margin: auto;
    .form{
        &-group{
          min-height: 36px !important;
          margin-bottom: 10px;
          input{
            @include mq(tab_large) {
              margin: 0 !important;
            }
          }
          .cuadro-estadistico{
            font-size: $font_size_stitle;
            .panel-default{
                border-radius: 10px;
                box-shadow: 1px 4px 6px #d4cdcd;
            }
              &.deuda{
                    .venta-comison{
                        border-right: solid 2px $c_gris;
                        overflow: hidden;
                        .control-label{
                            margin: 10px 0;
                            width: 48%;
                        }
                        table{
                            width: 90%;
                            margin: auto;
                            tr{
                                height: 40px;
                                td{
                                    &:nth-child(2){
                                        text-align: right;
                                    }
                                    label{
                                        padding: 0;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                    .vencida-enfecha{
                        table{
                            width: 90%;
                            margin: auto;
                            tr{
                                height: 40px;
                                td{
                                    &:nth-child(2){
                                        text-align: right;
                                    }
                                    label{
                                        padding: 0;
                                        margin: 0;
                                    }
                                }
                            }
                        }  
                    }                  
                    .detalle_tab{
                        margin: 0px;
                        text-align: left;
                        label{
                            margin: 0 10px;
                        }
                    }
              }
              &.linea-credito{
                  .detalle_tab{
                    label{
                        margin: 0 10px;
                    }
                  }
              }
              .detalle_tab{
                  text-align: center;
              }
          }

          .title-form-estad{
            text-align: center !important;
            &__deuda{
                color: $c_rojo_patron;
                text-align: center;
            }
            &__linea-credito{
                color:$c_oscuro_patron;
                text-align: center;
            }
           }
          .label--red{
              color: $c_rojo_patron ;
          }
          .progress{
            margin: 10px 19px 26px 20px;
            border-radius: 10px;
            &__deuda{
                width: 60%;
                background-color:$c_rojo_patron ;
                border-radius: 10px;
            }
            &__linea-credito{
                width: 15%;
                background-color:$c_oscuro_patron;
                border-radius: 10px;
            }
          }
          .Button--oscuro {
            font-size: 15px;
          }
        }
    }
}

.form-tabla-comprobantes{
    overflow: hidden;
    @include mqmax(desktop_large) {
        font-size:$font_size_table_m;
    }

}

.form-tabla-boletos{
    display: none;
    overflow: hidden;
    .content-boletos-result{
        table{
            thead{
                tr{
                    th{
                        &:nth-child(1){
                            width: 3% !important;
                        }
                        &:nth-child(2){
                            width: 10% !important;
                        }
                        &:nth-child(3){
                            width: 3% !important;
                        }
                        &:nth-child(4){
                            width: 11% !important;
                        }
                        &:nth-child(5){
                            width: 11% !important;
                        }
                        &:nth-child(6){
                            width:8% !important;
                        }  
                        &:nth-child(7){
                            width: 15% !important;
                        }
                        &:nth-child(8){
                            width: 6% !important;
                        }
                        &:nth-child(9){
                            width: 5% !important;
                        }
                        &:nth-child(10){
                            width: 5% !important;
                        }
                        &:nth-child(11){
                            width: 8% !important;
                        }
                        &:nth-child(12){
                            width:7% !important;
                        }   
                        &:nth-child(13){
                            width:13% !important;
                        }                                                                                                                   
                    }
                }
            }
        }
        
    }
}
