.wrapper-form-serv-cli{
    padding: 100px 0 50px 0;
    min-height: 77vh;
    color: $c_oscuro_patron;
    i{
        font-size: $font-size-base * 2;
    }
}
.form-serv-cli{
    padding-left: 20px;
    h3{
        margin: 10px 0 30px 0;
    }
    i{
        background: $c_blanco;
    }


    &__actions{
        text-align: center;
        button{
            display: inline-block;
            width: 200px;
        }
    }
    &__form-check{
        min-height: 35px;
    }
    .custom-radio-button{
        padding: 7px 0;
    }

}

#box-other-subject,#box-check-subject{
    display: none;
}
